[2022-07-12 03:47] shivamkm07 commented on #1004
/assign

[2022-07-12 06:40] mukundansundar commented on #1004
@shivamkm07 How does `dapr init --variant mariner`  sound? Will there be future variants? one for debug etc? Should CLI support those also?
@artursouza @ItalyPaleAle thoughts on this?

[2022-07-12 07:27] hongbaotong opened #1026 "Why discard the dapr-internal-grpc-port parameter？"
Why discard the dapr-internal-grpc-port parameter？

How do I set the internal grpc server port?

RELEASE NOTE: **ADDED** Added `dapr-internal-grpc-port` to `dapr run` options to set internal gRPC server port

[2022-07-12 18:14] berndverst commented on #1025
If `dapr run --` is executed, we can check that the `app-port` is already in use (desired).
If there is a command provided, then we can ensure that the `app-port` is not already in use!

[2022-07-13 04:56] mukundansundar commented on #1026
seems related to #876

[2022-07-13 05:03] mukundansundar commented on #1002
Closing this issue for now. If it persists, please create a new issue.

[2022-07-13 05:03] #1002 closed

[2022-07-13 05:04] mukundansundar commented on #978
Triaging this for v1.9

[2022-07-13 05:10] shivamkm07 commented on #1023
Verified the same behavior with CLI 1.8 as well

[2022-07-13 05:11] shivamkm07 commented on #1004
Yeah that looks good. WIll create a PR adding the flag to dapr init

[2022-07-13 05:28] shivamkm07 commented on #1009
Another flag could be added to dapr init for specifying custom folder which will be used instead of HomeDir to install dapr binaries as well as config files etc. Something like `dapr init --dapr-dir <path_to_local_dir>`

[2022-07-13 05:42] mukundansundar commented on #1023
IMO what `dapr` CLI should do is try to default to 3500 for HTTP or 50001 for gRPC via `dapr run` command, similar to `daprd`. But in the case of `dapr` CLI, it should check if the ports are available and then use that for the run, and if it is not available then a random port needs to be used which is the existing functionality.

[2022-07-13 05:46] mukundansundar commented on #1009
The issue here is `dapr` always looks to a particular path `~/.dapr/bin` for the `daprd` binary. If it is installed in some other location, each time `dapr` CLI is run, then it would need to know where the binary is installed at.
This needs more discussion.

[2022-07-13 05:48] pravinpushkar commented on #1001
@pravpuru Any luck with this? Did you try setting the default home dir to some other folder where you have full permissions and do `dapr init`

[code]

[2022-07-13 05:53] #884 closed

[2022-07-13 05:54] GFlisch commented on #1009
Hi @mukundansundar, could we imagine to add another environment variable only when this feature --dapr-dir is added. In this case the dapr exe can check if the environment variable exists. If not  it can take the default one ~/.dapr/bin?

[2022-07-13 06:04] pravinpushkar commented on #1009
Just looked at the code - `dapr run` command is picking the bin dir from https://github.com/dapr/cli/blob/747dc3f7aeeb525e1f71762e4986bd0e11f54442/pkg/standalone/run.go#L293

https://github.com/dapr/cli/blob/747dc3f7aeeb525e1f71762e4986bd0e11f54442/pkg/standalone/common.go#L30

So, it seems if we provide an alternate install path then dapr run should pick the binary correctly ?

[2022-07-13 06:07] mukundansundar commented on #953
@artursouza @yaron2 @msfussell Should this be changed in `daprd` binary flags as well? As `dapr` CLI just passes on the value to the `daprd` executable.
From `daprd -help`
[code]
In this case I also prefer the `--resources-path` instead of `spec-resources-path`.

[2022-07-13 16:15] yaron2 commented on #1004
We should not support a non-configurable flag for images. Please choose a more descriptive name than `variant`, which to me gives associations to COVID :)

[2022-07-14 15:23] ItalyPaleAle commented on #1004
`--tag` or `--image-tag`?

[2022-07-14 17:15] mukundansundar commented on #1004
It is very easy to confuse with actual container tags.

Whereas mariner is actually a different variant.

[2022-07-15 23:15] greenie-msft opened #1027 "Scaffold a Resiliency CRD with "smart" defaults when dapr init is executed"
With the addition of [default policies](https://github.com/dapr/dapr/pull/4906), Dapr should scaffold a default resiliency.yaml that includes "smart defaults" when "dapr init" is executed.

The scaffolded default policies will be used if there are no specific policies set for the targets. Default policies can easily be over-written or customized with user-defined named policies.

[2022-07-16 09:09] pravinpushkar commented on #641
@kinosang  @mukundansundar  I could not reproduce the issue, below is output from ActorClient -
[code]

[2022-07-16 23:14] mukundansundar commented on #641
Closing this issue as it's not reproducible. Please create a new issue if this occurs again.

[2022-07-16 23:14] #641 closed

[2022-07-18 09:37] mukundansundar opened #1028 "Change `dapr annotate` command to use a `--set` based model"
## Describe the proposal
As it exists, in `dapr annotate` command, we have a flag defined for each annotation. That in itself has defined a huge number of flags for that particular command also there are slight variations between the flag in `dapr annotate` command the one annotations themselves. For eg: for most of the sidecar based annotations, the sidecar prefix is left off like `cpu-limit` or

[2022-07-18 09:55] jjcollinge commented on #1028
thanks @mukundansundar this proposed change sounds good to me if we assume `dapr annotate` would only really be used by users who are familiar with the existing flags/settings - we should probably link to the docs page in the help message so people can look up the keys easily. I think it might also make sense to have some basic key validation to help the users set the dapr annotations correctly ra

[2022-07-18 13:06] mukundansundar commented on #1028
I am all for adding validation and if we can keep it in sync with little less work then we should go for it.
Though I am wondering if dapr.io needs to made optional ? Will there be a use case where the user will use this command to automate setting of other annotations other than dapr ones and in that case how will we identify dapr specific annotations ?

[2022-07-19 16:24] artursouza commented on #1027
I would, first, have it as its own command: `dapr resiliency init` and `dapr resilency init -k`. Since resiliency is not a stable feature yet, having it on the main init path can cause unintended behavior change.

[2022-07-20 06:43] mukundansundar commented on #1027
I agree that in the main init path it might cause unintended change in behavior. But do we need a separate command just for init which will then rolled back into init main path once resiliency becomes stable?
Can it be something like a subcommand `dapr init resiliency` or since resiliency is related to configuration should it be part of `dapr configurations` command. One change to the configuratio

[2022-07-20 06:50] shivamkm07 commented on #1004
Since mariner is essentially a distribution, we can use something like `--image-distribution`, but then it would only allow different distributions as it's values.
If we want more generic flag for other variants as well, `--image-variant` seems more appropriate to me. Any other suggestions @yaron2?

[2022-07-20 12:38] rabollin opened #1030 "DAPR CLI - Windows Installer with Winget tool"
## Create a proper installer package for Windows CLI using Winget tool.

The winget command line tool enables users to discover, install, upgrade, remove and configure applications on Windows 10 and Windows 11 computers. This tool is the client interface to the Windows Package Manager service.

windows Dapr CLI is given as powershell script that requires multiple steps to be followed by user. One

[2022-07-20 12:46] rabollin commented on #1030
/assign

[2022-07-20 12:54] mukundansundar commented on #1030
duplicate of #424 . @rabollin Please assign that to yourself.

[2022-07-20 12:54] #1030 closed

[2022-07-20 16:06] ItalyPaleAle commented on #1004
I don't know how I feel about `distribution` as it's not a word commonly-used in the Docker world. Also, there's so few things inside those images that they hardly can be considered a "distribution".

`--image-variant` still seems the most appropriate imho. Just make sure we don't start publishing variants with greek letters as names 🙃

[2022-07-22 03:59] mukundansundar commented on #257
Not stale

[2022-07-22 09:10] #952 closed

[2022-07-23 03:36] mukundansundar opened #1031 "Install sentry as container or as binary in slim/from-dir mode"
## Describe the proposal
Related to https://github.com/dapr/dapr/issues/4924
For users wanting to use sentry in self-hosted mode, they have to manually download the sentry version start it and then use it.
Optionally, dapr cli can install sentry on init with either pulling down the container (with opt-in flag(--enable-mtls)) or binary when its a slim mode or air gapped installation.

This would po

[2022-07-23 03:37] mukundansundar commented on #1031
@yaron2 @pravinpushkar @artursouza Wdyt?

[2022-07-23 03:44] mukundansundar opened #1032 "Have convenience commands to run placement, sentry binary when available"
## Describe the proposal

As it exists placement binary is downloaded and installed in slim init mode, and a proposal have been created for sentry for the same behavior.https://github.com/dapr/cli/issues/1031

With binaries being present locally in a known location ~/.dapr/bin, should we include a convenience command via dapr cli to run placement/sentry binary with sane defaults? For example `dapr

[2022-07-29 13:40] #842 closed

[2022-08-01 01:58] shubham1172 commented on #974
Shall we close this due to inactivity? /cc @mukundansundar

[2022-08-01 12:11] shubham1172 opened #1034 "Dapr stop should support stopping independent daprd processes in Windows"
## Describe the proposal
Today Windows uses named events to kill the CLI process in Windows when `dapr stop` is used.
https://github.com/dapr/cli/blob/6d3026b0cc237b6fc74353ed883846594dca22ab/cmd/shutdown_windows.go#L33-L41

Unlike Linux/Darwin, independent Daprd processes cannot be killed on Windows.

Potential solution
- Use an alternative like Taskkill with graceful shutdown (earlier removed in

[2022-08-02 05:03] #220 closed

[2022-08-02 08:18] akhilac1 opened #1035 "Dapr CLI should support multiple runtime versions - not just the latest"
## Describe the proposal

dapr cli should support running multiple versions of Dapr runtime in the standalone mode.  Officially upto two previous releases of Dapr runtime are supported and the same should be true when running Dapr through CLI

## Release Note

RELEASE NOTE: **UPDATE** DAPR CLI supports upto 2 releases of Dapr Runtime dependency.

RELEASE NOTE:

[2022-08-02 08:18] akhilac1 commented on #1035
@mukundansundar

[2022-08-03 18:33] lukeschlather commented on #807
I'm confused by the assertion that Dapr needs to have a single key to work without downtime. Why can't Dapr simply support multiple root certificates?

[2022-08-04 08:47] AndrewBabbitt97 commented on #424
Looks like this should be significantly easier now due to portable packages in [winget 1.3](https://devblogs.microsoft.com/commandline/windows-package-manager-1-3/)

[2022-08-04 12:17] mukundansundar commented on #1035
@akhilac1 Could you provide some details on the use case scenarios?

[2022-08-08 17:35] ItalyPaleAle opened #1038 "`dapr run` should have a generic `--daprd-flags` option"
## Describe the proposal

Right now, the Dapr CLI has a number of flags to pass options to `daprd`. However,  only the flags that are allowed in the CLI can be passed.

For end users, this means that only flags that have been explicitly allow-listed by the Dapr CLI can be passed (and there are lots of flags missing today).

For developers working on Dapr, it makes it harder to test new CLI flags w

[2022-08-09 08:17] #1026 closed

[2022-08-10 12:07] kse3hi commented on #454
I have the same issue.

[2022-08-11 06:07] #932 closed

[2022-08-11 06:49] mukundansundar commented on #1025
The option that I see here is to do something similar to what the FreePort method does, make a connection to an incoming port and see if it is free or not and then close connection if it is free ... That though would increase the delay for run IMO ... WDYT?

[2022-08-11 08:07] mukundansundar commented on #1025
This is partially already available ie checking if a port is already being used for HTTP, gRPC and metrics port ...
[code]
in two different shells, you will get the error
[code]
The only enhancement needed here is when `dapr run` has an app command to run, then the app port must not be an existing app port and that should error out similar to what we see above.

[2022-08-11 10:16] BjoernAtBosch opened #1043 "Installing Dapr runtime via dapr init not working"
The same or similar issue was already reported here: https://github.com/dapr/docs/issues/2674
(Maybe wrong repo - therefore creating this new bug report here)

## Expected Behavior

Due to Dapr documentation is should be possible to install the Dapr runtime with either
`dapr init` or
`dapr init --runtime-version 1.8.1`.

## Actual Behavior

Trying this with Dapr cli v1.8.0 is resulting in an error

[2022-08-11 16:26] mayoatte opened #1044 "RBAC for Dapr CLI Commands (Kubernetes)"
## Ask your question here

What roles and permissions are required to run the various Dapr CLI commands? We are trying to automate some of the operations (e.g. cert rotation) and it is very difficult to figure out what permissions are necessary.

- A k8s service account with namespace admin to the dapr-system namespace cannot perform `dapr status -k`
- A k8s service account with a clusterrolebindi

[2022-08-11 17:37] sjwl commented on #415
this workaround allowed `dapr init` to use my personal github credentials, which avoided the rate limitation.

1. create `~/.netrc` file
2. populate with the following
[code]
3. `chmod 600 ~/.netrc`

[2022-08-11 20:02] mayoatte commented on #1044
Apologies.

I can confirm that giving a service account `dapr-operator-admin` allows it to run `dapr status -k`

[2022-08-12 07:20] Lichmaker opened #1047 "How can i run `dapr init` using proxy"
[code]

Due to the particularity of my local network, I have to use a proxy to access Docker Hub.
I dont know if this is runing the command `docker pull` or something.
I already set up my https_proxy environment variable.
[code]

So if there is anyway to run `dapr` using proxy. please tell me :) thanks a lot

[2022-08-12 08:52] TilmannBach commented on #1043
same problem here with corporate proxy (proxy without authentication). it is working in dapr cli 1.7.1 but not in 1.8.0/1.8.1

[2022-08-12 12:14] TilmannBach commented on #1043
there is a similar closed issue from the past: https://github.com/dapr/cli/issues/454

[2022-08-12 15:48] yaron2 commented on #953
Yes this should be a `daprd` flag as well.

[2022-08-12 16:37] pravinpushkar commented on #1043
@BjoernAtBosch Could you please check if doing wget or direct download of binaries works for 1.8.1. for example wget of below url -
`❌  error downloading dashboard binary: Get "https://github.com/dapr/dashboard/releases/download/v0.10.0/dashboard_linux_amd64.tar.gz": dial tcp: lookup github.com on 127.0.0.53:53: no such host`

2. If it does work then could you please set `export DAPR_DEFAULT_IMAGE

[2022-08-15 02:03] Lichmaker commented on #1047
It seems the same issue with the corporate proxy network. https://github.com/dapr/cli/issues/1043

[2022-08-15 02:32] Lichmaker commented on #1043
I have the same issue with my corporate proxy.

[code]

[2022-08-15 11:47] BjoernAtBosch commented on #1043
@pravinpushkar:
Download with wget is working:
[code]

Setting the env variable doesn't help:
[code]
(same for latest CLI 1.8.1)

[2022-08-15 21:49] sjwl commented on #1043
I think this PR broke `dapr init` via proxy: https://github.com/dapr/cli/pull/994/files

The above PR replaced the default `net/http` client with an explicit client, but the explicit client doesn't setup `http.Transport.Proxy`.

[2022-08-16 00:48] Lichmaker commented on #1047
I think it's the same problem in proxy. That issue is working on it. So I close this one. :>

[2022-08-16 00:48] #1047 closed

[2022-08-16 01:02] Lichmaker commented on #1043
[code]

`Transport.Proxy` default value is nil. May the problem here?

[2022-08-16 04:45] pravinpushkar commented on #1043
@BjoernAtBosch @Lichmaker Thanks for checking this out with `GHCR` and wget. I do not have any proxy setup in my machine. Would you be able to verify by reverting this [PR](https://github.com/dapr/cli/pull/994) locally and send a PR for the fix needed ?

FYI @hueifeng @mukundansundar

[2022-08-16 04:51] pravinpushkar commented on #1001
@pravpuru Did you get a chance to try above suggestion, basically by setting a different home directory ?

[2022-08-16 06:47] Lichmaker commented on #1043
https://pkg.go.dev/net/http#ProxyFromEnvironment

http.ProxyFromEnvironment can fix this issue. And it's worked in my corporate network with proxy.
So I send this [PR](https://github.com/dapr/cli/pull/1048). Please check it. 😄

[2022-08-16 09:08] BjoernAtBosch commented on #1043
Thx @Lichmaker for providing this fix!

[2022-08-16 10:25] hueifeng commented on #1043
I found it and maybe setting up `Proxy` is a better option.
https://cs.opensource.google/go/go/+/refs/tags/go1.18.2:src/net/http/transport.go;l=43

[2022-08-16 16:16] msfussell commented on #953
Agree this should be a `daprd` flag

[2022-08-17 04:49] pravinpushkar commented on #1043
@BjoernAtBosch  Could you please edit the issue description to add `RELEASE NOTE` section
Something like -
RELEASE NOTE: FIXED dapr init issue in an environment where proxy is needed.

[2022-08-17 08:26] BjoernAtBosch commented on #1043
@pravinpushkar Done

[2022-08-19 06:08] #1009 closed

[2022-08-20 15:05] NileshGule commented on #172
Agree with requesters that managing packages with Chocolatey is much easier as compared to running Powershell script.

[2022-08-23 16:00] #257 closed

[2022-08-24 08:24] pravinpushkar opened #1050 "Removed lines from Uninstall logic"
## Ask your question here

This discussion is for below change in commit[1]-
[code]
[1] https://github.com/dapr/cli/pull/1041/commits/02bc6f43399a92c37974f5d35c2d2ddebcdcd13b

Reason -
1. this line is problematic, say when I ran uninstall in slim mode twice(which is the case we have in our tests - uninstall_without_install). The above if condition will evaluate to true and it will throw an error.

[2022-08-25 05:44] #1004 closed

[2022-08-25 08:22] #1043 closed

[2022-08-25 10:50] mukundansundar commented on #1050
This seems ok ... The only behavioural change that I am seeing is wrt Warning messages printed out when containers do not exist ... The main thing is the binaries are removed when `/.dapr/bin` folder is removed.
Are there any other behavioural changes that you are seeing @pravinpushkar @shubham1172 ?

[2022-08-25 10:51] mukundansundar commented on #974
closing due to this issue not being reproducible. Please open a new issue if this issue persists. @sharadregoti

[2022-08-25 10:51] #974 closed

[2022-08-25 11:26] shubham1172 commented on #1050
Earlier it would return an error and exit with error code. Now it will just show the warning. The new behavior is consistent with other containers too. So +1 from me, thanks @pravinpushkar !

[2022-08-25 11:30] pravinpushkar commented on #1050
There is no behavioural change as such except the warning messages.

I think there is no point in checking whether containers exist or not when container runtime is not there(slim mode).

[2022-08-25 11:39] mukundansundar commented on #1050
@yaron2 Any issues with this change?

[2022-08-25 11:41] shubham1172 opened #1052 "Verify local Golangci-lint version with GitHub actions"
## Describe the proposal

This proposal derives from https://github.com/dapr/components-contrib/issues/1859, and the objective is to verify the locally installed linter's version matches that of the GitHub action.

Refer https://github.com/dapr/components-contrib/pull/1861

## Release Note

RELEASE NOTE: **ADD** Verification for linter version between development environment and GitHub actions

[2022-08-25 11:42] mukundansundar commented on #906
With the change in this https://github.com/dapr/cli/pull/1045, to limit to v6 of redis can we have the right version of rejson image used for CLI? Is it possible to build a rejson arm image?
cc @pravinpushkar @shubham1172 ?

[2022-08-25 16:40] yaron2 commented on #1050
No issues.

[2022-08-25 19:31] mukundansundar commented on #1050
closing issue ...

[2022-08-25 19:31] #1050 closed

[2022-08-26 07:03] sarsharma opened #1053 "`dapr init` not creating the default components folder"
## Expected Behavior

`dapr init` should create a default components folder `~/.dapr`
## Actual Behavior

The `~/.dapr` folder is not created as part of `dapr init`
Therefore `dapr run` fails with `/home/azureuser/.dapr/components: no such file or directory`

## Steps to Reproduce the Problem

OS: Linux (Ubuntu 20.04)
CLI Version: 1.8.1
Install the `dapr cli` using the script
https://docs.dapr.io/

[2022-08-26 08:58] mukundansundar commented on #1053
@sarsharma Is the `dapr init` command run as the same user as `azureuser`? Or is it run as root?

[2022-08-26 09:14] sarsharma commented on #1053
It is run as root @mukundansundar

[2022-08-26 11:04] shivamkm07 commented on #424
winget doesn't support zip applications in 1.3 release. The supported file formats are EXE, INNO, NULLSOFT, MSI, APPX, MSIX, BURN, PORTABLE. Support for adding zip files is WIP: https://github.com/microsoft/winget-cli/issues/140. A preview release with the support for the same has been released: https://github.com/microsoft/winget-cli/releases/tag/v1.4.2011-preview. As per release notes:
[code]

[2022-08-26 11:10] shivamkm07 commented on #424
Portable packages as well require releases in one of the supported formats, e.g. [kubectl](https://github.com/microsoft/winget-pkgs/blob/167b2e97fcf0b36712b6c89206cb84d9274b669b/manifests/k/Kubernetes/kubectl/1.24.2/Kubernetes.kubectl.installer.yaml#L12), [youtube-dl](https://github.com/microsoft/winget-pkgs/blob/167b2e97fcf0b36712b6c89206cb84d9274b669b/manifests/y/youtube-dl/youtube-dl/2021.12.17

[2022-08-26 11:16] AndrewBabbitt97 commented on #424
Currently the windows Dapr CLI is zipped on its own, as such it could just as well be uploaded to the release page directly without compression thus making it possible to create an install manifest on the winget community repo.

[2022-08-26 11:21] shivamkm07 commented on #424
So possible solutions could be:
1. Release .exe directly on the release page: Easier but not so good solution i guess
2. Have msi installers for cli and then use it for winget
3. Wait till 1.4 GA, might be long

@artursouza thoughts?

[2022-08-26 11:28] mukundansundar commented on #424
@shivamkm07 Can you investigate on creating an MSI installer? I believe that is the way to move forward with this.
Similarly we could have dmg package for macOS at a later point in time.

[2022-08-26 11:37] AndrewBabbitt97 commented on #424
Brew is usually the prefered way to grab most single file tools such as dapr, kubectl, istioctl, and many others in the CNCF for both Linux and Mac so DMG is likely unnecessary. Same thing could likely go for Dapr, MSI is a bit excessive for a single executable when winget already supports that scenario.

[2022-08-26 11:40] AndrewBabbitt97 commented on #424
Short version of the story is, if exe's were directly published onto the release page we could have a winget package released within a day.

[2022-08-26 12:55] cveld commented on #424
Not sure why just publishing the exe is not favorite. Maybe because of
filesize?

Out of curiosity, in the past you had these unzip bootstrap exe wrappers.
I.e. still one exe but the payload gets decompressed when executed.

Has this been considered?

Op vr 26 aug. 2022 13:40 schreef Andrew Babbitt ***@***.***>:

[2022-08-29 03:04] HackToday commented on #1043
It seems  1.8.1 still have that issue, `dapr init` would fail with same error

[2022-08-29 03:20] HackToday commented on #1043
Try to build from source can work, so it means a new release for dapr cli is needed

[2022-08-31 18:29] mikeb26 opened #1056 "Support initializing dapr in a user provided directory"
## Describe the proposal

Currently in standalone mode dapr cli will install the dapr runtime binaries into $HOME/.dapr. However, in some environments $HOME is readonly or os.UserHomeDir() can fail (e.g. AWS Lambda). This issue is tracking adding support for such environments. In order to support these environments I am proposing:

     1. When os.UserHomeDir() fails the change the default install

[2022-09-01 04:45] shubham1172 commented on #1056
Thanks @mikeb26 for putting this together! A couple of thoughts -

### Implicit vs explicit error handling

Should we do this implicit handling? This can be surprising for users who'd expect installation to be in `$HOME/.dapr`, or maybe installation in `/usr/local/dapr` is undesired. We can just throw an error and redirect them to the new flag `--install-dir`. Thoughts?

### Environment variable a

[2022-09-05 04:53] pravinpushkar commented on #1056
IMO Having user to always specify `--install-dir` to interact with changed custom installation dir can be little cumbersome. How about we go with only `environment variable` approach. User can set this config in his terminal configurations and the commands can be same as before. Thoughts ?

[2022-09-05 05:07] shubham1172 commented on #1056
If environment variable is specified, the CLI flag won't be required. The CLI flag can still be present and it will override the environment variable if present.

Example scenario when CLI flag will be good to have -
- User has a Dapr v1.8.4 installation at `~/path/.dapr/` with `$DAPR_PATH` set to the same.
- User wants to install v1.7.3 installation at `/tmp/dapr` for testing a behavior change.
-

[2022-09-05 09:26] akhilac1 commented on #1035
@mukundansundar @shubham1172 - updated few details in the issue. Mangroup is an example of large scale deployment of DAPR in standalone mode. We have similar use cases to be supported.

[2022-09-05 10:26] mukundansundar opened #1058 "Have a CLI config file"
## Describe the proposal

Currently a lot of commands in the dapr cli have a myriad of flags/environment variables and defaults and further more, more issues are there in the backlog asking for more configurability.

The current way the CLI works is that it is split from the runtime. Once CLI is init, then runtime binary can be installed in specific locations in Linux/Mac or Windows using the `dap

[2022-09-05 10:27] mukundansundar commented on #1058
related to https://github.com/dapr/cli/issues/1056 and https://github.com/dapr/cli/issues/1035

[2022-09-05 14:59] mikeb26 commented on #1056
@shubham1172 @pravinpushkar I like the suggestions to introduce $DAPR_PATH env variable w/ semantic of CLI flag to override. I also like the suggestion to have init throw an explicit error if $HOME/.dapr won't work rather than implicitly fallback to /usr/local/dapr. I'll update https://github.com/dapr/cli/pull/1057 accordingly.

[2022-09-06 19:01] berndverst commented on #1056
Sounds good to me.

1. No env variable or flag uses HOME folder location
2. If env variable is present (but not CLI flag) that location will be used.
3. If CLI flag is present, always use the location specified via the flag, regardless of env variable.

[2022-09-07 07:27] mukundansundar opened #1059 "Check for CLI/runtime updates on the fly"
## Describe the proposal

Whenever a new `dapr` command, check for updates to the CLI version or the runtime version on the fly and recommend upgrading to the newest version if one is available.

We can if needed stop checking for updates with a `DAPR_CHECK_UPDATES=false` environment variable.

## Release Note

RELEASE NOTE:

[2022-09-07 07:32] mukundansundar opened #1060 "Update dapr CLI to 1.19"
## Describe the proposal

With changes in dapr/dapr  to 1.19, cli repo should ideally also be changed to 1.19

Do checkout https://tip.golang.org/doc/go1.19#os-exec-path for this change.

## Release Note

RELEASE NOTE:

[2022-09-07 07:35] mukundansundar opened #1061 "Add go vulnerability check in CLI"
## Describe the proposal
Using the tool described in https://go.dev/blog/vuln, fix any existing vuln libs in CLI and add a check similar to [components-contrib ](https://github.com/dapr/components-contrib/pull/2054) in the dapr_cli workflow.

## Release Note

RELEASE NOTE:

[2022-09-07 08:11] mukundansundar commented on #1056
I agree that we have to maintain backwards compatibility and also on the precedence order as described above.

With the introduction of DAPR_PATH this would also fix the https://github.com/dapr/cli/issues/1035 issue of having multiple runtime versions.

cc @yaron2 any concerns on this?

[2022-09-08 20:04] #1061 closed

[2022-09-08 20:11] mikeb26 commented on #1056
https://github.com/dapr/cli/pull/1057 updated as per above

[2022-09-09 22:16] yaron2 commented on #1056
No concerns.

[2022-09-12 09:33] sarsharma commented on #1053
When `dapr init` is run as root to install dapr, the `.dapr` folder is created under `/root/.dapr`
In this case, `dapr run` will not work without sudo
As a workaround, the `/root/.dapr` folder can be copied to the home directory of the user `~/.dapr`
This allows `dapr run` to work without sudo

[2022-09-13 23:22] shivamkm07 opened #1064 "MSI Installer for CLI"
## Describe the proposal

This is for building MSI Installer for Dapr CLI. It simplies CLI installation on windows. Also, it's required for adding Dapr Installer to winget: https://github.com/dapr/cli/issues/424

## Release Note

RELEASE NOTE: ADD MSI Installer for CLI

[2022-09-13 23:24] shivamkm07 commented on #1064
/assign

[2022-09-13 23:43] shivamkm07 commented on #1064
**NOTE:**  MSI [ProductVersion ](https://docs.microsoft.com/en-us/windows/win32/msi/productversion?redirectedfrom=MSDN) is incompatible with semver. It only supports major.minor.build format, i.e. no pre-releases or build metadata. Also it has additional constraints like maximum value of major and minor fields is 255 and build field is 65535.

So for msi installer, we can't have versions like "1.9

[2022-09-14 22:29] artursouza opened #1066 "Add default component for Secret Store"
## Describe the proposal

`dapr init` should also create a default component for secret store, it can be from ENV

## Release Note

RELEASE NOTE:

[2022-09-16 02:44] mukundansundar commented on #1066
We can default to adding the env var secret store for dev
Additionally on init a warning/info log should be written to the console that env vars will be available as secrets via dapr and that this is only meant for dev.

E2E tests are needed for this feature.

[2022-09-16 03:31] mukundansundar opened #1067 "Allow to query dashboard version from kubernetes installation"
## Describe the proposal

Extend the `dapr dashboard version` with `dapr dashboard version -k` and allow users to query the version of dashboard in k8s installation of Dapr.

## Release Note

RELEASE NOTE: **ADDED** ability to query Dapr dashboard version of a Kubernetes installation

[2022-09-18 22:39] ItalyPaleAle commented on #1038
👋 bot

[2022-09-19 04:33] #1060 closed

[2022-09-19 05:43] mukundansundar commented on #1027
@halspang Please provide your thoughts on this issue ....

[2022-09-19 06:58] pravinpushkar commented on #1035
Refer comment - https://github.com/dapr/cli/pull/1057#issuecomment-1250637288

[2022-09-21 13:47] loekd commented on #906
Hope you'll fix this soon. In the meanwhile, [here's a way](https://stackoverflow.com/questions/73606742/how-to-get-all-entries-using-query-state-with-dapr) to get things to work on your dev box.

[2022-09-22 05:41] #1001 closed

[2022-09-22 08:27] #1064 closed

[2022-09-24 14:10] shubham1172 commented on #1053
This default behavior of installing in the $HOME directory should be accepted. #1057 should solve this issue by allowing `sudo dapr init` to specify `--dapr-path` to `/home/azureuser/.dapr`.

[2022-09-24 14:11] shubham1172 commented on #1053
#1057 should solve this issue by allowing `sudo dapr init` to specify `--dapr-path` to `/home/azureuser/.dapr`.

[2022-09-27 15:40] pravinpushkar commented on #891
From the discussions above it is clear that storing private key can be tricky and may involve lot more changes which might complicate the current init behaviour in CLI.

So, I am closing this for now. Please let me know and feel free to re-open if you think otherwise.
@mukundansundar @berndverst @yaron2 @ItalyPaleAle

[2022-09-27 15:40] #891 closed

[2022-09-27 15:43] pravinpushkar commented on #807
Since this is marked as Epic so untagging it from a release. We can target specific issues for releases.

[2022-09-27 16:24] ItalyPaleAle commented on #891
I agree. I think this needs to be fixed in the runtime and not the CLI

[2022-09-30 04:18] #863 closed

[2022-09-30 04:20] mukundansundar commented on #953
Moving to 1.10 as there are still some unresolved questions that need decision on the associated pr

[2022-09-30 04:20] mukundansundar commented on #424
@shivamkm07 when should the associated PR be merged??

[2022-09-30 14:52] mukundansundar opened #1073 "Weekly updates to dapr/dapr dependency in CLI"
## Describe the proposal
Currently CLI depends on dapr runtime repo.
There are situations where the code has changed in dapr repo which affects how that code is used in cli.

This then has to be fixed when getting the latest dapr rc version into cli as dependency.

This proposal is to automatically update the dapr dependency in cli on a weekly basis to the commit that is present in dapr master whe

[2022-09-30 15:12] ItalyPaleAle opened #1074 "Add command to "lint" Dapr component files"
## Describe the proposal

This proposal came from a conversation on Discord. A user had issues with a Dapr component, and it turned out that they had misspelled a metadata key. This is not the first time that we see (on Discord and whatnot) users having problems due to typos or using a different case. Right now, the experience in Dapr is sub-par, as users often get no direct feedback that the meta

[2022-09-30 15:14] ItalyPaleAle commented on #1074
/assign

[2022-10-02 06:41] shivamkm07 commented on #424
It can be merged only after:

1. There is an existing manifest for dapr in winget: https://github.com/microsoft/winget-pkgs/pull/81209
2. Fork of `winget-pkgs` is created under `dapr` org: https://github.com/dapr/community/issues/229

[2022-10-04 03:57] shubham1172 opened #1076 "Update product name to "Dapr CLI" in MSI installer"
## Describe the proposal

Currently the MSI installer asks to install "CLI", which is not indicative that it's Dapr. I propose that the product name here should be updated to "Dapr CLI".

https://github.com/dapr/cli/blob/3bf4b5ef737ebcf0750c7ad8ba28cf7474a3f65c/.github/wix/dapr.wxs#L5

Screenshot:

![image](https://user-images.githubusercontent.com/22132944/193730857-c14986b7-7ca1-42da-bd52-3d5eb4

[2022-10-04 04:08] shubham1172 opened #1077 "Add Dapr to PATH when using the MSI installer"
## Describe the proposal

User can install the Dapr CLI (dapr.exe) in a custom path using the MSI installer. This proposal is to use the installer to also update the PATH variable and point to the Dapr CLI installation.

Documentation reference: https://wixtoolset.org/documentation/manual/v3/xsd/wix/environment.html

Something like this can be used to append the new directory to $env:PATH.
[code]

[2022-10-04 05:08] mukundansundar commented on #1077
For now can be mitigated with a docs line to add installed cli directory to path

[2022-10-04 05:34] shubham1172 opened #1078 "Automate Windows E2E tests for non-slim mode"
## Describe the proposal

Today Windows E2E tests run in slim mode because of our limitation to use Docker containers in Windows GH runner. This is an issue to investigate if Podman container runtime can be instead used to run the full Dapr installation along with slim mode.

This will allow us to completely automate the endgame line-item for Windows validation.

## Release Note

RELEASE NOTE: **A

[2022-10-04 05:34] shubham1172 commented on #1078
Podman requires WSL, this can be potentially used - https://github.com/Vampire/setup-wsl

[2022-10-04 14:03] shivamkm07 opened #1079 "Custom installation directory using msi installer"
## Expected Behavior

At the time of installation, msi installer asks for a custom directory for installing Dapr CLI. CLI should be installed in the directory chosen by the user.

## Actual Behavior

MSI Installer always installs at `C:\dapr` irrespective of the directory chosen by the user

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:  **FIX** Bug in MSI Installer for CLI

[2022-10-04 14:43] mukundansundar opened #1080 "Automate MSI installer validation"
## Describe the proposal

Investigate how to automate Msi installer based installation.
## Release Note

RELEASE NOTE:

[2022-10-04 18:41] shivamkm07 commented on #1076
/assign

[2022-10-04 18:42] shivamkm07 commented on #1079
/assign

[2022-10-04 18:42] shivamkm07 commented on #1077
/assign

[2022-10-06 05:04] shubham1172 commented on #1079
Closed by #1081

[2022-10-06 05:04] #1079 closed

[2022-10-06 05:05] shubham1172 commented on #1076
Closed by #1081

[2022-10-06 05:05] #1076 closed

[2022-10-06 05:05] shubham1172 commented on #1077
Closed by #1081

[2022-10-06 05:05] #1077 closed

[2022-10-07 09:31] shivamkm07 commented on #1080
Since winget installer for Dapr uses msi package for installation, `winget install Dapr.CLI` would validate successful installation using MSI as well as winget. That should be sufficient i guess. Thoughts @mukundansundar ?

[2022-10-07 10:23] mukundansundar commented on #1080
@shivamkm07 it should partially validate it... But what about validation of other properties exposed via msi installer like different path for installation. Also if further changes are made we need to validate the latest build of msi installer and not the previous released/rc version of it. I think only that will be possible if we use winget?

[2022-10-07 10:24] mukundansundar commented on #1058
👋

[2022-10-07 10:24] mukundansundar commented on #1059
👋

[2022-10-07 14:06] shivamkm07 commented on #1080
Every property exposed in MSI installer can be validated using winget. For properties like different path for installation, which require manual inputs, we can use `winget install -i Dapr.CLI`, which simulates running msi file in interactive mode.

But yes, winget can only test released/rc versions and not latest builds.

[2022-10-07 18:35] ItalyPaleAle opened #1082 "Add support for flags for app health checks"
The CLI needs to add support for the 5 flags required for app health checks, as defined here: https://github.com/dapr/dapr/pull/4990

## Release Note

RELEASE NOTE: **ADD** App health checks flags for `dapr run`

[2022-10-09 00:49] bulolo opened #1084 "how to dapr init by using a exist redis ?"
i have a redis now ,
i want run `dapr init` to use my exist redis,is there any idea?
or how to change the redis port by run dapr init?

<img width="1886" alt="image" src="https://user-images.githubusercontent.com/10026498/194732500-0a070c67-5a48-49da-a110-0e44f153f90e.png">

[code]

[2022-10-10 04:45] mukundansundar commented on #1084
@bulolo As of right now you can run `dapr init --slim` to install only the binaries and basic configuration. Please make note that this also skip running zipkin and redis ... https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-no-docker/#initialize-dapr-without-containers

[2022-10-10 04:49] mukundansundar opened #1085 "Optimize Upgrade path test E2E run"
## Describe the proposal
Currently for running all the upgrade paths verification, it takes almost 30 minutes for the test to complete.

The proposal here is that we only run the latest upgrade path (upgrade and downgrade) against each PR in CLI.
The full suite of upgrade paths will only be run against the master code in a scheduled run.

The issue here is, if there are changes in helm version tha

[2022-10-10 05:08] mukundansundar commented on #1082
closed by #1083

[2022-10-10 05:08] #1082 closed

[2022-10-10 06:27] pravinpushkar commented on #1085
I agree with  -  one upgrade + one downgrade test along with ability to trigger full suite with /ok-to-test. This can be used on need basis.

[2022-10-10 12:59] mukundansundar opened #1088 "Automate e2e for Linux against podman runtime"
## Describe the proposal

Automate self hosted e2e to be run against podman in Linux. It is currently run only against docker in Linux and podman in macOS.
## Release Note

RELEASE NOTE:

[2022-10-10 16:41] shubham1172 opened #1090 "Use fully qualified name for container images"
## Describe the proposal

Dapr CLI supports two container runtimes, Docker and Podman. For Podman to work, the fully qualified names for the container registries are required. See https://unix.stackexchange.com/questions/701784/podman-no-longer-searches-dockerhub-error-short-name-did-not-resolve-to-an

When `dapr init` is done using Podman, result: **FAILURE**

[code]

When `redis` is installed wi

[2022-10-11 04:30] artursouza opened #1091 "dapr dashboard -k fails on MacOS"
## Expected Behavior

`dapr dashboard -k` should open the browser at the dapr dashboard endpoint using CLI 1.9.0-rc.2

## Actual Behavior

![image](https://user-images.githubusercontent.com/130954/194997440-6718667e-54f6-4507-8cf9-ac69df620170.png)

## Steps to Reproduce the Problem

`dapr dashboard -k` on MacOS

## Release Note

RELEASE NOTE:

[2022-10-11 04:41] pravinpushkar commented on #1090
Right, I tested with macos[brew installs v4.2.1] and Ubuntu 20[podman v3.4.2] it worked there but with podman v3.0 it did not work. IMO we can take a look at this for 1.10 as there is another way to make it work on older Podman versions as mentioned in above description.

[2022-10-11 04:44] artursouza commented on #1091
I confirmed the same did not happen with CLI 1.8.0-rc.1 (tested with RC because it was easy for me via Homebrew).

[2022-10-11 04:45] mukundansundar commented on #1091
The latest build changed
this
[code]
to this
[code]

without the scheme ... That breaks the browser open URL line.

[2022-10-11 04:45] mukundansundar commented on #1091
This is a regression and needs to be fixed with another RC ...

[2022-10-11 04:56] pravinpushkar opened #1093 "Remove `rmi imagename` from uninstall logic"
The `rmi imagename` behaviour is inconsistent across docker and different version for podman - https://github.com/dapr/cli/blob/3bf4b5ef737ebcf0750c7ad8ba28cf7474a3f65c/pkg/standalone/uninstall.go#L33

This logic was never working anyway even for docker also. So, I propose to remove this as logic as it is not much useful to remove the downloaded docker images.

[code]

## Release Note

RELEASE NOT

[2022-10-11 05:00] mukundansundar commented on #1093
For removing the image, the fully qualified name and tag were necessary ... Even without introduction of podman, this was failing silently since `docker rmi -f` does not return an error on image not being found.
I agree that we can remove this logic since it was never working. We can look into adding the proper logic to remove older images of dapr in the future milestones.

[2022-10-11 05:01] mukundansundar commented on #1093
This is considered a P0 since it always fails with an error for `podman` v3 versions and it fails silently in v4 versions of podman which was what was running in macOs automated tests.

[2022-10-11 05:11] pravinpushkar opened #1094 "Update redis version to `redis:6` for Github Container registry"
Make use of `redis:6` image from https://github.com/dapr/dapr/pkgs/container/3rdparty%2Fredis. This is a similar to https://github.com/dapr/cli/pull/1046 that has been done for dockerhub
## Release Note

RELEASE NOTE: **FIXED** Update redis version to `redis:6` for Github Container registry

[2022-10-11 05:12] pravinpushkar commented on #1093
/assign

[2022-10-11 06:11] pravinpushkar commented on #1094
/assign

[2022-10-11 07:48] mukundansundar commented on #1091
closed by #1092

[2022-10-11 07:48] #1091 closed

[2022-10-11 09:27] mukundansundar commented on #1094
closed by #1096

[2022-10-11 09:27] #1094 closed

[2022-10-11 09:46] pravinpushkar opened #1097 "Not able to get latest Pre-release for Dashboard in E2E tests"
## Description

Following line [1] will only get the dashboard version defined via `DAPR_TGZ` variable here -
https://github.com/dapr/cli/blob/3bf4b5ef737ebcf0750c7ad8ba28cf7474a3f65c/.github/workflows/kind_e2e.yaml#L56
[1] https://github.com/dapr/cli/blob/3bf4b5ef737ebcf0750c7ad8ba28cf7474a3f65c/.github/workflows/kind_e2e.yaml#L153

This will result in test failures once we have a pre release for

[2022-10-11 10:31] shubham1172 commented on #1093
Closed by #1095

[2022-10-11 10:31] #1093 closed

[2022-10-11 17:55] shubham1172 opened #1098 "Validate and limit container runtime to only podman and docker"
## Describe the proposal

Today any arbitrary container runtime can be passed to Dapr CLI. This proposal is to limit its value to the two supported container runtime today, `podman` and `docker`.

## Release Note

RELEASE NOTE: **ADD** limitation for container runtime in `dapr init` and `dapr uninstall`

[2022-10-12 08:08] shivamkm07 commented on #424
Update: 1.9.0-rc.1 has been published to winget: https://github.com/microsoft/winget-pkgs/tree/master/manifests/d/Dapr/CLI/Preview/1.9.0-rc.1

As per discussion with maintainers of winget-pkgs (https://github.com/microsoft/winget-pkgs/pull/82508), *rc* releases would be released with PackageIdentifier `Dapr.CLI.Preview` while the stable ones would be released as `Dapr.CLI`. This is to avoid versio

[2022-10-12 10:11] shubham1172 commented on #1098
Closed by #1099

[2022-10-12 10:11] #1098 closed

[2022-10-14 05:48] mukundansundar commented on #424
@shivamkm07 I think this issue can be closed?

[2022-10-14 05:48] mukundansundar commented on #424
For the automation part, create a separate issue and tag it to 1.10 milestone ...

[2022-10-14 07:06] shivamkm07 opened #1104 "kubernetes init installs *latest* instead of the actual latest version"
## Expected Behavior

`dapr init -k` installs *latest* dapr runtime instead of the actual latest runtime version (currently 1.9.0).

## Actual Behavior

`dapr init -k` installs actual latest dapr runtime (currently 1.9.0).

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-10-14 07:07] mukundansundar opened #1105 "Add E2E to test plain dapr init"
## Describe the proposal
Add E2E to test plain dapr init instead of `dapr init --runtime-version`

## Release Note

RELEASE NOTE:

[2022-10-14 07:10] mukundansundar commented on #1104
This is the case when `dapr init` without runtime version is given ... when `dapr init --runtime-version <ver>` is given, it works as expected ...

[2022-10-14 07:12] pravinpushkar commented on #1104
[code]

[2022-10-14 07:16] shivamkm07 commented on #1104
./dapr init -k
[code]
 ./dapr status -k
[code]
./dapr init -k --runtime-version 1.8.5

[code]

./dapr status -k
[code]

[2022-10-14 07:42] shivamkm07 commented on #1104
Closed by #1103

[2022-10-14 07:42] #1104 closed

[2022-10-14 08:13] shubham1172 opened #1107 "Refactor container runtime implementation"
## Describe the proposal

Refactoring task: Create an interface for container runtime, and have implementations for Docker and Podman. In future if there is a new addition to container runtime, it should be very easy to add it.

## Release Note

RELEASE NOTE: **UPDATE** Container runtime management in CLI

[2022-10-18 04:57] shivamkm07 commented on #424
FYI 1.9.1 CLI is published to winget:
![image](https://user-images.githubusercontent.com/37222089/196339084-2285ad9c-7414-4b7d-bbb4-7346f74ce8f1.png)

[2022-10-18 05:03] shivamkm07 opened #1108 "Automate Publishing Dapr CLI to winget"
## Describe the proposal

Starting 1.9.1, Dapr CLI is being published to winget( See #424 ). The publish step requires creating a PR to [winget-pkgs](https://github.com/microsoft/winget-pkgs) similar to https://github.com/microsoft/winget-pkgs/pull/83516. The publish step should be automated for every release.

## Release Note

RELEASE NOTE:  **ADD** Automate Publishing CLI to winget

[2022-10-18 05:03] shivamkm07 commented on #424
Created. This issue can be closed now.

[2022-10-18 05:09] #424 closed

[2022-10-18 14:35] mukundansundar commented on #1027
@yaron2 @halspang @msfussell
Based on offline discussions , we are planning to deprecate components path and introduce resources path for subscription , resiliency and components crds based yaml. The configuration crd is going to remain as such as it is per application based.

With that in mind should the scaffolding for resiliency be under the `dapr components ` command or rather a
`dapr resource

[2022-10-18 16:26] halspang commented on #1027
@mukundansundar - I like the idea of it being a subcommand instead of a top-level like `dapr resiliency`.

If we're moving towards having a `dapr resources` I think having it under that makes sense. As far as subcommands for it, I feel like init, list, and validate would be a good set of initial commands. Though we should only support list if we plan on letting the CLI create more than one policy.

[2022-10-18 16:45] mukundansundar commented on #906
with the document store proposal coming up, moving the query state api redis json from 1.10 milestone

[2022-10-19 08:51] hdget opened #1111 "dapr install script"
## Expected Behavior

install successfully to `/usr/local/bin` on centos7

## Actual Behavior

install failed on centos7

## Steps to Reproduce the Problem

wget -q https://raw.githubusercontent.com/dapr/cli/master/install/install.sh 1.7.1 -O - | /bin/bash

sh install.sh 1.7.1
Your system is linux_amd64
Installing Dapr CLI...

Installing v1.7.1 Dapr CLI...
Downloading https://github.com/dapr/cli/r

[2022-10-20 02:15] saber-wang opened #1113 "Update certificate fails with dapr installed with custom helm"
command:`dapr mtls renew-certificate -k --valid-until 9999 --restart`
error:
[code]

[2022-10-20 03:50] mukundansundar opened #1114 "Investigate impact of kubectl Auth changes in dapr CLI"
## Describe the proposal
There are a couple of warnings that can be seen in Azure auth and GCP auth for kubectl
[code]
[code]
Additionally, in the next version of kubectl it seems that both Azure and GCP auth are removed.

On another note, the go-autorest package from Azure being used for auth is also being deprecated from March 31 2023.

This issue is to investigate the impact it will have in dap

[2022-10-20 03:51] shubham1172 opened #1115 "Support custom helm release name and namespace"
## Describe the proposal

The default helm release name is "dapr" and release-namespace is "dapr-system", and all CLI commands depend on that. This proposal is to allow users to be able to specify a custom release name and namespace.

## Release Note

RELEASE NOTE: **ADD** Option to manage custom Dapr helm installations

[2022-10-20 07:45] pravinpushkar commented on #1113
@saber-wang From the above logs, it looks like there is some issue in getting the current version of control plane. See this - `version 8000/dapr/dapr:1.8.0 detected ` .
If this is the case then can you please try with the above linked PR and see if this works for you using a local build.
It looks like cert rotation command should work OOB once this version issue is resolved.

Meanwhile certificat

[2022-10-20 08:42] pravinpushkar commented on #1115
The release-namespace can be supplied with `dapr init -k -n "xyz"`. During upgrade the namespace is read from existing cluster and thus not needed to be passes during upgrade as well.

[2022-10-20 08:55] isayden opened #1117 "❌ Failed to upgrade Dapr: release name is invalid:"
## Expected Behavior

Successfully upgraded version through cli

## Actual Behavior

# dapr --version
CLI version: 1.9.1
Runtime version: 1.4.3
An error was reported when executing this upgrade command.

#dapr upgrade --runtime-version 1.8.5   -k
ℹ️  Container images will be pulled from Docker Hub
ℹ️  Dapr control plane version 1.6.0 detected in namespace dapr-system
ℹ️  Starting upgrade...
❌  Fai

[2022-10-20 09:50] isayden commented on #1117
It was installed too long ago. The use
#dapr init -k
I didn't modify the release name somewhere，
dapr-cli 1.9 I just upgraded because I want to upgrade the version of dapr
![image](https://user-images.githubusercontent.com/89994987/196915715-479c77ad-4770-4238-aa66-c0ffffdc1f45.png)

[2022-10-20 13:49] yaoyaoio commented on #1117
because  in `helm list`  not found dapr
dapr cli upgrades dapr clusters that already exist in helm

[2022-10-20 14:59] shubham1172 commented on #1117
@isayden can you please also share the output of `helm list -A`?

[2022-10-21 02:33] isayden commented on #1117
@shubham1172  sure
![image](https://user-images.githubusercontent.com/89994987/197097666-9b9ac8d3-2446-4240-8811-984ccb565a1e.png)

[2022-10-21 02:45] yaoyaoio commented on #1117
@shubham1172
dapr upgrate calls the helm.NewList() get about releases list.
function using filters dapr with status = deployed and status = failed
if status !  = deployed | failed .  return empty releases list
@isayden  he is my firend
his  dapr cluster in helm status = pending_upgrade.  so using `helm list --all -n dapr-system` not using `helm list -A` or `helm list -n dapr-system`.

[2022-10-21 02:49] yaoyaoio commented on #1117
I thinks dapr status = (deployed | failed)  in helm 。To meet the upgrade requirements

[2022-10-21 02:55] isayden commented on #1117
![image](https://user-images.githubusercontent.com/89994987/197100613-0d58bd9e-1f66-4cae-8378-f1db94117f8f.png)

[2022-10-21 03:35] yaoyaoio commented on #1117
I think the user needs to be alerted

https://github.com/dapr/cli/pull/1118

[2022-10-21 04:34] pravinpushkar commented on #1113
@saber-wang Did you get a chance to verify with above linked PR ?

[2022-10-21 05:13] saber-wang commented on #1113
@pravinpushkar  I didn't try, but RP can solve this problem.

[2022-10-24 20:35] haiwu opened #1119 "Missing flag --dapr-listen-addresses for dapr run CLI command"
## Expected Behavior

We expect that cli like this one would work: dapr run --dapr-listen-addresses "0.0.0.0", so that dapr would still work even if ipv6 is disabled on Linux host side via kernel parameter.

## Actual Behavior

Instead, we got this error message for 'dapr run' command:
unknown flag: --dapr-listen-addresses

The current default behavior for "dapr run" seems to be trying ipv6 first,

[2022-10-25 13:10] vikram-thiru opened #1120 "Windows access denied error"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-10-25 13:10] vikram-thiru commented on #1120
![image](https://user-images.githubusercontent.com/113989405/197781884-dbcc245e-ee10-4f67-8be8-10c833486e48.png)

[2022-10-26 05:13] shubham1172 commented on #1120
Please see #963

[2022-10-26 18:43] pravinpushkar commented on #1113
@saber-wang PR is now updated, feel free to test/review it.

[2022-10-28 09:54] #1084 closed

[2022-10-31 03:23] isayden opened #1122 "No status returned. Is Dapr initialized in your cluster"
## Expected Behavior

dapr installation successful

## Actual Behavior

The dapr upgrade showed success but the actual pod did not run as expected.

## Steps to Reproduce the Problem
My dapr-cli  version is 1.9.1

1、`dapr   init  -k `
2、 view  `dapr  status -k `
3、`kubectl   get all  -n dapr-system `
![image](https://user-images.githubusercontent.com/89994987/198924078-ed47db77-cba7-4763-a864-cc4c

[2022-10-31 14:41] #1053 closed

[2022-11-01 10:24] pravinpushkar commented on #1122
@isayden By any chance, your `kubectl` pointing to a different context ?

[2022-11-02 03:30] isayden commented on #1122
@pravinpushkar   No. There is only one.  CLI installation and Helm installation will not automatically deploy pod, but also show that the installation was successful. is actually a failure

[2022-11-02 16:49] shubham1172 opened #1123 "Local Developer Experience - Run multiple dapr apps using `dapr run -f`"
## Describe proposal

This is related to the implementation of the proposal https://github.com/dapr/proposals/blob/main/0003-I-enhance-dapr-run-multiple-apps.md

### Targets for v1.10
The main requirements for the command:
- being able to configure multiple dapr apps from a single configuration file
- users should be able to use normal dapr CLI commands for self hosted mode against any apps that a

[2022-11-02 17:07] shubham1172 commented on #1122
Looks like the pods are not ready and healthy, that might be a reason based on a quick look at the code. Did you try after the pods were up and available? @isayden

[2022-11-02 21:19] greenie-msft opened #1124 "Should be able to use the Query API with the Redis component after dapr init"
Users should be able to use the Query API with the default Redis component that is initialized after running a `dapr init`.

Today, users need to use a different state store component to try the API.

[2022-11-03 03:53] mukundansundar commented on #1124
@greenie-msft @artursouza With the proposal for DocumentStore building block, this should change to use that API IMO.

[2022-11-04 08:57] pravinpushkar opened #1125 "Add `--image-variant` flag to mtls renew-certificate command"
##Description

Renew certificate command will fail if the control plane is using mariner variant of the docker image.

➜  cli git:(master) ✗ dapr status -k
  NAME                   NAMESPACE    HEALTHY  STATUS   REPLICAS  VERSION        AGE  CREATED
  dapr-operator          dapr-system  True     Running  1         1.8.0-mariner  7m   2022-11-04 14:13.16
  dapr-dashboard         dapr-system  True

[2022-11-04 08:59] pravinpushkar commented on #1125
Another question - Should we actually show `1.8.0-mariner` in the `version` cloumn for `dapr status` ?

[2022-11-05 13:23] umerkle commented on #792
@sol-lee
Did you ever find out how to do that? I need this too...

Found this: [DAPR in airgap environment](https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-airgap/)

But it seems to be an installation for a docker environment, not kubernetes.

[2022-11-07 05:34] shubham1172 opened #1127 "[Proposal] dapr subscribe command"
## Describe the proposal

This proposal is to add a `dapr subscribe` command, a counterpart for the existing `dapr publish` command. This will be useful in development scenarios which allows users to subscribe to a pubsub/topic/route, and print the data on STDOUT.

Example usage:

[code]

Proposed flags:

|Short|Long|Type|Usage|
|--|--|--|--|
| -m| --metadata| string |         The JSON serialized

[2022-11-07 07:23] isayden commented on #1122
I don't understand what you are saying, no pod is generated after init initialization  @shubham1172

[2022-11-07 07:32] shubham1172 commented on #1122
@isayden I meant it's likely not a `dapr status` issue, can you check `kubectl describe po`'s output?

[2022-11-07 17:00] mukundansundar commented on #1127
@shubham1172 I think this is a proposal that will help users in quickly developing and testing pubsub API in Dapr.
With that I think we need to maintain consistency with other commands and have the `--subscribe-app-id` parameter shorthand as `-a`.

The one concern that I have with the `--routes` parameter is that it does not make much sense for a console output application.
Unless say each event m

[2022-11-08 02:31] isayden commented on #1122
@shubham1172       My cluster is fine. after init dapr, there is no pod for dapr, so there is no way to `describe`

[2022-11-08 03:21] shubham1172 commented on #1122
@isayden you need to troubleshoot what's happening, `dapr init` will do a `helm install` on your cluster. You can check `kubectl get deployments` if no pods are created.

[2022-11-10 09:09] mukundansundar commented on #1125
I think showing 1.8.0-mariner is ok in the version field. Unless you want to add a variant field which will either be mariner or empty for a deployment.
I think having it in version is ok since it is the actual docker container tag ...

[2022-11-11 00:37] bulolo opened #1128 "is there any cli command to run a dapr in background like docker -d"
<img width="1424" alt="image" src="https://user-images.githubusercontent.com/10026498/201235036-3f9f7335-c945-48b1-a1fd-282d159d0af3.png">

[code]

is there any command to run in background mode or detached mode,

or how to deploy in production  in detached mode

like docker run in background mode we add `-d`

doc:https://docs.dapr.io/zh-hans/reference/cli/dapr-run/

[2022-11-12 11:43] pravinpushkar commented on #1128
@bulolo As of now `dapr run` is not supported in detached mode.

[2022-11-13 08:43] shubham1172 commented on #1085
👋🏻🤖

[2022-11-13 08:44] shubham1172 commented on #1107
👋🏻🤖

[2022-11-13 10:37] bulolo commented on #1128
So any idea how to deploy in self host without detached mode？

[2022-11-14 18:41] pravinpushkar commented on #1128
As of now via interactive shell(the above method mentioned in description) is the option.

[2022-11-16 08:49] shubham1172 commented on #1119
@dapr/maintainers-cli there is a PR out, can we add this to 1.10?

[2022-11-16 17:35] alberthuang24 commented on #1119
/assign

[2022-11-17 06:31] shubham1172 opened #1130 "Fix self-hosted e2e tests on macOS"
## Description

Our self-hosted e2e test suite has broken on macOS due to upgrade to macOS-12 runner. The new runner does not include `helm`, and we fail to fetch the latest runtime version. Example, https://github.com/dapr/cli/actions/runs/3485014051/jobs/5831664262

![image](https://user-images.githubusercontent.com/22132944/202372832-6cb34355-4873-4d76-8cc7-8889eb296736.png)

Reference issue ht

[2022-11-18 05:35] #1130 closed

[2022-11-18 15:19] #1119 closed

[2022-11-18 15:21] mukundansundar commented on #1123
Related PR dapr/proposals#6

[2022-11-21 05:56] pravinpushkar opened #1132 "Rename `Version` column in `dapr status -k` output as `Tag`"
## Describe the proposal

When the `docker images` contain any custom tag information along with version then it does not seem apt to show column header as `Version`.

For example, when `image-variant` flag is passed then currently we show `1.8.0-mariner` in the `Version` column.

We can take one of the following two ways to make it better  -

1.  Rename `Version` column in `dapr status -k` output

[2022-11-22 05:22] shubham1172 opened #1133 "Prevent GitHub API throttling in CI"
## Issue

We recently added https://github.com/dapr/cli/pull/1131, which makes 10 API calls to api.github.com per e2e workflow run.

Our workflows are seen failing intermittently like this: https://github.com/dapr/cli/actions/runs/3520395027/jobs/5901271353

Root cause is throttling.

[code]

See https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limit-http-headers, the defaul

[2022-11-22 08:42] shubham1172 commented on #1133
/assign

[2022-11-22 09:30] #1133 closed

[2022-11-23 06:06] shubham1172 commented on #1127
@mukundansundar yes, that we can do. The main motivation for using a routes is the ability to filter events.

[2022-11-23 09:10] #1113 closed

[2022-11-24 09:46] shubham1172 opened #1136 "Dapr run generates invalid app IDs"
## Issue

If app ID is not specified to `dapr run`, it generates random IDs using https://github.com/Pallinder/sillyname-go

https://github.com/dapr/cli/blob/544c1d788a510d7d74d8a7db49b0f1be1134258a/pkg/standalone/run.go#L66-L73

This is no more compliant with the App ID validation added by https://github.com/dapr/dapr/pull/5556

`ℹ️  Checking if Dapr sidecar is listening on HTTP port 44817`
`time

[2022-11-24 13:48] shubham1172 commented on #1090
/assign

[2022-11-25 04:39] #1136 closed