[2021-01-12 17:40] #576 closed

[2021-01-12 19:30] msfussell commented on #485
@mukundansundar - Are you currently working on this?

[2021-01-12 19:40] mukundansundar commented on #485
@msfussell I am not currently working on this.

[2021-01-12 19:50] msfussell commented on #466
Not reproducible.

[2021-01-12 19:50] #466 closed

[2021-01-13 03:08] #556 closed

[2021-01-13 12:15] apuzyrevsky opened #699 "Add possibility to define custom fasthttp server MaxRequestBodySize parameter to handle uploading of big files."
## In what area(s)?

## Describe the feature

During the writing and deployment of the service which uploads files (up to 2GB), I've encountered an issue that files bigger than 4 megabytes are not uploading. I've gone on an investigation where exactly the issue lies and eventually find out that dapr using for HTTP server fasthttp library, which by default got a 4 MB limit on max body size and in d

[2021-01-15 15:46] vzdesic opened #579 "Error when serving connection / reading request headers: EOF"
Please, I need your help!

I doubted if this has to be posted under dapr/dapr repo.

When I run my ASP.NET Core API 5.0 application on my local machine with following command:
\>  **dapr run --app-id accesspoint --app-port 6000 dotnet run -- -p AccessPoint.Service.csproj**

**I also have local mongodb component as a state store.**

Everything looks good. Console logs are there without any errors a

[2021-01-15 18:40] vzdesic commented on #579
Ok, it seems I just have to run following command and say that app port is 5001, because it appears as a default ASP.NET Core https port:

\> dapr run --app-id accesspoint --app-port 5001 dotnet run -- -p AccessPoint.Service.csproj

[2021-01-15 19:03] vzdesic commented on #579
Ok, I just had to run following command and say that app port is 5001, because it appears as a default ASP.NET Core https port:

[2021-01-15 19:03] #579 closed

[2021-01-20 02:11] msfussell opened #580 "Make install script work with non-privilege's environments like Azure Cloud Shell"
There are environments like Azure Cloud shell https://shell.azure.com/ that do not have sudo priviledges. When using the Linux install script https://v1-rc2.docs.dapr.io/getting-started/install-dapr-cli/ these fail. Currently the user has to do the following to make this work.

- wget -q https://github.com/dapr/cli/releases/download/v1.0.0-rc.3/dapr_linux_amd64.tar.gz
- chmod o+x dapr_linux_amd64.

[2021-01-20 14:59] vermegi opened #581 "dapr init in GH codespace for version 1.0.0-rc.2 changes container names"
## Expected Behavior

redis container after dapr init should be named dapr_redis

## Actual Behavior

After calling dapr init --runtime-version 1.0.0-rc.2 the redis container in GH codespaces is called codespaces-compose_dapr_redis_1

## Steps to Reproduce the Problem

1. take dev container at https://github.com/microsoft/vscode-dev-containers/tree/master/containers/dapr-dotnetcore-3.1 as a starti

[2021-01-20 15:52] mukundansundar commented on #581
@vermegi there was a change done in https://github.com/dapr/cli/pull/546 to remove redis-host flag and properly start redis as part of the `dapr init` command when the docker network is set.
Thus the container name is prefixed with the docker network name.
But there is a network alias set as `dapr_redis`. Would that be sufficient for your usecase?

cc @msfussell @yaron2

[2021-01-21 08:44] vermegi commented on #581
So, if I understand correctly, there is no more REDIS_HOST flag/environment variable. But, when setting the DAPR_NETWORK environment variable, if in the init command you do:
dapr init --runtime-version 1.0.0-rc.2 --network dapr-dev-container
This will name the dapr with a network prefix, and that should be ok and picked up correctly by your apps.

 In my case, my application is not able to start c

[2021-01-21 15:14] mukundansundar commented on #581
@vermegi  I am assuming the application is also running the same docker network.

From the logs you pasted, one looks interesting:

It should not be trying to connect to localhost:6379.

There is one more change needed to be done in the dapr-dev-container, the dapr CLI version also needs to be updated to 1.0.0-rc.3. With that the configuration files are updated to point to the network alias when a

[2021-01-21 20:27] tomkerkhove opened #610 "Show more information for components when using -o wide"
## In what area(s)?

/area runtime

## Describe the feature
Show more information for components when using -o wide to give operators more information about the resources without going to a specific resource first.

## Release Note

RELEASE NOTE: **ADD** Show more component info when using `-o wide` in Kubernetes

[2021-01-22 04:32] artursouza commented on #545
I took a look at this with Mukundan. I think this issue should be de-prioritized for the following reasons:
1. We are not sure if port forwarding is the right thing to do. When a user inits dapr withing a docker network, it might be intentional about not having the ports exposed. On top of that, the components configuration would work either within the network or outside, the same config cannot wo

[2021-01-22 05:12] msfussell commented on #455
No. Closed

[2021-01-22 05:12] #455 closed

[2021-01-22 05:32] msfussell commented on #519
This "redis-host" parameter has now been removed in the latest release, since as you pointed out this was strange to have just for redis and not for other components. Hopefully this removal aligns with your expectations in this issue also.

[2021-01-22 05:32] #519 closed

[2021-01-22 12:26] vermegi commented on #581
Yes! Exellent! All good now:

WARNING: no application command found.
ℹ️  Starting Dapr with id order-service. HTTP Port: 5180. gRPC Port: 5101
INFO[0000] starting Dapr Runtime -- version 1.0.0-rc.2 -- commit 196483d  app_id=order-service instance=a0c2ef4f73c5 scope=dapr.runtime type=log ver=1.0.0-rc.2
INFO[0000] log level set to: info                        app_id=order-service instance=a0c2ef4f73

[2021-01-22 12:26] #581 closed

[2021-01-22 14:21] trondhindenes commented on #519
nice! Thanks!

[2021-01-25 18:14] #415 closed

[2021-01-27 01:34] lokinfey opened #582 "Dapr for apple silicon"
When dapr publish version for apple silicon ?

[2021-01-29 20:55] pkedy commented on #436
This would totally be a nice feature for development but I wanted to raise a question around security.  My assumption is that the sidecars should only trust communication from the app containers in the same pod and the other running Dapr sidecars (via mTLS, etc). Would exposing a mechanism to use invokeGet, invokePost, and publish essentially bypass that level of trust? Am I missing something?

I'

[2021-01-29 21:16] pkedy commented on #436
Also might consider using `kubectl port-forward` to accomplish this.
https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod
One downside is that you would not receive a callbacks to a Publish operations.

[2021-01-29 21:18] yaron2 commented on #436
The app running on k8s will receive the callbacks. Your local machine won't. :)

[2021-02-03 01:58] AaronCrawfis opened #584 "dapr upgrade failed to upgrade"
## Expected Behavior

Expect `./dapr upgrade -k --runtime-version=1.0.0-rc.3` to upgrade a cluster from rc.2 to rc.3

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. Start with AKS cluster rc.2
2. Download dapr cli from releases (don't use script)
3. Run `./dapr upgrade -k --runtime-version=1.0.0-rc.3`

## Release Note

RELEASE NOTE: **FIX** Bug in upgrade command that fails to u

[2021-02-03 02:03] yaron2 commented on #584
Can't reproduce this.

Can you?

[2021-02-04 00:44] pkedy commented on #553
/assign

[2021-02-04 21:54] AaronCrawfis commented on #584
Working for me, closing issue

I started with an AKS cluster running 1.18.14.

Opened an Azure Cloud shell with a manually downloaded dapr 1.0-rc.4 cli:

[code]

[2021-02-04 21:54] #584 closed

[2021-02-05 00:58] msfussell commented on #403
@yaron2

[2021-02-05 00:59] yaron2 commented on #403
No, this can be closed. we are no longer using a template file.

[2021-02-05 00:59] #403 closed

[2021-02-05 19:21] Otto404 opened #600 "Install script for Dapr failing in Powershell on Windows"
**Describe the issue**
Execution of the install script returns an error. The version is not installed. dapr is not installed.
The error-message is:

In Zeile:1 Zeichen:106
+ ... /dapr/cli/master/install/install.ps1; =[ScriptBlock]::Create(); invok ...
+                                                                  ~
Nach "(" wurde ein Ausdruck erwartet.
    + CategoryInfo          : ParserError

[2021-02-05 23:05] #553 closed

[2021-02-07 22:20] DarqueWarrior opened #587 "dapr help does not return --version flag but just dapr does"
## Expected Behavior

[code]

## Actual Behavior

[code]
Notice that `-v, --version  version for dapr ` is missing. The only way to see the version flag is to just type `dapr` and press enter. But if you type `dapr help` you lose the version.

## Steps to Reproduce the Problem

Type `dapr help`.

## Release Note

I am using:
CLI version: 1.0.0-rc.4
Runtime version: 1.0.0-rc.3

RELEASE NOTE:

[2021-02-11 18:10] javageek79 opened #591 "dapr sidecar not working on local system"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.0.0-rc.4

## Expected Behavior

Sidecar starts without error

## Actual Behavior

execute `dapr run -a pub -H 65001 -G 50002`

results in
[code]
Also `$ dapr list` shows a suspicious entry
[code]

The exact same configuration worked before with rc-3

btw. `dapr run -a sub -p 4200 -H 60001 -G 51001 --log-level debug` works just fine
#

[2021-02-11 18:23] javageek79 commented on #591
I found out, since I'm starting my sidecars with IntelliJ's ExternalTools, the port was still blocked by the IDE itself
![image](https://user-images.githubusercontent.com/3714921/107680675-78aa6e80-6c9e-11eb-9050-f60d4855c34e.png)
Nevertheless, that never happened before with runtime <=1.0.0-rc.1

[2021-02-11 18:26] yaron2 commented on #591
Can this be closed then? If not, can you describe the new issue in a way that's reproducible?

[2021-02-11 18:38] javageek79 commented on #591
Those 'phantom'-entries I've mentioned, occur quite often lately. It is not possible, to get rid of them unless I kill the PID in taskmanager. The blocked port, is only one example.
In this particular case, I've managed to find out that intellij had still a lock on the port, but in general, it would be good, to not having such zombie-dapr processes.

[2021-02-11 23:52] mukundansundar opened #592 "Dapr init does not get the latest stable version"
## Expected Behavior

Dapr init does not get the latest stable version.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Get RC5, run `dapr uninstall --all` and `dapr init`.

## Release Note

RELEASE NOTE: Fix Dapr stable version initialization

[2021-02-12 00:26] mukundansundar commented on #592
With the addition of the `upgrade` command, the same version `runtimeVersion` is being shared between `upgrade` and `init`.
In `init` the flag is mapped by default to `"latest"` while in upgrade it is mapped to `""`.
This broke the default init path since it expects the default to be `"latest"` and not empty ....

[2021-02-12 01:01] #592 closed

[2021-02-12 17:52] DarqueWarrior opened #597 "Add --wait flag to dapr init and dapr upgrade"
## Describe the proposal

When using infrastructure as code in a DevOps pipeline my K8s cluster is created and I then run dapr init and helm install (of my application) if you do that too quickly no side cars will be injected into my pods because the dapr containers are still being created.

This required me to write custom logic to repeatedly calling dapr status and checking if I found the word `

[2021-02-12 17:58] DarqueWarrior opened #598 "Add a --install flag to dapr upgrade"
## Describe the proposal

When using infrastructure as code in a DevOps pipeline there are times my K8s cluster will be created and others where it will already exist. In either case, I want to be able to install dapr without error.

As of today with two separate commands init and upgrade my pipeline would have to have logic in it to determine if I just created my cluster or not. This goes against

[2021-02-12 19:55] rynowak opened #599 "Add git commit hash to version output"
## Describe the proposal

We should add the git commit hash to the version output of both `dapr --version` and `daprd --version`

As an example here's what `kubectl` does:

[code]

We don't need to adopt JSON as a format - the takeaway here is that you can verify the supply chain of what you're using exactly. This is important for the team doing verification of a release - you can know what versio

[2021-02-12 20:00] mukundansundar commented on #599
@rynowak I agree. This also needs a fix in dapr/dapr repo.

[2021-02-13 05:49] msfussell commented on #600
Moving this to the CLI repo.

[2021-02-15 08:00] javageek79 opened #601 "dapr upgrade to rc4 failed"
## In what area(s)?

/area runtime

## What version of Dapr?

1.0.0-rc.3

## Expected Behavior

`dapr upgrade --kubernetes --runtime-version=1.0.0-rc.4` works without issues

## Actual Behavior

[code]

## Steps to Reproduce the Problem

System status before upgrading
[code]
Kubernetes version is v1.18.8

## Release Note

RELEASE NOTE: N/A

[2021-02-15 14:55] frochi42 commented on #601
Additional remark:
The big problem is however, that the upgrade fails.

But a second problem is, that the dapr cli returns success (exit code 0) in this case. However it is required, that the failure of an upgrade (you can also say: a failure in any dapr-cli command) must result in an error code.
When trying this upgrade today, our upgrade-pipeline reported a green light, though the upgrade failed

[2021-02-15 19:34] #601 closed

[2021-02-18 07:10] a121984376 opened #606 "Can not install CLI"
## Expected Behavior

![image](https://user-images.githubusercontent.com/15758574/108318752-4bf4da80-71fb-11eb-9c2d-57954ed2152c.png)

OS :windows 10 20H2

[2021-02-18 11:42] #606 closed

[2021-02-20 08:48] a121984376 opened #607 "init failed"
RELEASE NOTE:
![image](https://user-images.githubusercontent.com/15758574/108589856-767d9980-739b-11eb-9a3e-6a0a7f63de8c.png)

any log can i see?

[2021-02-20 21:46] WhoAteDaCake commented on #190
Agreed, it would be a very useful feature, as the moment it just treats it as 500 error, retries few times, then just stops. So if the sidecar is run within a docker container (I use it as a workaround for docker swarm), the container stays alive, even though the app has died.

[2021-02-22 11:58] mhoad commented on #257
My understanding of the issue is the following:

- There is no hard dependency on Docker itself
- It's only used as a way to provide a consistent dev environment for things like Redis etc
- In theory another Docker API compatible solution like Podman should work
- That isn't currently possible because we test for a a Docker like solution by using the Docker SDK and *that* isn't compatible with a s

[2021-02-22 23:18] horihiro opened #608 "`radis:latest` and `openzipkin/zipkin` are NOT removed by `dapr uninstall --all`"
## Ask your question here
After executing `dapr uninstall --all`, docker image `daprio/dapr:latest` is removed successfully, but `radis:latest` and `openzipkin/zipkin` are **NOT** removed from my environment.

Is this expected behavior?

![image](https://user-images.githubusercontent.com/4566555/108782734-7950d800-75af-11eb-9190-93858adf2110.png)

[2021-02-23 18:51] mukundansundar commented on #608
@horihiro This is expected, unless the container name is specifically `dapr_redis` or `dapr_zipkin`, it will not be removed on dapr uninstall.

[2021-02-23 21:11] mukundansundar opened #609 "Status check panics with traceback when container is in pending state"
## Expected Behavior

Status check gracefully fails on pending errors. Upgrade stops when containers are in pending state.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Have some dapr containers in pending state, ie not enough resource in k8s cluster. run `dapr status -k`

## Release Note

RELEASE NOTE: Fix status check panic on pending containers

[2021-02-23 21:59] horihiro commented on #608
Thanks.
Containers which names are `dapr_redis` and `dapr_zipkin` are removed successfully by `dapr uninstall --all`.
But container **images** `redis` and `openzipkin/zipkin` ,which were installed by `dapr init`, are not removed, only `daprio/dapr` is removed.

[2021-02-24 21:09] AaronCrawfis commented on #424
Reading the WinGet documentation it looks like we'll need an executable that:

- Copies the dapr cli binary into C:\dapr
- Adds this directory to the local user path

This can be either a standalone .exe named "dapr-installer.exe" or we can add a flag/feature to the existing dapr binary that causes it to copy itself and then update the path.

@artursouza thoughts?

[2021-02-25 04:08] artursouza commented on #424
@AaronCrawfis, you seem to be describing a msi installer.

WinGet accepts .msi installers. This can be achieved "easily" with https://wixtoolset.org

The msi installer must be configured to add the dapr.exe in the right folder and update the PATH env variable. The building of the .msi installer belongs to the dapr/cli repo IMO and should be one of the assets generated side-by-side with the executa

[2021-02-28 17:19] yoDon opened #618 "Multiple race conditions when deploying any dapr application to Kubernetes"
## In what area(s)?

/area runtime
/area operator
/area docs
/area test-and-release

## What version of Dapr?

1.0

## Expected Behavior

Scripted dapr kubernetes deployments should just work without hacky sleep statements

## Actual Behavior

Scripted dapr kubernetes deployments fail without multiple hacky sleep statements

## Steps to Reproduce the Problem

First, create this yaml file which con

[2021-03-02 07:22] tomkerkhove commented on #610
I think `type` would be the most obvious one, optionally version as well.

Metadata for every component would be nice, but too flexible I'm afraid

[2021-03-03 11:04] mhoad commented on #457
Seems like this is likely related to how dapr is currently checking for Docker also covered in Issue https://github.com/dapr/cli/issues/257

[2021-03-04 19:51] merken opened #612 "Use sudo when installing on macOS"
## Expected Behavior

I run the installer shell command in macOS shell:
```curl -fsSL https://raw.githubusercontent.com/dapr/cli/master/install/install.sh | /bin/bash```

Dapr is fully installed on macOS.

## Actual Behavior

I get this output:
[code]

## Steps to Reproduce the Problem

Run the installer script on an macOS Big Sur Intel Mac 11.2.2.

## Release Note

FIX: Installer script on macOS

[2021-03-05 09:51] Edward-Roshan opened #614 "enhance, flexible dapr api configuration and direct port mapping service."
## Describe the proposal

we use ```dapr invoke --app-id some_app --method some_method --payload "something" --verb```. It's not flexible enough to apply dapr api in production. Is there anyway make it more flexible or easily in any situation. Or you could just provide a service. Let us easily to direct mapping port from back to front with tcp/udp  protocols?

[2021-03-05 13:48] stanspotts opened #613 "dapr run --app-id does not set app-id"
## Expected Behavior

When I run the command
`dapr run --app-id mynodeapp --app-port 3000 --dapr-http-port 3500 node app.js'`

I see this:
Starting Dapr with id mynodeapp. HTTP Port: 3500. gRPC Port: 28495
== APP == Node App listening on port 3000!
{log stuff}
Updating metadata for app command: node app.js
You're up and running! Both Dapr and your app logs will appear here.

I expected the next st

[2021-03-06 00:50] yaron2 commented on #614
In production it's advised you call the Dapr APIs directly or using an SDK. The CLI methods are mostly for development purposes.

[2021-03-07 11:29] CarloGarcia opened #615 "How to resolve x509 error: "certificate signed by unknown authority" during installation"
## Am I missing a step?
I am running into the following issue when trying to trying to install dapr on a local [K3S] Kubernetes cluster. Is there an additional configuration step or additional command line option that I need include on the "**dapr init**" command?

When I execute the following command: "**dapr init -k**"

I get the following output and error:

Steps to reproduce:
1. Install K3S (o

[2021-03-07 11:57] CarloGarcia commented on #615
Ok, I think I have found a workaround for the moment, the following command has resolved my issue for now:
"`sudo kubectl config view --raw > ~/.kube/config`"

This issue seems to be as a result of the way K3S works (specifically using `/etc/rancher/k3s/k3s.yaml` for configuration whereas `${HOME}/.kube/config` is needed for interop with existing k8s tools (ie Helm).)

K3S seems to have installati

[2021-03-07 11:57] #615 closed

[2021-03-08 00:42] rynowak opened #616 "Console output is overly A E S T H E T I C when application logs contain newlines"
## Expected Behavior

`dapr run` doesn't insert extra newlines in application logging.

If I run an ASP.NET Core application with `dotnet run`, then it outputs:

[code]

So, I'd expect the console output of `dapr run` to look like:

[code]
If

## Actual Behavior

It looks like (extra newlines):

[code]

## Steps to Reproduce the Problem

Install .NET Core 3.1+

[code]

The default for ASP.NET Core

[2021-03-08 19:10] stanspotts commented on #613
No idea why, but after rebooting this worked.

[2021-03-08 19:10] #613 closed

[2021-03-09 09:04] Edward-Roshan commented on #614
Great. I mean I want to know If I run some applications like ElasticSearch, Hadoop Cluster or Kafka under the dapr runtime. Can we directly mapping inner port to out side of dapr runtime?

[2021-03-10 09:40] Edward-Roshan commented on #614
I am sorry that i bother you. Probably I need take some time to learn k8s more. I find I could use port-forward to forward any inner port from pod to cluster for ClusterIP service. Or create new service with NodePort or LoadBalance to expose port to out side. Thanks. Let me close issue.

[2021-03-10 09:40] #614 closed

[2021-03-11 12:44] tuapuikia opened #622 "CRD gone after upgrade"
## What version of Dapr?
v1.0.1
## Expected Behavior

Components like pubsub, states and etc remain in the system during dapr upgrade

User component still in the system after dapr upgrade

## Actual Behavior

All components config is gone.

[code]

[2021-03-11 17:16] mukundansundar opened #619 "[Unit Tests] Add unit tests for publish, invoke and list standalone files"
## Describe the proposal
Add unit tests for the following files:
publish
invoke
list

Related to #485

## Release Note

RELEASE NOTE: N/A

[2021-03-11 17:18] mukundansundar opened #620 "[Unit Tests] Add unit tests for standalone, uninstall standalone pkg files"
## Describe the proposal

Add unit tests for standalone, uninstall standalone pkg files

Related to #485
## Release Note

RELEASE NOTE: N/A

[2021-03-11 17:19] wcs1only commented on #618
Moving this to CLI repo, since it a CLI feature request. The ask here boils down to: can we add a cli flag to synchronously wait for a Dapr deployment to complete to make it easier for quickstarts/deployment automation to know when it is safe to proceed to deploying Dapr apps.

[2021-03-11 17:21] mukundansundar opened #621 "[Unit Tests] Add unit tests for the list, uninstall, kubernetes files in the k8s package"
## Describe the proposal

[Unit Tests] Add unit tests for the list, uninstall, kubernetes files in the k8s package

Related to #486

## Release Note

RELEASE NOTE: N/A

[2021-03-11 17:25] mukundansundar commented on #423
Closing this issue since it has been split into two parts #485 and #486

[2021-03-11 17:25] #423 closed

[2021-03-11 18:57] #622 closed

[2021-03-12 01:59] 1046102779 commented on #609
solved. [dapr status -k](https://github.com/dapr/cli/pull/617)

[2021-03-15 08:17] darren-wang opened #626 "how to install dapr runtime offline"
Hi, we need to install dapr offline, we can now install dapr CLI offline already according to dapr CLI's install script, however, how could we install dapr runtime offline, just like exec `dapr init -k`?

I think this is a rather import issue cause many real prod envs can not access internet directly, hope get some answer.

[2021-03-15 08:45] yamajik opened #627 "How to run app in docker instead of process on selfhost?"
How to run app in docker instead of process on selfhost?

[2021-03-15 08:58] yamajik opened #628 "How to run app in background?"
How to run app in background?

[2021-03-15 16:40] yaron2 commented on #628
This is how you can run the sidecar only: https://github.com/dapr/cli#running-sidecar-only

Then you can start your app independently.

[2021-03-15 16:41] yaron2 commented on #627
See here: https://github.com/dapr/samples/tree/master/hello-docker-compose

[2021-03-15 16:43] yaron2 commented on #626
If you don't have internet access directly, it means you'll need to host Dapr docker images on your own on-premises registry.

You would essentially need to push images to your own local registry, and can then use the Dapr Helm Chart to modify the values to point to your image.

[2021-03-16 16:25] wcs1only commented on #618
We actually had an existing issue open on this which already has a PR open. Closing in favor of #597

[2021-03-16 16:25] #618 closed

[2021-03-16 22:44] wcs1only opened #631 "CLI returns non-zero when dapr stop is used on Windows"
## Expected Behavior

When ```dapr stop --app-id foo``` the dapr process which launched ```foo``` should gracefully clean up and exit with a return code of 0.

Also we expect the following to be printed:
[code]

## Actual Behavior

On Windows the dapr process returns 1. It does not print the expected success message.

## Steps to Reproduce the Problem

On cygwin/bash:

[code]
From another terminal

[2021-03-17 17:03] #515 closed

[2021-03-17 17:43] mukundansundar commented on #609
closed by #617

[2021-03-17 17:43] #609 closed

[2021-03-17 18:15] #597 closed

[2021-03-17 19:06] mukundansundar commented on #412
removing epic label since this issue just mentions e2e tests for init and uninstall in standalone and kubernetes mode.

[2021-03-18 00:25] mukundansundar opened #633 "[E2E Scenario tests] Add initial set of e2e tests for k8s upgrade command for non-ha mode."
## Describe the proposal
[E2E Scenario tests] Add e2e tests for k8s upgrade command

Handle multiple version combinations of upgrade if possible. (Covering the supported versions of Dapr)

## Release Note

RELEASE NOTE:

[2021-03-18 04:12] JoeMayo opened #634 "Permission Denied When Installing on MacBook M1"
## In what area(s)?

/area docs

## Ask your question here

I have a Macbook M1 machine, trying to install Dapr via the MacOS instructions at [docs.dapr.io](https://docs.dapr.io/getting-started/install-dapr-cli/).

When typing this command:

    sudo curl -fsSL https://raw.githubusercontent.com/dapr/cli/master/install/install.sh | /bin/bash

I received the following output:

This is a relatively n

[2021-03-18 06:46] yamajik commented on #627
Any plan for adding feature to run cases (process|docker|kubernets) over Dapr CLI?

[2021-03-18 08:26] yamajik opened #635 "go get as mod failed"
go get: github.com/dapr/cli@v0.2.0-alpha.2 updating to
        github.com/dapr/cli@v1.0.1 requires
        github.com/dapr/dapr@v1.0.0-rc.1.0.20201217002310-310e670d987b requires
        github.com/dapr/components-contrib@v1.0.0-rc2.0.20201216184327-a03a96c28267 requires
        github.com/dapr/dapr@v0.4.1-0.20200228055659-71892bc0111e requires
        github.com/dapr/components-contrib@v0.0.0-202

[2021-03-18 16:27] wcs1only commented on #634
Do you have homebrew installed? I think homebrew uses /usr/local/bin and I think we may be implicitly relying on that. Or something may have changed in 11.0.

[2021-03-18 16:29] JoeMayo commented on #634
Docs say Homebrew isn't supported for M1 Macs.

[2021-03-18 17:07] JoeMayo commented on #634
I was able to install Homebrew, but received the following message:

brew install dapr/tap/dapr-cli

==> Installing dapr-cli from dapr/tap
==> Downloading https://github.com/dapr/cli/archive/v1.0.1.tar.gz
Already downloaded: /Users/jmayo/Library/Caches/Homebrew/downloads/ad085975abab3e5e95b51551ac63df6047daeb8c4bb881d5d1a9f49742ff6a23--cli-1.0.1.tar.gz
==> go build -ldflags -X main.version=1.0.1 -

[2021-03-18 19:22] wcs1only commented on #631
And here's the why. We're just straight up killing daprd:
https://github.com/dapr/cli/blob/3ee9e533384105456c7a80351293591edd7e576a/pkg/standalone/stop.go#L28

I've been reading around, there is a way to do this in windows, it seems like you need to call the windows API directly:
https://docs.microsoft.com/en-us/windows/console/generateconsolectrlevent?redirectedfrom=MSDN

[2021-03-18 23:24] #412 closed

[2021-03-19 05:14] jayendranarumugam opened #636 "Couldn't able to Debug from Vs code, /bin/sh: 1: daprd: not found"
## Ask your question here

Reference from : https://github.com/dapr/dotnet-sdk/issues/611
I'm trying to debug the `controllersample` from my local vs code , in WSL

This is my Launch.json

[code]

this is my task

[code]

But when I run I got like the below

Executing task: dotnet build /mnt/f/dapr/dotnet-sdk/examples/AspNetCore/ControllerSample/ControllerSample.csproj /property:GenerateFullPaths=

[2021-03-19 06:51] spboyer opened #637 "Create manifest for winget"
Create a manifest -> https://github.com/microsoft/winget-pkgs/blob/master/README.md#authoring-a-manifest

Should support `winget install dapr` (or proper moniker)

@markrussinovich

[2021-03-19 06:51] #637 closed

[2021-03-20 03:00] JoeMayo commented on #634
Got it - a bug in the install script. On line 37, change:

    if [ "$OS" == "linux" ] && [ "$DAPR_INSTALL_DIR" == "/usr/local/bin" ]; then

to:

    if [[ "$OS" == "linux" || "$OS" == "darwin" ]] && [ "$DAPR_INSTALL_DIR" == "/usr/local/bin" ]; then

That's because in line 36:

    OS=$(echo `uname`|tr '[:upper:]' '[:lower:]')

`uname` returns `Darwin`, which in turn makes `OS` be `darwin`. So you

[2021-03-20 03:15] yaron2 commented on #634
Great you found the bug.
Would you like to submit a PR to fix this?

[2021-03-20 03:16] JoeMayo commented on #634
Thanks - Working on it now.

[2021-03-21 17:09] tonysneed commented on #636
I get this same error running the VS Code Dapr extension on macOS Big Sur.

[2021-03-22 22:46] #631 closed

[2021-03-23 01:44] newbe36524 opened #640 "Support to download and use dapr cli in private network"
### Background

1. In mainland China, it is difficult to download the package file on github directly
2. We consider that some users in a private network need to initialize and run dapr cli. Therefore, in this case, github and docker hub cannot be connected

Therefore, we consider that cli can be designed to support pulling related resources from private asset hosts and docker Registry. To solve t

[2021-03-23 01:48] newbe36524 commented on #626
@darren-wang  I and my partners are trying to make this done. please join us to handle it if you are interested #640

[2021-03-23 07:59] kinosang opened #641 "Actors not work with dapr init --slim"
## Expected Behavior

Trying to run the .Net Actor example.

## Actual Behavior

In `DemoActor` run `dapr run --app-id myapp --app-port 5000 --dapr-http-port 3500 dotnet run`
<details>
  <summary>logs</summary>

[code]
</details>

In `ActorClient` run `dotnet run`
[code]

[code]

![screenshot](https://user-images.githubusercontent.com/4987102/112112883-0e67e080-8bf1-11eb-91f8-583a801c122c.png)

##

[2021-03-23 07:59] kinosang commented on #641
ref dapr/dotnet-sdk#380 #452

[2021-03-25 16:18] RadoslavGatev opened #643 "Default components of Self-hosted mode miss the required version field"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.0.1

## Expected Behavior

The components auto-created by Dapr in Self-hosted mode, namely statestore.yaml and pubsub.yaml, must contain the version field that is now required for Dapr Components.

## Actual Behavior

The auto-created components do not have a version specified.

## Steps to Reproduce the Problem

Run `dapr init` and

[2021-03-25 16:19] RadoslavGatev opened #644 "Default components of Self-hosted mode miss the required version field"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.0.1

## Expected Behavior

The components auto-created by Dapr in Self-hosted mode, namely statestore.yaml and pubsub.yaml, must contain the version field that is now required for Dapr Components.

## Actual Behavior

The auto-created components do not have a version specified.

## Steps to Reproduce the Problem

Run `dapr init` and

[2021-03-26 04:04] marviniter opened #645 "dapr start app error need to stop the running dapr process"
## Expected Behavior
dapr run app err need to stop the running daprd process

## Actual Behavior
dapr run  to start app with not found command cause "exec: "-": executable file not found in $PATH" error then exit but the daprd proccess is running and dapr cli can not find and stop it, need kill the daprd process by cmd.

## Steps to Reproduce the Problem
dapr run --app-id testpubsub  --dapr-http-p

[2021-03-28 11:19] newbe36524 opened #647 "Support to get api response and replace base download url"
## Describe the proposal

Support to get github release api json from specified path instead of api.github.com
Support to download binary files from specified asset host instead of github.com

for example, developer could run this script to download and install dapr in China to get better network expreince:

[code]

refer to #640

## Release Note

RELEASE NOTE: **ADD** Support to  get api response

[2021-03-28 14:11] KoditkarVedant commented on #290
Just add to the point - I was getting started with dapr. When I ran the `dapr init` it failed with some network error.

[code]

when I ran the `dapr --version` it was showing the CLI version but the Runtime version was `n/a`. Which I feel fine.

But I did not find any way to verify if the initialization was correct. and running the `dapr init` doesn't initialize if the environment is not already i

[2021-03-29 16:30] javageek79 opened #649 "Failed to upgrade Dapr: release name is invalid"
## Expected Behavior

successfull dapr upgrade from 1.0.0.-rc4 to 1.0.1 via cli

## Actual Behavior

dapr upgrade terminates with the following message.

`"Failed to upgrade Dapr: release name is invalid:  "`

## Steps to Reproduce the Problem

run
[code]

The same upgrade command has been successfully executed on two other environments already.

## Release Note

RELEASE NOTE:

[2021-03-29 18:48] mukundansundar commented on #643
Dup of #644

[2021-03-29 18:48] #643 closed

[2021-03-30 13:38] harryvu opened #650 "Install script threw an exception on Windows 10"
I followed the instruction from Dapr Docs to install Dapr CLI, but it threw an exception below:

PS C:\dapr> powershell -Command "iwr -useb https://raw.githubusercontent.com/dapr/cli/master/install/install.ps1 | iex"
Installing Dapr...
Creating c:\dapr directory
Downloading https://api.github.com/repos/dapr/cli/releases/assets/33351938 ...
Extracting c:\dapr\dapr_windows_amd64.zip...
Exception 0xc

[2021-03-30 19:49] mukundansundar commented on #650
Hi @harryvu This seems like an exception was thrown while the Zip file was extracted. Can you try if possible on some other windows version if possible?

[2021-03-30 22:06] mukundansundar commented on #608
@horihiro Only the running container and container instances are removed. The images will not be removed by `dapr uninstall`. That is the default behavior.

[2021-03-30 22:13] horihiro commented on #608
Thank you!

[2021-03-30 22:13] #608 closed

[2021-03-31 06:00] mtaghavi2005 opened #651 "--dapr-http-max-request-size flag is missing for Dapr run"
## Expected Behavior

Since Dapr 1.0.0 there is a flag/configuration to set Max Http Request Size for dapr runtime. Although Documentation says new flag should be working with Dapr CLI, but it doesn't work.

https://docs.dapr.io/operations/configuration/increase-request-size/
`dapr run --dapr-http-max-request-size 16 node app.js`

## Actual Behavior

![image](https://user-images.githubusercontent.

[2021-03-31 07:10] TomorJM opened #652 "`dapr stop` cli command description meet a small expression fault."
![image](https://user-images.githubusercontent.com/11410549/113104402-15b36d80-9233-11eb-9f5b-21eed245448c.png)

There's an extra dot

[2021-03-31 19:20] halspang opened #654 "Should Shutdown API kill CLI process"
## Ask your question here
Do we want the shutdown API to try and kill the CLI as well to make it more inline with how `dapr stop` works?

With the new shutdown API, we can kill instances of daprd with calls from the various SDK clients (or any web request). However, this doesn't stop the CLI process. This can put you into a state where you have CLI processes hanging forever as the underlying daprd

[2021-04-01 18:04] mukundansundar opened #656 "Dapr uninstall -k does not remove the CRDs"
## Expected Behavior

`dapr uninstall -k` remove the CRDs

## Actual Behavior
[code]

## Steps to Reproduce the Problem

- install dapr using `dapr init -k`.
- run `kubectl get crds`
- run `dapr uninstall -k`
- run `kubectl get crds`
the crds still exist.

## Release Note

RELEASE NOTE: **RESOLVED** `dapr uninstall -k` does not remove CRDs

[2021-04-01 19:49] pkedy opened #657 "`dapr upgrade -k` in some cases does not replace/update CRDs"
## Expected Behavior

When appropriate (or maybe always) run the equivalent of a `kubectl replace` for each CRD.

Related to #656

## Actual Behavior

The Dapr CLI currently does not do anything to upgrade CRDs during a Kubernetes upgrade.

## Steps to Reproduce the Problem

* install dapr using dapr init -k.
* run kubectl get crds
* run dapr uprade -k
* run kubectl get crds
* the crds are not upd

[2021-04-01 21:13] mukundansundar commented on #657
@pkedy dapr upgrade does update the CRDs .... https://github.com/dapr/cli/blob/master/pkg/kubernetes/upgrade.go#L138-L147

Should it be that it should replace the CRDs if there are issues and such?

[2021-04-01 21:43] pkedy commented on #657
@mukundansundar Based on our convo this morning, I thought that the CRDs were applied only on an init. This changes things. :)

Since `kubectl apply` basically does a replace/patch if it already exists, in theory this is unnecessary. Obviously more investigation is needed.

[2021-04-02 16:02] #652 closed

[2021-04-02 16:16] mukundansundar commented on #649
Hi @javageek79 I am seeing that the error you are getting is related to the release name. Could you check what release name you have for the environment?

[2021-04-02 16:17] mukundansundar commented on #645
closed by #646

[2021-04-02 16:17] #645 closed

[2021-04-02 16:17] mukundansundar commented on #644
closed via #642

[2021-04-02 16:17] #644 closed

[2021-04-02 16:33] mukundansundar commented on #654
@halspang Good point, I think shutdown API should kill the CLI process though I am wondering how that can be achieved.
Since the CLI is the parent process for the daprd process will it be possible to notify the parent on the exit of the child process?
@wcs1only @yaron2 thoughts on this?

[2021-04-02 16:46] wcs1only commented on #654
I don't think we need to have the child signal the CLI, we can probably just have the CLI poll to see when its children processes are gone and then exit.

[2021-04-03 03:00] mukundansundar opened #660 "[E2E Scenario tests] Add e2e tests for k8s status command , ha mode"
## Describe the proposal

E2E Scenario tests] Add e2e tests for k8s status command , ha mode
## Release Note

RELEASE NOTE: N/A

[2021-04-03 05:11] mukundansundar commented on #607
Is this issue happening again? Were you able to resolve it?

[2021-04-03 06:59] mukundansundar commented on #599
Also consider adding the runtime api version to the output.

[2021-04-03 17:02] mukundansundar opened #662 "[E2E Scenario tests] Add e2e tests for k8s component, mtls commands"
## Describe the proposal
[E2E Scenario tests] Add e2e tests for k8s component, mtls commands

## Release Note

RELEASE NOTE: N/A

[2021-04-04 17:37] mukundansundar opened #664 "MTLS automatically enabled on running `dapr upgrade` on a cluster with MTLS disabled"
## Expected Behavior

`dapr upgrade` command does not change the mtls setting from disabled to enabled.

## Actual Behavior

`dapr upgrade` command turns on mtls even if it was disabled previously.

## Steps to Reproduce the Problem

<details>
<summary> Run `dapr init` with version 1.0.0 with mtls disabled </summary>

[code]

[code]
</details>

<details>
<summary> Upgrade to 1.1.0 version </summar

[2021-04-04 17:44] mukundansundar commented on #664
@yaron2 Please see the draft PR also which shows that this happens. Can you take a look at this?

[2021-04-05 04:18] mukundansundar commented on #633
The current draft PR #665 checks that the on upgrade the new crds , new cluster role bindings and new cluster roles exist.
Also that PR is for non-ha mode and MTLS is off in that mode (can be changed).

Additionally without applying the components again, check that already existing components continue to exist after the upgrade.
The question now is should the following scenario also be tested here

[2021-04-05 13:07] mukundansundar opened #666 "Switch to Go 1.16 for CLI"
## Describe the proposal
Switch to Go 1.16 for CLI

Change go mod, workflow files and any other changes.

## Release Note

RELEASE NOTE: Switch CLI to use Go 1.16 version

[2021-04-05 17:49] pkedy commented on #666
/assign

[2021-04-05 20:54] wcs1only opened #668 "For publish and invoke CLI actions, add --data-file option."
## Describe the proposal

Our quickstarts/documentation examples have to use different commands for CMD/powershell/bash due to different escaping rules for inline JSON. To minimize differences between platforms I suggest we add a `--data-file` option to read a sample payload from a file. It would make documentation disparities like [this](https://github.com/dapr/quickstarts/tree/v1.1.0/hello-world

[2021-04-05 21:34] #660 closed

[2021-04-06 00:43] #666 closed

[2021-04-06 01:11] mukundansundar opened #670 "Upgrade Go Linter"
## Describe the proposal
Upgrade Go Linter to 1.39.0. Ideal to be done in sync with other dapr repos if possible.

Remove `only-new-issues: true` flag from golangci-lint in workflow file.

## Release Note

RELEASE NOTE:

[2021-04-06 16:30] mukundansundar commented on #664
There is a workaround for this:  Use `--set` flag to override the mtls value on upgrade if it was probably disabled.

[code]

[2021-04-06 16:51] mukundansundar opened #671 "MTLS command on error exits with success"
## Expected Behavior

MTLS command on error exits with success

## Actual Behavior

MTLS command on error exits with an error

## Steps to Reproduce the Problem

on a non-dapr installed cluster ... run `dapr mtls -k`

## Release Note

RELEASE NOTE: **RESOLVED** MTLS command on error exits with success

[2021-04-06 17:49] #612 closed

[2021-04-06 17:49] #634 closed

[2021-04-06 21:02] #662 closed

[2021-04-06 21:02] #671 closed

[2021-04-06 21:58] #654 closed

[2021-04-06 23:12] artursouza commented on #633
* I think item 1 should be a valid scenario simply because cli "owns" the upgrade logic.
* Some of the validations in 2 should be validated but I would avoiding being too specific otherwise, the test will be flaky to small changes to the implementation. For example, I would not check for "mutating webhook configurer exists" instead I would test that the feature that depends on it works - there is

[2021-04-06 23:20] mukundansundar commented on #633
I will create separate issues for all of these items. I do not believe it should be this issue it self. @artursouza
Will modify this issue for non-ha mode with initial upgrade testing.

I think the mutating webhook configurer is used for addmission control ... as long as the sidecar starts up and the app "works" as expected, i think that should suffice.

[2021-04-07 02:03] mukundansundar opened #674 "[E2E Scenario tests] Add e2e tests for k8s upgrade command for ha mode."
## Describe the proposal
Add e2e tests for for k8s upgrade with HA mode enabled.

Also add tests for MTLS disabled and enabled for HA mode.

## Release Note

RELEASE NOTE:

[2021-04-07 02:04] mukundansundar opened #675 "[E2E Scenario tests] Add e2e tests for k8s upgrade command when an app is running"
## Describe the proposal
Steps -
Run dapr init
Have an application run the sidecar in k8s
Run dapr upgrade
Rollout redeploy the application
Verify the application works as expected

## Release Note

RELEASE NOTE:

[2021-04-07 02:07] mukundansundar opened #676 "[E2E Scenario tests] Add additional verifications on dapr upgrade command run"
## Describe the proposal
- On upgrade, check that the certs are the same as before (if it existed before)
- Test the `--set` flag on upgade works as expected

## Release Note

RELEASE NOTE:

[2021-04-07 02:09] mukundansundar commented on #633
Added separate issues #674 #675 #676

[2021-04-07 02:09] wcs1only opened #677 "Come up with a workaround for github API rate limiting."
## Expected Behavior

The CLI uses the github releases API on a `dapr init`. We expect this API to be available, and we fail when it isn't.

## Actual Behavior

The github releases API has a rate limit of 60 requests per hour per IP address for unauthenticated requests:

https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting

## Steps to Reproduce the Problem
[code]

## R

[2021-04-07 07:04] TomorJM commented on #533
@mukundansundar Is there anyone else working on this issue?

#526  was closed.

[2021-04-07 08:05] TomorJM commented on #677
Is it necessary?

[2021-04-07 08:28] javageek79 commented on #649
we tried to run the upgrade via helm directly. So the actual error was revealed.
![image2021-4-6_18-2-45](https://user-images.githubusercontent.com/3714921/113835158-fb761400-978b-11eb-8529-907960aa7d9e.png)

[2021-04-07 20:40] artursouza commented on #649
@javageek79 Thanks for bringing this up.

1. `replicas` can be changed if you switch between HA mode on/off in your flags. See the Helm chart template below:
[code]

2. `template` can be modified based on multiple params you might set, see https://github.com/dapr/dapr/blob/master/charts/dapr/charts/dapr_placement/templates/dapr_placement_deployment.yaml

3. `updateStrategy` is not in the template

[2021-04-08 18:59] wcs1only commented on #640
I like 2. and it should be pretty straightforward to do.

If we're going to pack up resources to deploy to a webserver on a private network, we might as well pack them up as a standalone installer, I think.

[2021-04-08 19:16] wcs1only commented on #677
Our test automation is hitting this somewhat regularly. It is reasonable to assume that others will as well.

[2021-04-08 19:21] #668 closed

[2021-04-08 21:06] artursouza commented on #640
I agree that this is an issue that needs to be addressed to unblock adoption in China. I also agree that supporting private docker registry should be a no brainer and just add support for that.

The only part that I am concerned is "For the files deployed on github, you can consider using scripts to pack these files into a specific folder structure. Users can redeploy these files to the http serve

[2021-04-09 00:29] mukundansundar commented on #677
In that. scenario ... the self-hosted tests in darwin cannot be run as a PR check ... it needs to be run on a master merge and on schedule only ...

[2021-04-09 02:10] newbe36524 commented on #640
@wcs1only @artursouza
I think I may not have described it very well, so I'll add a little more content here. The problem we need to solve actually consists of two parts.

1. downloading dapr cli
2. using dapr cli to install and deploy other resources, such as charts and docker images

For the first part.

As @artursouza  said. If it's just to support acceleration in China, then it's very easy to u

[2021-04-09 18:10] mukundansundar opened #684 "Fix exit with error for run command"
## Expected Behavior

On error, run command exits with error

## Actual Behavior

Without installing dapr, running `dapr run` fails as expected. But the exit value is 0 instead of expected non-zero val.

[code]

Additional error scenarios also need to be investigated and fixed if needed.

## Steps to Reproduce the Problem

Don't install dapr, and then run `dapr run test`.

## Release Note

RELEASE

[2021-04-09 20:08] CodeMonkeyLeet opened #686 "Fix README.md link to CLI reference documents"
## Describe the proposal

Update Reference Guide link in README.md to dapr docs website instead of
reference docs removed from this repo in #501.

## Release Note

N/A, documentation only, not part of release.

[2021-04-09 22:02] #686 closed

[2021-04-09 22:24] wcs1only opened #688 "Save test results as a build artifact of a test run"
## Describe the proposal

We've long struggled with visibility in flaky end-to-end tests. One of the big problems is that we really have no way to see test failures over time other than to click on individual test runs and manually scan the output. To really be able to correctly track test flakiness over time, we need to be saving test results in a programatic way. An easy first step might be to s

[2021-04-12 02:56] #607 closed

[2021-04-14 03:58] zfchai opened #690 "Please try to support offline initialization configuration"
## dapr init  --runtime-version=1.1.0
Making the jump to hyperspace...
Downloading binaries and setting up components...
error downloading daprd binary: Get "https://github.com/dapr/dapr/releases/download/v1.1.0/daprd_windows_amd64.zip": dial tcp 192.30.255.113:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established co

[2021-04-14 05:44] newbe36524 commented on #690
@zfchai  I and my partners are trying to make this done. please join us to handle it if you are interested #640

[2021-04-19 22:24] #688 closed

[2021-04-20 10:33] zhuang1125 opened #692 "how to install dapr offline."
how to install dapr offline.
this is my way:
1. dowload  last dapr cli into d:\daprhome  eg: https://github.com/dapr/cli/releases/download/v1.1.0/dapr_windows_amd64.zip
2. unzip dapr_windows_amd64.zip to d:\daprhome  ,in this step .you can find dapr.exe in d:\daprhome
3. downlowd dapr_windows_amd64.zip,dashboard_windows_amd64.zip,daprd_windows_amd64.zip,sentry_windows_amd64.zip,placement_windows_a

[2021-04-20 10:33] #692 closed

[2021-04-22 04:26] DarqueWarrior opened #693 "Dapr should not error when init is run again"
## Describe the proposal

I am trying to build a pipeline for an app that uses Dapr. Each time the pipeline is run Dapr init is called. I have to do this because the AKS cluster is installed with Bicep. So it might already be there or it might not. But when I run the pipeline a second time my logs show an error.

[code]

Dapr, should not complain if it is already initialized in the target cluster.

[2021-04-22 16:29] pkedy commented on #616
/assign

[2021-04-22 16:35] #616 closed

[2021-04-22 16:48] wcs1only commented on #582
We don't currently have the build infrastructure to produce native arm64 binaries for MacOS, but we have confirmed that dapr CLI works under rosetta2 (see the note about M1 macs in our getting started guide):

https://docs.dapr.io/getting-started/install-dapr-cli/#tabs-2-macos

[2021-04-23 18:59] pkedy opened #695 "`dapr run` CTRL-C kills both the app and daprd"
## Expected Behavior

Pressing CTRL-C when running `dapr run` should send interrupt signals to both the application and daprd so that they shutdown gracefully. This would also allow daprd to close components down also per dapr/dapr#3088.

## Actual Behavior

Both the application and daprd are killed immedatiately.

## Steps to Reproduce the Problem

Use `dapr run` and press CTRL-C once the applica

[2021-04-23 19:51] artursouza commented on #610
I am OK to add `type` and `version` for now. Those are good ones to start with. Feel free to send a PR for this. Comment with `/assign` if you plan to work on this.

[2021-04-23 21:46] satishviswanathan opened #698 "Multiple instances of service for load balancing"
## Ask your question here
https://docs.dapr.io/developing-applications/building-blocks/service-invocation/service-invocation-overview/

Following this link I'm trying to run multiple instances of cart service. i.e when I start using the dapr I'm trying to start multiple instances using the same app id "cart" which results in the following exception.

**_dapr with ID cart is already running_**

Ple

[2021-04-29 11:10] apuzyrevsky commented on #699
@artursouza I made a PR in WIP status, could you please take a look at it and make an approval on running build stage?

[2021-04-29 13:49] emonidi commented on #454
I just heard of dapper and I wanted to try it on my enterprise pc and I also hit the same error. @gidduk did you manage to solve the issue?

[2021-04-29 13:58] gidduk commented on #454
No not able to download it, I believe there is a separate issue (640)  being tracked

[2021-04-30 06:28] emonidi commented on #454
I managed to run it on RPI by installing java and zipkin on the device itself and starting it with `dapr initi --slim`

[2021-05-05 00:31] herowk commented on #290
Someone like me may use `sudo dapr init`,the Runtime version also showing `n/a`. Do this after init:`sudo cp -r /root/.dapr /home/herowk` then we got this:
`herowk@debian:~$ dapr --version
CLI version: 1.1.0-rc.1
Runtime version: 1.1.2
`.
Done!

[2021-05-05 18:06] #633 closed

[2021-05-06 07:13] darren-wang commented on #626
of course, corporate users need this work.

[2021-05-06 07:13] #626 closed

[2021-05-06 18:18] jkotalik opened #704 "Dapr CLI commands take ~5 seconds to execute"
I'm trying to run dapr commands locally, and every command (even `dapr --version` and `dapr`) take 5 seconds to execute.

https://user-images.githubusercontent.com/8302101/117346362-823a1180-ae5c-11eb-8bf6-825f221d54c7.mp4

## Steps to Reproduce the Problem

I can't repro this on WSL2, only on Windows. I tried uninstalling and reinstalling dapr which didn't help.

## Versions

CLI version: 1.1.0
R

[2021-05-06 19:10] jkotalik opened #705 "`dapr run` doesn't allow you to configure placement-port"
We recently moved from calling daprd to calling dapr run in `tye`, but it seems like dapr run doesn't allow configuration of the placement port. The property [`--placement-host-address`](https://docs.dapr.io/reference/cli/dapr-run/) only allows you to specify the hostname, not port, and always hard codes the dapr port to 6050: https://github.com/dapr/cli/blob/7c1c2c239cfc91332a43d30ebc811cb1845cdb

[2021-05-07 17:16] mcain12 opened #707 "dapr cli hangs after a successful dapr init"
upgrading to latest release.  I ran a dapr uninstall --all then reinstalled successfully, ran dapr init successfully. after that all dapr commands just hang.

[2021-05-07 22:06] wcs1only commented on #704
[code]

Biggest chunk of startup time is github.com/aerospike/aerospike-client-go/types/rand.init

[2021-05-07 22:31] wcs1only commented on #704
This is almost certainly caused by the fact that on windows, sleep is far less precise:

https://github.com/aerospike/aerospike-client-go/blame/38b70336f871406cdadc1dbd49dc4fd6e7b21076/types/rand/xor_shift128.go#L36:

See:
https://github.com/golang/go/issues/29485

Looks like a newer version of the above lib doesn't sleep here? This might be as easy as updating that library in components-contrib.

[2021-05-10 02:49] haohaifeng002 commented on #698
a similar problem like https://github.com/dapr/dapr/issues/625

[2021-05-10 16:29] yaron2 commented on #707
Transferred issue to correct repo.

[2021-05-10 16:44] mcain12 commented on #707
So I have verified that the Cisco Umbrella agent is not running on my machine...

[2021-05-10 20:15] wcs1only commented on #707
I created an issue in our upstream dependency. Will see if I can get some traction with the upstream team.

[2021-05-12 17:52] yaron2 commented on #657
After testing, I can confirm CRDs are applied and updated on upgrade. Closing this.

[2021-05-12 17:52] #657 closed

[2021-05-12 18:43] yaron2 commented on #656
Closing this as removing CRDs also removes any components, configurations and subscription CRs from the cluster.

[2021-05-13 17:43] mukundansundar commented on #651
duplicate of #699

[2021-05-13 17:43] #651 closed

[2021-05-13 18:21] #664 closed

[2021-05-13 19:50] wcs1only commented on #656
Can we at least add a flag or something?

[2021-05-13 22:10] mukundansundar commented on #698
@yaron2 Can you add some thoughts on this? I believe that this is currently not supported by the CLI. Is that correct?

[2021-05-14 05:50] #647 closed

[2021-05-14 14:43] #699 closed

[2021-05-14 17:20] #674 closed

[2021-05-19 18:50] mukundansundar opened #719 "`dapr init -k` broken in 1.2.0-rc.1"
## Expected Behavior

dapr initializes the latest version of runtime in kubernetes

## Actual Behavior

[code]

Suspect some issue with the https://github.com/dapr/cli/pull/714 change.

## Steps to Reproduce the Problem

Run `dapr init -k` in 1.2.0-rc.1

## Release Note

RELEASE NOTE:

[2021-05-19 18:55] mukundansundar opened #720 "[E2E Scenario tests] Add additional verifications for Install command"
## Describe the proposal
Add additional verifications for Install command both self-hosted and kubernetes

Add tests for initializing the latest stable version of runtime

## Release Note

RELEASE NOTE: N/A

[2021-05-19 19:17] #719 closed

[2021-05-20 21:45] mukundansundar commented on #656
Adding an `--all` flag.

[2021-05-21 18:55] mukundansundar opened #724 "[E2E Scenario Test] Reduce time taken for upgrade tests"
## Describe the proposal
[E2E Scenario Test] Reduce time taken for upgrade tests

Potential ideas:
Split out the upgrade tests based on versions and run each in parallel in GitHub Actions.
Also only run one of the the latest and previous version upgrade paths in PRs to reduce time taken there.

## Release Note

RELEASE NOTE:

[2021-05-25 17:33] mukundansundar commented on #234
@philliphoff Closing this since config file creation has moved to dapr init command. Please open a new/reopen this issue if this is still needed.

[2021-05-25 17:33] #234 closed

[2021-05-25 17:40] mukundansundar opened #726 "Error - Docker Pull rate limiting."
CLI GitHub Workflow / CI runs encounter Docker Pull rate limits.

## Expected Behavior

No issues on pulling new Docker container

## Actual Behavior

{"time":"2021-05-25T15:15:33.488371Z","status":"failure","msg":"Unable to find image 'daprio/dapr:1.1.1' locally\ndocker: Error response from daemon: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticatin

[2021-05-25 17:45] philliphoff opened #727 "`dapr list` ignores `--log-as-json`"
## Expected Behavior

When running `dapr list --log-as-json`, I expect the output to be in JSON format.

## Actual Behavior

The output is in the default table format.

## Steps to Reproduce the Problem

[code]

[2021-05-25 17:46] mukundansundar commented on #636
@jayendranarumugam I can see that this issue has been addressed in VSCode Dapr extension. https://github.com/microsoft/vscode-dapr/issues/139
Can this be closed?

cc @philliphoff

[2021-05-25 17:58] mukundansundar commented on #727
@philliphoff I believe the idea was that `--log-as-json` was for logs from daprd and the application not a change in the output format.

cc @pkedy

[2021-05-25 18:02] philliphoff commented on #727
Sure, though in that case I'd argue that it's still a bug to show the option under the `list` command.  :-)

That said, an "output as JSON" option for `list` would be helpful in allowing other tools to wrap it.  For example, the VS Code extension currently has logic to extract running Dapr applications from the local process list.  That's exactly what `dapr list` does!  It'd be nice to eliminate t

[2021-05-25 18:14] mukundansundar opened #728 "JSON/YAML format for `dapr list`"
## Describe the proposal

Add a new flag `--output, -o` for json or yaml for `dapr list`

## Release Note

RELEASE NOTE:

[2021-05-25 18:15] mukundansundar commented on #727
opened a new issue listing this requirement https://github.com/dapr/cli/issues/728

[2021-05-25 18:15] mukundansundar commented on #728
See comment https://github.com/dapr/cli/issues/727#issuecomment-848094481

[2021-05-26 06:06] jayendranarumugam commented on #636
@mukundansundar / @philliphoff  I did uninstall and installed the latest dapr version and initiated the dapr

[code]

But still seeing the

[code]

Did I miss anything here ?

[2021-05-26 07:17] mukundansundar commented on #636
@philliphoff Could you guide on this?

[2021-05-26 19:52] mukundansundar commented on #635
@yaron2 Can you take a look at this?

[2021-05-26 19:56] wcs1only opened #731 "[Proposal] Create standalone installer"
## Describe the proposal

We can create a standalone install package with ```dapr``` CLI and ```daprd``` binary and perhaps the docker containers we need. The idea being, a package that you can self-host/cache somewhere and deploy dapr without depending on the github API.

We could create Windows, Mac, and Linux installers.

## Release Note

RELEASE NOTE:

[2021-06-03 20:44] mukundansundar commented on #628
@yamajik closing this issue for now. please open a new issue / re-open this issue if you have questions / join the Dapr Discord server.

[2021-06-03 20:44] #628 closed

[2021-06-03 20:56] mukundansundar commented on #202
@philliphoff Is this issue still relevant considering there are docs for debugging in VS Code and dev container builds and such. If not can this be closed?

[2021-06-03 21:17] philliphoff commented on #202
I think it's still relevant.  There have been Dev Container definitions created for other Dapr repos (e.g. [dapr/dapr](https://github.com/dapr/dapr/tree/master/.devcontainer)).  The idea was to encourage contributions by minimizing the setup required by new developers to get a build/run/test state.

[2021-06-03 21:25] mukundansundar commented on #202
Ok ... so this issue is for dev container definitions for dapr/cli?

[2021-06-03 21:26] philliphoff commented on #202
Yes, specifically for this repo.

[2021-06-07 10:14] macon opened #733 "dapr stop does not terminate application service (Mac"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-06-07 10:26] macon opened #734 "dapr stop does not terminate application service (mac)"
## Expected Behavior

`dapr stop -a myApp` should stop the application service `myApp`

## Actual Behavior

The above command prints output suggesting it worked but the service is still running.
The dapr-managed service no longer shows up in `dapr list`.

## Steps to Reproduce the Problem

`dapr run --app-id myApp --app-port 5001 -d ./components --  dotnet run -p ./src/myApp.myApp.csproj`

Now che

[2021-06-08 07:16] daixiang0 opened #735 "Avoid Github API rate limit"
## Describe the proposal

Now we use https://api.github.com/repos/dapr/dapr/releases to get latest version, which would get api rate limit, details see [doc](https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting).

To avoid this limit, we can add a endpoint like `/latestversion` in `dapr.io`.

It would be updated when release.

I am not sure where the website host, but i

[2021-06-08 17:17] jasonviviano opened #736 "Dapr List Displays Dapr Dashboards As Empty Services"
## Expected Behavior

It seems that 'dapr list' should not be picking up dapr dashboard services.

## Actual Behavior

It's picking up dapr dashboard services and listing them out as blank processes.

## Steps to Reproduce the Problem

1) Start a dapr dashboard

`dapr dashboard -p 5555`

2) Open a new terminal window and type

`dapr list`
![Screen Shot 2021-06-08 at 1 02 57 PM](https://user-images

[2021-06-08 17:47] philliphoff commented on #290
I think the current behavior now meets my needs, so we can close this.  Of course, it'd be better if the output was in JSON so as to be more consumable.  :-)

[2021-06-08 17:57] philliphoff opened #737 "Format output of `dapr --version` as JSON."
## Describe the proposal

`dapr --version` currently returns:

[code]

For easier and more robust consumption by tools, it would be better if formatted as JSON (or possibly YAML):

[code]

[2021-06-14 22:50] berndverst opened #738 "Github Workflow: Self-hosted E2E test failures on Mac"
## Expected Behavior

Workflow completes successfully.

## Actual Behavior

Workflow hangs for 6 hours in an infinite loop trying to set up Docker.

Culprit: https://github.com/docker-practice/actions-setup-docker/issues/9

## Steps to Reproduce the Problem

Use docker-practice/actions-setup-docker action on Mac.

Affected workflow: https://github.com/dapr/cli/actions/workflows/self_hosted_e2e.yam

[2021-06-14 22:54] berndverst commented on #738
FYI @mukundansundar @artursouza

[2021-06-15 13:45] sequoiar opened #740 "dapr init failed"
## Expected Behavior

dapr init should be working on master branch

## Actual Behavior

dapr init failed

## Steps to Reproduce the Problem

install 1.2.0 dapr cli, then do dapr init

[code]

## Release Note

RELEASE NOTE:

[2021-06-15 16:36] AaronCrawfis opened #741 "`dapr init` should initialize a local secret store"
## Describe the proposal

In addition to state and pub/sub components, `dapr init` should initialize a secret store component backed by a local JSON file, located in the default component directory.

Then in the docs we should always reference the secret store via secretRef instead of having credentials in plaintext.

#742 captures the ability to add secrets to this local secret store

## Release

[2021-06-15 16:44] AaronCrawfis opened #742 "Add ability for Dapr CLI to add/get secrets from secret store component"
## Describe the proposal

Dapr CLI should have a command like `dapr secrets` to add/put secrets from a secret store component. Something like:

`dapr secrets add  --data '{"connectionString":"343ab342c34a2"}'`
`dapr secrets add  --data-file ./mysecrets.json`
`dapr secrets get  --key "connectionString"`

With https://github.com/dapr/dapr/issues/3301 the set secret command should work with any secre

[2021-06-15 16:44] AaronCrawfis commented on #742
Pairs with #741 to improve secrets management for Dapr

[2021-06-15 19:56] wcs1only commented on #742
I like this idea, but I think it should probably be write only. We add the CLI to simplify adding secrets, that can then only be read by the Dapr secrets API.

[2021-06-15 21:34] berndverst commented on #738
Issue is now resolved. See https://github.com/dapr/cli/actions/runs/940709464

https://github.com/docker-practice/actions-setup-docker/issues/9#issuecomment-861087775

[2021-06-15 21:34] #738 closed

[2021-06-16 05:01] berndverst commented on #740
Did you build the dapr binary from the master branch? Or how did you install the dapr binary?

Also, what OS and architecture are you on?

I want to make sure I can reproduce this. Thanks!

[2021-06-16 07:23] sequoiar commented on #740
@berndverst it's dapr cli 1.2.0 binary on Ubuntu 20.04 server.

[2021-06-16 19:20] AaronCrawfis commented on #742
Depends on https://github.com/dapr/dapr/issues/3301

[2021-06-16 19:22] AaronCrawfis commented on #742
I actually think adding the ability to get secrets from the CLI would be a useful inner loop feature. Component scoping can allow CLI access to be disabled in production scenarios

[2021-06-16 20:27] philliphoff opened #743 "`dapr dashboard` reports confusing error when already running."
## Expected Behavior

Running `dapr dashboard` when a dashboard is already running should either start another dashboard on a random port or simply output where the existing dashboard is running.  (Personally I'd vote for the former; what difference does it really make if more than one instance of the dashboard is running?)

## Actual Behavior

Running `dapr dashboard` when a dashboard is already

[2021-06-16 21:11] tanvigour commented on #736
/assign

[2021-06-16 23:03] philliphoff commented on #742
Also a `dapr secrets list` which returns the known keys (which can then be retrieved using `dapr secrets get`.  It's often useful for developers (and their tools) to be able see values *as their application sees them* rather than have to dig through the the various backing stores to uncover them.

[2021-06-18 03:02] berndverst commented on #580
@msfussell perhaps on Linux we can detect if sudo isn't present and then include an error message to instead set the `DAPR_INSTALL_DIR` env variable. What do you think? For example the following works in Azure Cloud Shell:

[code]

[2021-06-18 03:47] berndverst commented on #580
In general the powershell script can be installed on Windows without Admin privileges.

Powershell in CloudShell does not work because the script assumes Windows File Paths, but Cloud Shell returns Linux paths.

I don't think it makes sense to support Powershell in CloudShell specifically. You can see this for yourself like this:

[code]

[2021-06-18 03:47] berndverst commented on #580
@msfussell @AaronCrawfis @orizohar -- I think this is just a Documentation issue. What do you all thing?

[2021-06-18 04:20] AaronCrawfis commented on #580
For Linux we still need to update our script to work when sudo is not present, not just when it's present but the user is not in the sudoers group.

[2021-06-19 16:42] abbrescia commented on #173
This issue is essential for **Ubuntu Core**.

[2021-06-21 21:58] berndverst commented on #580
@AaronCrawfis in Cloud Shell the `sudo` command does not exist. When you provide `DAPR_INSTALL_DIR` then `sudo` is not being used. That's why the command above worked in cloudshell where `sudo` does not exist.

We could just document that as:
"If your user is not in the sudoers group or sudo is not available on your system please specify an installation directory via the `DAPR_INSTALL_DIR` environ

[2021-06-22 21:47] berndverst commented on #740
I cannot reproduce this issue on a new Ubuntu 20.04 LTS VM. Here is my entire history:

[code]

[2021-06-22 21:49] berndverst commented on #740
@sequoiar is your VM ARM? As I cannot reproduce your issue I need to conclude that the problem is with your VM or network (perhaps requests to Docker Hub or Github are being filtered).

[2021-06-22 21:51] berndverst commented on #740
You should be able to see a JSON response when you run `curl https://api.github.com/repos/dapr/dapr/releases`

[2021-06-22 22:15] AaronCrawfis commented on #580
@berndverst my preference is for it to "just work". Is there a way to update the script to auto-detect when sudo isn't present on the system and proceed as if it does exist but the user isn't in the sudoers group?

[2021-06-22 22:22] berndverst commented on #580
@AaronCrawfis only if we install it to a different location. When sudo isn't available maybe we install to $HOME?

[2021-06-22 22:31] AaronCrawfis commented on #580
@berndverst ah I see now the current behavior. Looks like today the script only works in non-sudo environments when an override directory is set. Only the sudo path works when no directory is specified.

My preference is to fix this so both scenarios of no sudo and not in the sudoers group are both handled by the script automatically installing it to $HOME. Thoughts?

[2021-06-22 23:00] dmitsh commented on #705
/assign

[2021-06-22 23:01] dmitsh commented on #599
/assign

[2021-06-23 16:57] AaronCrawfis commented on #741
Mockup
![image](https://user-images.githubusercontent.com/54363786/123137995-6e953b00-d409-11eb-8e75-4abc4998a62e.png)

[2021-06-23 16:58] AaronCrawfis commented on #742
Mockup for local file
![image](https://user-images.githubusercontent.com/54363786/123138137-908ebd80-d409-11eb-8237-7d606642d06c.png)

[2021-06-23 16:59] AaronCrawfis commented on #742
Mockup for any secret store
![image](https://user-images.githubusercontent.com/54363786/123138236-a603e780-d409-11eb-963b-32edbd1fed02.png)

[2021-06-23 19:11] AaronCrawfis commented on #741
Based on discussions with @wcs1only and @pkedy this could also be macOS KeyChain or Windows Credential Manager if we don't want to use a file

[2021-06-23 19:12] AaronCrawfis commented on #742
Based on feedback from this morning it sounds like `dapr user-secrets` is the preferred command to indicate this is for local development only.

[2021-06-23 21:24] wcs1only commented on #599
I think we need to treat this as a breaking change if we were to change the format of the dapr --version output. Users CI/CD pipelines may already be depending on the current output format.

Perhaps if we were to add a `--build-info` flag that contained this information in a structured and therefore extendable format?

[2021-06-23 21:25] withinboredom commented on #741
There's also the [Gnome Keyring](https://wiki.gnome.org/Projects/GnomeKeyring/) for Linux desktops. Ideally, these would be separate components (a Windows Credential Manager component, a macOS KeyChain component, and -- hopefully -- a Gnome Keyring component), and then `dapr --init` would just pick the most appropriate one. I think a file-based one should be included in cases where there isn't a l

[2021-06-23 21:35] wcs1only commented on #599
Say I were a customer with a CI/CD script like this:
[code]

We can't have this change be breaking integrations like this, can we?

[2021-06-23 22:14] #728 closed

[2021-06-24 07:24] berndverst commented on #580
@AaronCrawfis As long as you are fine with installing to $HOME when `sudo` fails or does not exist, no problem!

But what if someone simply forgot to run `sudo`? Now suddenly we are installing to $HOME when running `sudo` would have installed to a more desirable location.

[2021-06-24 08:01] starzhou commented on #740
dapr init always faild.
![image](https://user-images.githubusercontent.com/11733741/123225411-4985f280-d505-11eb-95b9-1f7d72960135.png)

[2021-06-24 17:43] #599 closed

[2021-06-24 20:53] sk593 commented on #220
Just wanted to see if there was any progress on this issue.

The Dapr VSCode extension (which helps users integrate Dapr into their applications by providing debugging capabilities, interaction with the Dapr runtime, etc) starts applications by invoking an instance of `daprd` directly and these running applications also do not show up in `dapr list`. The Tye extension also starts applications with

[2021-06-25 00:56] AaronCrawfis commented on #580
@berndverst great point! My initial thought is to prompt the user, but that will break existing pipelines and the new GitHub Dapr Action. Not a blocker, but something we need to think through.

Maybe the new path is:
- when using sudo always install to /usr/bin
- when running without sudo prompt user with install path (with the default being $HOME), and a note to use sudo to install to /usr/bin
-

[2021-06-25 01:17] msfussell commented on #580
This last suggestion makes sense to me. Is this possible. However I just tried out the command about in a Cloud shell and it failed with

PS /home/mark> wget -q https://raw.githubusercontent.com/dapr/cli/master/install/install.sh -O - | DAPR_INSTALL_DIR="$HOME/clouddrive" /bin/bash

DAPR_INSTALL_DIR=$HOME/clouddrive: The term 'DAPR_INSTALL_DIR=$HOME/clouddrive' is not recognized as a name of a cmd

[2021-06-25 04:59] orizohar commented on #580
Not a fan of this. I don't know other Linux tools that do different things if called with sudo vs. without sudo. I think documenting that if sudo is not available an arg for an alternative installation dir can be provided is good enough.

[2021-06-25 17:43] berndverst commented on #580
@orizohar agreed. One more option: when sudo is not available maybe we could print a custom error that mentions the other install param.

[2021-06-28 14:45] lilongsswang commented on #740
I use a MacBook Pro OS version 11.4, and also met this issue.

[2021-06-28 14:46] lilongsswang commented on #740
and I could visit this url and respond a JSON : https://api.github.com/repos/dapr/dapr/releases

[2021-06-29 02:37] hackmong commented on #490
how do you solve this problem? I met the same one.

[2021-06-29 02:39] hackmong opened #747 "dapr init failed."
when I run dapr init, It shows that:

 cannot get the latest release version: Get "https://api.github.com/repos/dapr/dapr/releases": read tcp 192.168.136.21:43104->192.30.255.116:443: read: connection reset by peer

how can I solve this?

[2021-06-29 03:49] dybxin commented on #490
this is network connection timeout, suggestion use vpn.

[2021-06-29 04:27] berndverst commented on #740
@lilongsswang @sequoiar are both of you in China or connecting through a Chinese VPN (or corporate network perhaps)? I am aware of reports such as these only from users in China.

[2021-06-29 04:42] hackmong commented on #490
OK, thank you.

[2021-06-29 14:53] lilongsswang commented on #740
Yes, I'm in China. But I could visit this site normally.

[2021-06-29 14:57] lilongsswang commented on #740
I use command 'dapr init' installed 2 dockers, the redis and zip-kin, remained the last one. When it failed, I use 'dapr uninstall --all', and then, I could not call 'dapr init' success any more.

[2021-06-29 16:22] #705 closed

[2021-06-30 15:24] qt-luigi opened #748 "An error messages must write to standard error."
## Describe the proposal

In present, An error messages write to standard output (os.Stdout).

    print.FailureStatusEvent(os.Stdout, err.Error())
    print.FailureStatusEvent(os.Stdout, "an error message")

These must write to standard error (os.Stderr).

    print.FailureStatusEvent(os.Stderr, err.Error())
    print.FailureStatusEvent(os.Stderr, "an error message")

## Release Note

RELEASE NOT

[2021-06-30 18:21] AaronCrawfis commented on #580
This sounds good to me. Something like "installation failed, but here's a link to tell you how to make it work in a non-sudo environment"

[2021-07-01 18:23] orizohar commented on #220
@wcs1only @mukundansundar @yaron2 - addressing this issue will really help with some tooling issues that have been prioritized for the VS Code extension. Can this be given higher priority?

[2021-07-01 19:24] AaronCrawfis commented on #220
Issue is when parsing the arguments starting at https://github.com/dapr/cli/blob/0a37376658ef83e8a1b49178cf4e6f1c93eb1dfc/pkg/standalone/list.go#L87

If an argument doesn't exist the entire process is dropped from the list instead of it displaying the process without the argument

[2021-07-01 19:30] AaronCrawfis commented on #220
Also, once all parameters are set correctly, it fails when resolving cliPIDString: https://github.com/dapr/cli/blob/0a37376658ef83e8a1b49178cf4e6f1c93eb1dfc/pkg/standalone/list.go#L117

![image](https://user-images.githubusercontent.com/54363786/124179667-0200e880-da68-11eb-8e27-e985b7bcd319.png)

[2021-07-01 20:10] AaronCrawfis commented on #220
And now realizing we pull the cli process as the list to return, not the daprd process https://github.com/dapr/cli/blob/0a37376658ef83e8a1b49178cf4e6f1c93eb1dfc/pkg/standalone/list.go#L144

We need to update the logic to include daprd instances without CLI processes.

[2021-07-02 05:59] daixiang0 commented on #747
use proxy server.

[2021-07-02 06:02] daixiang0 commented on #731
It sounds like alternative as offline deploy, we can download it and deploy without network.

[2021-07-02 06:35] daixiang0 commented on #726
I think there are some solutions:
1. add docker user token
2. download image into cache, while need to update when image upgrade

@dapr/maintainers-cli WDYT?

[2021-07-02 13:01] lgbin879 opened #755 "dapr init 404 Not Found"
$ bin > dapr init
⌛  Making the jump to hyperspace...
❌  Downloading binaries and setting up components...
❌  cannot get the latest release version: https://api.github.com/repos/dapr/dashboard/releases - 404 Not Found

$ bin > dapr --version
CLI version: 1.2.0
Runtime version: n/a

$ bin > uname -a
Linux computende4 5.10.27-051027-generic #202103310028 SMP Thu Apr 1 02:16:48 UTC 2021 x86_64 x86_64

[2021-07-02 16:26] wcs1only commented on #677
Even with #700 which improves the situation in our CI/CD pipeline we're still getting issues like dapr/dapr#3390.

We've had several proposals on how to fix this:
1. We can put this API behind a CDN
I did the math on this and there might still be issues here. The upstream API has the following cache control header set:
[code]
This means we'd need 100% request deduplication to stay under the 60/hou

[2021-07-02 17:09] wcs1only commented on #755
Also, you should be able to workaround this by manually specifying the version:
[code]

[2021-07-03 02:00] lgbin879 commented on #755
thanks, it works.
it might be the firewall issue, could you apply this url to be modification ?
https://api.github.com/repos/dapr/dashboard/releases

[2021-07-03 02:52] wcs1only commented on #677
So there was an obvious second place to fall back on. https://dapr.github.io/helm-charts/index.yaml has everything we need, and is already behind a CDN.

[2021-07-03 03:00] wcs1only commented on #755
I've created a PR to fall back on a secondary source of truth for the release version. It may help this case.

[2021-07-03 03:02] wcs1only commented on #747
I have created a PR to fall back to an alternative source for the latest release version. It may help with this issue.

In the mean time, you can use the following to manually specify the latest version to unblock yourself:
[code]

[2021-07-03 04:07] wcs1only commented on #641
If you run placement with `placement --port 6050` does it work correctly?

[2021-07-08 16:23] berndverst commented on #747
Related to  https://github.com/dapr/cli/issues/740

FYI: Seems to only affect Chinese users so far (at least 3 or 4 known affected users)

[2021-07-08 16:24] berndverst commented on #740
@skyao can you help investigate this? It only affects Chinese users. Perhaps a change for separate asset URLs similar to what was done for the Powershell installer is required here.

[2021-07-09 22:42] berndverst commented on #580
@AaronCrawfis @orizohar take a look and let me know whether this works for you.

[2021-07-12 01:20] daixiang0 commented on #747
It is a network issue I think, it would be totally fixed after we support offline deployment, which is a good feature from my side.

[2021-07-12 17:33] #677 closed

[2021-07-12 17:33] #747 closed

[2021-07-12 17:33] #755 closed

[2021-07-12 20:58] sk593 commented on #220
/assign

[2021-07-13 16:43] #580 closed

[2021-07-13 18:24] wcs1only commented on #740
There is a possibility that #758 fixes this.

[2021-07-13 18:25] wcs1only commented on #740
For a temporary workaround can you try? If that works, then there is a good chance that #758 will fix this going forward:
[code]

[2021-07-13 23:28] wcs1only commented on #735
Dupe of #677. Should be fixed already via: #758

[2021-07-13 23:28] #735 closed

[2021-07-14 00:36] #736 closed

[2021-07-14 07:26] daixiang0 commented on #748
/assign

[2021-07-14 07:28] mukundansundar commented on #743
@philliphoff This needs a fix here https://github.com/dapr/cli/blob/19131133e97aaef13fdcaeb75689ddf3f5359423/cmd/dashboard.go#L159-L162

It does not distinguish between errors in these lines.

[2021-07-14 17:45] pkedy opened #761 "CLI assumes a version prefix of "v" trims `1.2.2` to `.2.2`"
## Expected Behavior

The `v` should be trimmed from the release tag only if present.

## Actual Behavior

Tag is evaluated as `Tag[1:]` thus if the version tag does not start with `v`, the major version number is removed.

![image](https://user-images.githubusercontent.com/714039/125667939-1bdec215-16bb-4476-b4a5-c7aa1b9a4c7a.png)

Note the `v.2.2.`.

This must have been introduced during the 1.3

[2021-07-14 18:26] #761 closed

[2021-07-14 20:58] #656 closed

[2021-07-16 06:11] ShaileshSurya commented on #743
@mukundansundar is this open for contribution?

[2021-07-22 22:08] wcs1only commented on #743
Absolutely, If you'd like to submit a PR let us know and we'll assign this to you.

[2021-07-22 23:36] wcs1only commented on #741
There's a couple of golang libs out there that wrap these in a consistent API:
https://github.com/keybase/go-keychain
https://github.com/zalando/go-keyring

I propose we do one of these first they should cover a substantial percentage of our users, and only do the file option if we find a real need or it is worth the security tradeoff.

[2021-07-22 23:48] wcs1only commented on #734
So, what's happening here:
`dotnet run` spawns `dotnet exec` child process. When you run `dapr stop -a myApp` the `dotnet run` process is SIGKILL which orphans the `dotnet exec` child process. I have confirmed this should be fixed by #695

[2021-07-23 04:22] ShaileshSurya commented on #743
@wcs1only Please assign this to me.

[2021-07-27 14:59] anhldbk commented on #737
@philliphoff Currently we have a global flag:

[code]

Some sub commands do not fully support that flag.

@yaron2 Do you think we need to implement such feature?

[2021-07-27 16:22] yaron2 commented on #737
It'd be good if we have a global `--output` flag to be applicable to all subcommands that support it. `log-as-json` controls the log format that comes from `daprd`, not the output of the CLI, and so these are very different commands.

[2021-07-28 23:00] artursouza commented on #741
This issue is blocked on secret store being available first in contrib: https://github.com/dapr/components-contrib/issues/1037

[2021-07-29 14:37] tanvigour commented on #670
/assign

[2021-07-29 14:43] tanvigour commented on #598
/assign

[2021-07-29 15:54] mukundansundar commented on #743
@ShaileshSurya have assigned it to you

[2021-07-29 16:15] mukundansundar opened #773 "Pin Dashboard version in e2e tests"
## Describe the proposal
Similar to --runtime-version, use --dashboard-version to pin dashboard version in e2e tests.

Unless this is done, when a new version of dashboard is released, the master E2E tests start failing immediately till the e2e tests are updated.

## Release Note

RELEASE NOTE: N/A

[2021-08-04 08:47] zhangqing132155 opened #774 "dapr init failed"
## Ask your question here
I'v got a problem when i running 'dapr init'.It seems to be a problem about TLS or HTTPS,how can i solve it?Or  there is another way in self-hosted mode?
Even the container is running successfully,but i doubt that there must be some unknown problems,because  the process has exceptions.

## Local Environment
Win10 19042.1110
Docker 20.10.7

## Running information
![image](

[2021-08-04 08:49] zhangqing132155 commented on #774
I can visit the 'https://api.github.com/repos/dapr/dapr/releases/dashboard_windows_amd64.zip' via web browser!

[2021-08-04 16:51] tanvigour commented on #774
Try using vpn : https://github.com/dapr/cli/issues/490

[2021-08-05 01:18] zhangqing132155 commented on #774
Thks,but this reference doesn't show how can i use vpn,any instructions?

[2021-08-05 01:18] zhangqing132155 commented on #774
Thks,but this reference doesn't show how can i use vpn,any instructions?

[2021-08-05 02:48] robvet opened #775 "Failed to upgrade Dapr: multiple kubeconfigs in KUBECONFIG environment variable"
Hello Dapr Team...

Trying to initialize a Kubernetes cluster for Dapr:

  dapr init -k

Unfortunately, I get the follow error message:

  Deploying the Dapr control plane to your cluster...
  can't connect to a Kubernetes cluster: multiple kubeconfigs in KUBECONFIG environment variable -
  C:\Users\<me>\.kube\config

What would be a good way to resolve?

Interestingly, I installed 1.3.0, but the

[2021-08-05 03:13] zhangqing132155 commented on #774
I used alesocks,it works!Thx!

[2021-08-05 20:41] sk593 opened #776 "[DOCS] Update Windows Section of Development Guide"
## Expected Behavior

The [Development Guide](https://github.com/dapr/cli/blob/master/docs/development/development.md) Windows section asks users to install MinGW using `choco install mingw`.  This should download the executable `mingw32-make.exe`

## Actual Behavior

`choco install mingw` installs the newest version of MinGW but versions newer than 8.1.0 do not contain the executable file. The de

[2021-08-06 00:51] #774 closed

[2021-08-09 01:18] robvet opened #779 "`dapr status -k` does not work on Windows with KUBECONFIG set"
Hello Dapr Community...

Trying to initialize a Kubernetes cluster for Dapr on Windows 10:

     dapr init -k

I get the follow error message:

   Deploying the Dapr control plane to your cluster...
   can't connect to a Kubernetes cluster: multiple
   kubeconfigs in KUBECONFIG environment v
   ariable -
C:\Users<me>.kube\config

Behavior is consistent across Git Bash, Ubuntu with WSL2, and PowerS

[2021-08-09 01:20] robvet commented on #775
Moved issue to Dapr main thread: Dapr/Dapr # 3528

[2021-08-09 01:20] #775 closed

[2021-08-10 16:28] tanvigour commented on #740
This should be fixed now, please try to validate with 1.3

[2021-08-11 16:03] yaron2 commented on #779
@mukundansundar can you please look at this?

[2021-08-17 10:11] mukundansundar commented on #779
@yaron2 I will take a look at it today ...

[2021-08-17 11:06] marviniter opened #780 "dapr dashboard should add '--address' option for define listen address"
## Expected Behavior
such as `dapr dashboard -k -p 9999  --address 0.0.0.0` listen on the define address.

## Actual Behavior
not support this option.

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-08-17 16:35] artursouza commented on #726
@daixiang0 LGTM. We can officially document that `docker login` is the way to workaround Docker rate limiting.

[2021-08-17 22:11] #780 closed

[2021-08-18 05:34] thanhlq opened #783 "Error when install dapr on a specific namespace then uninstall and install into another namespace"
## In what area(s)?

 /area runtime

## What version of Dapr?

1.3.0

## Expected Behavior

Reinstallation of dapr should work

## Actual Behavior

  Deploying the Dapr control plane to your cluster...
❌  rendered manifests contain a resource that already exists. Unable to continue with install: ClusterRole "dapr-operator-admin" in namespace "" exists and cannot be imported into the current releas

[2021-08-18 18:08] mdmg92 commented on #454
I'm having a similar issue behind a corporate proxy. The output of dapr init is as following:

[2021-08-18 19:25] yaron2 commented on #783
Moving to CLI repo

[2021-08-19 00:48] CodeMonkeyLeet commented on #454
Actually linking #640 to this issue, to make sure we don't lose track of the interest in this support.

[2021-08-19 22:25] CodeMonkeyLeet commented on #783
@thanhlq Can you confirm that dapr is actually uninstalled in the second step? When I use those repro instructions, the CLI returns an error: it defaults to the `dapr-system` namespace, so can't find the dapr instance to uninstall. Instead, this sequence of commands works for me and permits reinstall of the dapr control plane successfully:

[code]

@mukundansundar, on a related note, given that da

[2021-08-20 00:41] daixiang0 opened #785 "Support domain socket"
## Describe the proposal

Ref https://github.com/dapr/dapr/issues/2864

## Release Note

RELEASE NOTE: **ADD** support domain socket.

[2021-08-20 01:46] thanhlq commented on #783
Yes, it seems in the second step: dapr is unstall but with an error message (sayings dapr runtime is not found for uninstalling... I don't remember exactly)

[2021-08-20 21:25] CodeMonkeyLeet commented on #783
That error meant that dapr was not actually uninstalled, which is why the reinstall is blocked. You can check this with the  `dapr status -k` command before reinstalling:

[code]

[2021-08-23 05:29] marviniter opened #786 "dapr list and components cmd should support define "namespace" info"
## Expected Behavior
[code]
[code]

## Actual Behavior

Not show the namespace info and cant filter with namespace
[code]
[code]
## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-08-24 07:09] quanquangduc opened #789 "Deploy dapr to k8s with mode HA"
Hello all,

I flow this guide to deploy dapr to k8s with mode HA

Install in highly available mode
https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-deploy/

After run this command  $dapr init -k --enable-ha=true

Installation have a problem with Volume.

the 3 pods  dapr-placement-server-0 , dapr-placement-server-1, dapr-placement-server-2, not runing.

<img width="396" alt="dapr-2" s

[2021-08-24 13:48] AiDaShi opened #790 "dapr init failed"
Run cmd:`dapr init`
❌  Downloading binaries and setting up components...
❌  error downloading daprd binary: stream error: stream ID 3; PROTOCOL_ERROR

but:
![image](https://user-images.githubusercontent.com/51180962/130627437-7c9664d7-cd53-4a49-b70b-5ff1739f7006.png)

![image](https://user-images.githubusercontent.com/51180962/130627721-d6a27db5-2623-454d-a490-76c83309ec08.png)

ENV:
![image](http

[2021-08-24 16:35] xunavy opened #791 "Dapr Redis container and component definitions should have password configured"
## In what area(s)?

## What version of Dapr?

## Expected Behavior

## Actual Behavior

When I install the dapr and run the runtime for a long time. We got the security scan result for the host machine with related docker image such as  redis-server .
![image](https://user-images.githubusercontent.com/5848051/120260896-5c702300-c2c9-11eb-8831-4c9eb5ebccd5.png)

[root@fnwk1 ~]# docker ps
CONTAINER

[2021-08-25 02:52] daixiang0 commented on #785
/assign

[2021-08-25 06:32] #748 closed

[2021-08-26 11:19] sol-lee opened #792 "Installing Dapr on a Kubernetes cluster without Internet access"
We are trying to install Dapr on a Kubernetes cluster in a private network. The environment does not have public Internet access (or ACR access). I'm wondering are there any ways we could install Darp offline without access to the public Internet. Thanks.
(In https://github.com/RicardoNiepel/dapr-docs/blob/master/getting-started/environment-setup.md#installing-dapr-on-a-kubernetes-cluster, either

[2021-08-30 02:10] tanvigour commented on #670
Hi Long, do you think the changes https://github.com/dapr/dapr/pull/3594 might affect the linter upgrade?

[2021-08-30 02:25] daixiang0 commented on #670
yep, since now `dapr/cli` use different config from `dapr/dapr`.

[2021-09-03 22:54] robvet commented on #779
Can we possibly get some tracition on this issue? It's beeen a month.

[2021-09-07 18:58] tanvigour commented on #740
if you still have issues, please create another issue. closing this for now since this seems to be resolved

[2021-09-07 18:58] #740 closed

[2021-09-07 19:00] berndverst opened #794 "Fix Flaky Test: tests/e2e/upgrade TestUpgradePathNonHAModeMTLSDisabled"
## Expected Behavior

`tests/e2e/upgrade TestUpgradePathNonHAModeMTLSDisabled` should pass consistently

## Actual Behavior

`tests/e2e/upgrade TestUpgradePathNonHAModeMTLSDisabled` is flaky and fails arbitrarily for different versions of Kind (regardless of HA mode). There is no consistent failure for specific Kind versions.

## Steps to Reproduce the Problem

Run the upgrade path test workflow

[2021-09-10 03:24] LKI commented on #779
Confirmed.

Same error here, and hacked by using [sudo](http://blog.lukesampson.com/sudo-for-windows) (Admin permission).

[code]

[2021-09-14 09:17] LKI commented on #779
Looks like root cause is following code:

https://github.com/dapr/cli/blob/909b989128499274720ff0cc46b93dcbfc77a394/pkg/kubernetes/client.go#L53-L62

`KUBECONFIG` environment variable under Windows is something like `C:\Users\LKI\.kube\config`.
But the delimiter is `:`, so the check will return an error.

[2021-09-28 16:49] aktxyz opened #799 "get components-path from environment variable"
## Describe the proposal

In this issue, the idea of adding CLI control for the component-path was brought up and implemented.
https://github.com/dapr/cli/issues/321

Was there any consideration for also allowing this to be set via an environment variable?  I know that making everything setting via envvar is not great, but having this path may be worth it.

The scenario for me boils down to a loca

[2021-09-29 21:34] fbridger opened #800 "Expose port 8080 in Placement Service when running `dapr init`"
## Describe the feature
Currently, when running `dapr init` the Placement Service (docker container) is not exposing port :8080 where the Healthz server is listening.

It is only exposing port 6050 ➔ 50005/tcp

I would like to request that `dapr init` also expose port 8080 potentially in 6051 (6051 ➔ 8080/tcp)

[2021-10-01 06:11] mukundansundar commented on #800
@fbridger Could you give some idea on the use case for this change?

[2021-10-01 06:16] mukundansundar commented on #799
@aktxyz The components will differ for every dapr application. Hence providing it as an environment variable(Since in one shell we might run different apps at different points in time) might not be the right approach except for default path config which is already available.

@yaron2 any thoughts on this?

[2021-10-01 06:22] mukundansundar opened #802 "Upgrade golang version to 1.17"
## Describe the proposal
Upgrade golang version to 1.17

## Release Note

RELEASE NOTE:

[2021-10-01 14:05] fbridger commented on #800
When developing Dapr applications locally, I would like to be able to hit the HEALTH endpoint and also the METRIC endpoint.

Currently, this is not possible because the only PORT exposed by the Placement container is the gRPC port 50005.

Makes sense?

[2021-10-01 14:29] chetan2309 opened #804 "Unable to Run both app and Dapr in a single Docker container"
Using example from this [link](https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-with-docker/) I am unable to run Dapr and app correctly. I am running into this error. Can someone please shed some light. We have a POC due and we are almost a week behind.

We are using this approach because we would like to Deploy them on a single Microservice from a PoC perspective to reduce the oper

[2021-10-06 19:39] ghost opened #805 "Partition Key in Azure Cosmos DB using Dapr Sidecar"
I am having trouble adding a custom partition key to Azure Cosmos DB using Dapr sidecar.
Here is my Azure Cosmos DB instance:
![image](https://user-images.githubusercontent.com/44985701/136269890-3627b253-9fbe-44ff-9011-4cf3f19a863e.png)

From the documentation, I have named my partitionKey as /id. However, when I try to add a custom partition key value, I get this error:
![image](https://user-ima

[2021-10-07 01:03] CodeMonkeyLeet commented on #805
@dasaraiy, there seem to be a couple of things going on here:

1. It looks like you're invoking this directly through powershell, so this issue probably doesn't belong in the CLI repo and might have better traction under dapr/components-contrib.

2. There's an expectation that the using the `partitionKey` metadata adds a custom partition key value independent of the body of the message. Per the re

[2021-10-08 04:29] #805 closed, assigned to nobody

[2021-10-09 06:44] msfussell opened #807 "mTLS cert expiry notification and upgrade needs to be improved for production clusters to prevent outages"
## Issue
Currently Dapr makes is very easy to create a root and issuing certs when the control plane is first installed into a hosting environment, such as cluster (for example kubernetes). The sentry service is used to generate and distribute certs to the side-cars and provide mTLS capabilities, which are used for service invocation. This is an important Dapr capability for operators. See https:/

[2021-10-14 09:35] geekgao opened #808 "dapr init -k , doesn't works in China / restricted network"
In general, when I execute ` dapr init -k  ` The default docker image from `docker.io/daprio/dapr:1.4.3` cannot get response.

I used socks5 proxy. Again the same error. But I can get the image from commandline` docker pull ` directly. Where can I reset image source with Dapr simply?

Detail:

----
Curl could get responsed(means docker with proxy is ok .):
[code]

[2021-10-14 16:21] msfussell commented on #808
@geekgao  - Is this consistent, in that it fails every time you use the dapr init command? I ask since there was a docker.io site availability incident yesterday.

[2021-10-14 16:29] #808 closed, assigned to nobody

[2021-10-14 16:30] msfussell opened #809 ""dapr status -k" and "kubectl get deploy -n dapr-system" give different results for Dapr system services"
## Expected Behavior

Inconsistent output from CLIs command and expects these to be the same. See screen shot below

## Actual Behavior
![Screenshot 2021-10-14 092623](https://user-images.githubusercontent.com/11199644/137358604-1d346efd-5df6-4cff-8613-78767419016a.png)

## Steps to Reproduce the Problem

Run both commands and compare the difference. They should be the same.

## Release Note

RELE

[2021-10-15 17:28] marjorienorm commented on #747
I'm a US-based user and dad the same error when I was connected directly to my corporate network.  I had to connect via and external wi-fi with VPN to get it to work.

[2021-10-22 02:46] saber-wang opened #812 "How to initialize dapr in docker without using cli?"
## Ask your question here
I hope to initialize dapr in docker-compose

[2021-10-24 09:13] anhldbk opened #813 "Run: auto validate if --app-port is usable"
## Describe the proposal

If `--app-port` is set & not usable (for example: other application has already occupied the port), applications will fail

We should check before running child applications instead.

[2021-10-25 05:26] saber-wang opened #815 "Chinese output garbled"
## Expected Behavior

Normal output Chinese log

windows 11 dapr slim

![image](https://user-images.githubusercontent.com/45062099/138639065-e0f6f686-c15d-43de-a25b-cc627c763b39.png)

[2021-10-26 03:26] guangdashao opened #816 "self-host platform , why need list applications from cli process after filter sidecar process"
## Ask your question here
file: /pkg/standalone/list.go

when list all dapr applications
frist: filter sidecar process

`

     // Populates the map if all data is available for the sidecar.
	for _, proc := range processes {
		executable := strings.ToLower(proc.Executable())
		if (executable == "daprd") || (executable == "daprd.exe") {
			procDetails, err := process.NewProcess(int32(proc.Pid()))

[2021-10-28 08:47] #812 closed, assigned to nobody

[2021-11-02 02:06] mukundansundar commented on #809
@msfussell this is the expected output. Placement server is deployed as a StatefulSet so when querying for Deployments alone it will not be displayed. The dapr CLI command on the other hand queries all dapr control plane related services and displays them.

[2021-11-04 08:05] ionut-balazs-lateral opened #818 "mTLS setting from config.yaml are not used for Dapr instances"
## Expected Behavior

When configuring dapr instance yaml for mTLS, I expect mTLS to be configured at runtime.
Also, it would help if the configuration would also accept a _sentryAddress_ property in the _mtls_ section.

## Actual Behavior

Updates to _config.yaml_ doesn't seem to affect the Dapr instance runtime, _mTLS_ is still disabled. The only way it works now is by supplying the flags _--ena

[2021-11-05 15:16] AndyPook opened #821 "Alternative to Docker for self-hosted"
It would be a-good-thing if, for self-hosted, dapr would work with modern docker alternatives (eg RancherDesktop)

[2021-11-06 02:20] anhldbk opened #823 "Version: Failed test"
## Overview

I use `go v1.16`. While running `make test` locally, I've got an error:

[code]

[2021-11-10 05:22] sandeshkg commented on #779
Can i work on this one? I have looked at the kubernetes docs here - https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/ and it says -
"The KUBECONFIG environment variable is a list of paths to configuration files. The list is colon-delimited for Linux and Mac, and semicolon-delimited for Windows"
Currently the kubeConfigDelimiter is set to ":" always. We

[2021-11-10 20:39] wcs1only commented on #823
So, the error you are getting suggests that the fake domain is actually resolving to an address. What happens when you run:
[code]

Or on Windows:
[code]

My guess is that perhaps you have a custom /etc/hosts entry, or your local DNS resolver is handing out an address for domains which received an NXDOMAIN?

[2021-11-11 17:30] mukundansundar opened #829 "Create automated tests for testing downgrade of versions"
## Describe the proposal
Create automated tests for testing downgrade of versions

## Release Note

RELEASE NOTE:

[2021-11-12 03:56] wcs1only commented on #582
Supported in v1.5.0

[2021-11-12 03:56] #582 closed

[2021-11-12 04:00] anhldbk commented on #823
@wcs1only Here the output:

[code]

I've already opened a PR for this issue. So let's close this one.

[2021-11-12 04:00] #823 closed

[2021-11-12 20:00] mukundansundar opened #832 "Have E2E tests automatically pull the latest RC/stable release"
## Describe the proposal
 Have E2E tests automatically pull the latest RC/stable release

In the upgrade tests, add one test that automatically uses the previous stable version and the latest stable or RC version.

## Release Note

RELEASE NOTE:

[2021-11-13 02:09] anhldbk commented on #794
@berndverst I've got the similar error for TestUpgradePathHAModeMTLSDisabled

<img width="1552" alt="Screen Shot 2021-11-13 at 09 09 01" src="https://user-images.githubusercontent.com/3270746/141601958-8e009c3d-7ac0-43ea-a3c4-267f0342d37b.png">

[2021-11-16 22:16] artursouza commented on #731
I would reuse `dapr init` to do this job and enable to pass in an URL (or local path) to a tar file with "everything" in it.

[2021-11-17 09:17] geekgao opened #836 ""invoke API is not ready" Possible solution proposals"
## Ask your question here
"invoke API is not ready" when run invoke client with "`--app-port`" or dapr run application

## Solution
Remove the parameter  “`--app-port`".

I suggest that this could be reflected in the documentation.

[2021-11-17 11:42] kamasylvia opened #837 "Error invoke actor method on macOS 12.0.1"
## Bug
The code is cloned from [dapr/dotnet-sdk/examples/Actor](https://github.com/dapr/dotnet-sdk/tree/master/examples/Actor), and I run the commands from the README.md of that example.

The server reported an error if we do not set `--components-path` with a state store component configuration. This is easy to be fixed.

The client reported `Unhandled exception. Dapr.DaprApiException: error invo

[2021-11-19 04:39] mukundansundar commented on #743
@ShaileshSurya is there any progress on this?

[2021-11-19 04:40] mukundansundar commented on #598
@tanvigour Is there any progress on this?

[2021-11-19 04:41] mukundansundar commented on #695
@pkedy is there any progress on this?

[2021-11-19 04:42] mukundansundar commented on #832
related to #773

[2021-11-19 19:59] pkedy opened #838 "Cannot publish an event with a custom CloudEvents envelope"
## Expected Behavior

If I use this `dapr publish` command, Dapr should detect I am sending a CloudEvent envelope and not wrap it with the default envelope.

[code]

## Actual Behavior

Dapr wraps the data in its default CloudEvent envelope because the content type is posted as `application/json` instead of `application/cloudevents+json`.

## Steps to Reproduce the Problem

Run CLI command above

[2021-11-22 04:50] mukundansundar commented on #832
related to #773

[2021-11-22 04:58] mukundansundar commented on #829
currently done  https://github.com/dapr/cli/blob/master/tests/e2e/upgrade/upgrade_test.go#L57

[2021-11-22 04:58] #829 closed

[2021-11-22 05:20] mukundansundar commented on #832
Take a look at this https://github.com/dapr/cli/pull/806 and have a similar env var for dashboard version.

https://github.com/dapr/quickstarts/blob/master/.github/workflows/validate.yaml#L90
Have something similar added to the E2E test workflows .

[2021-11-22 05:20] amulyavarote commented on #832
/assign

[2021-11-22 09:29] guyzyl opened #841 "Dapr status for self-hosted"
## Describe the proposal
Add a `-s, --self-hosted` flag to the `dapr status` command.
This will allow checking the status of a self-hosted Dapr instance ,which is not currently supported.

## Release Note

RELEASE NOTE: **ADD** `-s, --self-hosted` flag to the `dapr status` command for checking the status of a self-hosted instance.

[2021-11-22 09:29] guyzyl commented on #841
I'd love to work on this if the proposal is accepted.

[2021-11-22 10:42] mukundansundar commented on #841
This proposal seems interesting.
`dapr status -k` is a command for tracking the control plane status in k8s.
Currently not all control plane services might be deployed in the self hosted mode. And there is no straightforward way to track all the control plane services.
/cc @yaron2 what do you think about this proposal ?

[2021-11-22 15:46] guyzyl opened #842 "Add a --metadata flag to dapr publish"
## Describe the proposal
When publishing a message using the Dapr CLI by using `dapr publish`, it is automatically wrapped as a `CloudEvent`.
Add a `--metadata` flag to the `dapr publish` command to allow custom metadata, enabling the publich `rawPayload` option as a result.

## Release Note

RELEASE NOTE: **ADD** support for custom metadata in `dapr publish` using the new `--metadata` flag.

[2021-11-22 18:43] yaron2 commented on #842
Would you be open to adding this?

[2021-11-22 19:31] guyzyl commented on #842
@yaron2 yes, that was the plan 🙂
Wanted to make sure the proposal is acceptable before starting to work on it.

[2021-11-23 05:56] mukundansundar commented on #842
@guyzyl Assigned the issue to you

[2021-11-23 13:49] pkedy commented on #640
As a proof of concept I created this:
https://github.com/pkedy/standalone
https://github.com/pkedy/standalone/releases

It is an offline installer. It installs the CLI, daprd & dashboard, loads the Placement, Redis and Zipkin docker images locally, creates the default config and component configurations, and starts the containers, same as `dapr init` would do. Just without requiring a network conn

[2021-11-24 01:09] newbe36524 commented on #640
This is really amazing!
It would be great if the documentation could be enriched and the publicity enhanced.
- Add a readme
- Add a note to docs.dapr.io

[2021-11-24 01:09] newbe36524 commented on #640
This is really amazing!
It would be great if the documentation could be enriched and the publicity enhanced.
- Add a readme
- Add a note to docs.dapr.io

[2021-11-25 14:41] Taction commented on #818
Yes, if using the Dapr CLI and with the tls enabled in `config.yaml`, tls will be enabled and `sentryAddress` will be automatically set to `localhost:50001`.

Since daprd config has tls part, daprd can use these configs if not set from flags.
This is an issue related to daprd. I'll fix that. Besides, who can help move it to the correct repo dapr/dapr?

[2021-11-26 04:32] spottedmahn commented on #636
w/ PR: https://github.com/microsoft/vscode-dapr/pull/149, we can set the path ourselves

![image](https://user-images.githubusercontent.com/14079228/143526735-700c665c-e15a-4eb7-bcef-9addd5402d76.png)

---

in my case, I was running in a [codespace](https://github.com/features/codespaces) so in a container (pretty neat!) & I fixed my error by finding the path do `daprd`.

![image](https://user-ima

[2021-11-28 03:25] pkedy commented on #640
@newbe36524 Thanks! Still a work in progress though. The Dapr team would need to own/support it before mentioning on docs.dapr.io.

[2021-11-29 06:45] #838 closed

[2021-11-29 07:46] mukundansundar commented on #842
@guyzyl assigning this issue to you.

[2021-12-01 04:44] mukundansundar commented on #836
@geekgao The `--app-port` parameter as of now is not mandatory. If it is not needed, it need not be given .... Could you explain more on what your use case is and what problem you are facing?

[2021-12-01 04:47] mukundansundar commented on #816
@guangdashao ` // The master list comes from cli processes, even if sidecar is not up.` does that comment help?

[2021-12-01 06:57] mukundansundar commented on #800
@yaron2 Any thoughts on this?

[2021-12-01 07:01] mukundansundar commented on #804
@chetan2309 Ideally dapr is built to be run as a sidecar container and not in the same container as the service.

[2021-12-02 06:10] bryanwux commented on #454
I am also having this issue. The output is as following:

⚠  Failed to get runtime version: 'Get "https://api.github.com/repos/dapr/dapr/releases": dial tcp 20.205.243.168:443: i/o timeout'. Trying secondary source
❌  cannot get the latest release version: 'Get "https://dapr.github.io/helm-charts/index.yaml": dial tcp 185.199.108.153:443: i/o timeout'. Try specifying --runtime-version=<desired_ver

[2021-12-02 11:38] imneov opened #848 "Proposal: Support `invoke` cmd on kubernetes mode"
## Describe the proposal

We should add the `invoke` cmd on kubernetes mode.

As an example we can add kubernetes mode to `dapr invoke` use `-k` flag :

[code]

## Release Note

RELEASE NOTE:
- [ ] support got `pod` from kubernetes
- [ ] call pod use kubernetes RESTClient with proxy mode
- [ ] support `-k` flag to invoke cmd

[2021-12-02 22:49] #290 closed

[2021-12-02 22:50] #385 closed

[2021-12-02 22:51] mukundansundar commented on #848
related to #436

[2021-12-02 22:53] mukundansundar commented on #591
@javageek79 can this issue be closed now?

[2021-12-02 22:54] mukundansundar commented on #627
For now there are no plans.

[2021-12-02 22:54] #627 closed

[2021-12-02 23:00] mukundansundar commented on #565
// cc @yaron2

[2021-12-02 23:01] mukundansundar commented on #649
@javageek79 can this issue be closed?

[2021-12-02 23:08] mukundansundar commented on #693
This can be done but it will be a behaviour change. A couple of things can be done here
1. Dapr pollutes logs --- add a `--no-spinner` option to not display spinner.
2. Dapr init error --- by default Helm client does error out if you try to install with same name and that is what is reflected here. A `--silent/-q` option can be introduced which does not exit on error.
//cc @yaron2 thoughts?

[2021-12-02 23:10] mukundansundar commented on #733
insufficient info.

[2021-12-02 23:10] #733 closed

[2021-12-02 23:12] mukundansundar commented on #734
related to #695

[2021-12-02 23:14] mukundansundar commented on #783
@thanhlq Is this issue resolved?

[2021-12-03 05:23] javageek79 commented on #649
Yes

[2021-12-03 12:05] imneov commented on #436
I am currently working on an iot platform based on Dapr. We chose dapr because dapr can be used in both kubernetes mode and self-hosted mode.

We extend Dapr CLI so that the `invoke` command supports Kubernetes mode. The goal is to simplify documentation and testing.

Compared with `kubectl port-forward`, using `invokeGet` and `invokePost` with the `-k` option will make the whole process more conc

[2021-12-07 05:19] mukundansundar opened #850 "Update copyright information in each file to Apache 2.0"
The licenses in each Dapr repo are transitioning to Apache 2.0. As part of this transition, copyright information at the top of each file needs to be updated from:

[code]
to
[code]

[2021-12-07 05:19] mukundansundar commented on #850
@greenie-msft Have created this issue for copyright update in CLI repo ...

[2021-12-07 05:21] mukundansundar commented on #850
Related to https://github.com/dapr/dapr/issues/3972 and #840
//cc @yaron2

[2021-12-07 07:15] bgelens opened #851 "dapr init -s installs old runtime version"
## Expected Behavior

dapr init -s to install 1.5.1

## Actual Behavior

installed 1.4.4

## Steps to Reproduce the Problem

Install latest dapr cli via brew in my case
uninstall current runtime
install using dapr init -s

Workarround, specify runtime-version argument with 1.5.1

## Release Note

RELEASE NOTE:

[2021-12-07 07:15] bgelens opened #853 "dapr init -s installs old runtime version"
## Expected Behavior

dapr init -s to install 1.5.1

## Actual Behavior

installed 1.4.4

## Steps to Reproduce the Problem

Install latest dapr cli via brew in my case
uninstall current runtime
install using dapr init -s

Workarround, specify runtime-version argument with 1.5.1

## Release Note

RELEASE NOTE:

[2021-12-07 07:37] yaron2 commented on #851
Thanks for reporting.

[2021-12-09 05:47] mukundansundar commented on #436
This sounds interesting.
/cc @yaron2 thoughts?

[2021-12-09 06:32] yaron2 commented on #436
I support adding this functionality. @imneov would you be willing to submit a PR for this?

[2021-12-09 18:24] dmitsh opened #854 "update license header"
## Describe the proposal

Per CNCF requirements, replacing MIT License with Apache
## Release Note

RELEASE NOTE:

[2021-12-09 18:24] dmitsh commented on #854
/assign

[2021-12-09 18:25] dmitsh commented on #854
/cc @mukundansundar @artursouza

[2021-12-10 02:39] #854 closed

[2021-12-10 12:42] mark-dropbear commented on #257
@greenie-msft I was just wondering if you could share some insight on why this was removed from the roadmap? I would love to be able to work locally without Docker just from a security perspective. This change would allow that for the entire community and as @jfmatth mentioned it may be a really low cost feature to implement

[2021-12-12 09:47] imneov commented on #436
@yaron2 yes, that was the plan 🙂

[2021-12-13 04:32] mukundansundar commented on #850
closed with #855

[2021-12-13 04:32] #850 closed

[2021-12-14 07:43] mukundansundar commented on #436
@imneov  please comment as `/assign` in this issue to work on this. Please close the other issue in this case also.

[2021-12-14 15:18] haobiaosheng opened #858 "the zipkin container with the latest darp has the log4j, version is 2.13.3,this version is bug,when to update it ?"
darp init

and will start a zipkin container in host

exec into the zipkin container, in /ziplin/BOOT-INF/lib/log4j-core-2.13.3.jar this path, the log4j version has bug, when tu update the zipkin image version with the latest Dapr version.

[2021-12-15 06:39] mukundansundar commented on #858
@haobiaosheng
Dapr CLI does not directly depend on a particular version of the Zipkin.
Dapr CLI already uses only the latest version of the openzipkin docker image. See code snippet, https://github.com/dapr/cli/blob/master/pkg/standalone/standalone.go#L279.

As long as the latest image is released by Zipkin, that will be pulled if it is not available locally.

[2021-12-15 06:52] imneov commented on #436
/assign

[2021-12-20 05:30] mukundansundar commented on #858
@haobiaosheng is this issue resolved? Can this issue be closed if so?

[2021-12-20 06:27] haobiaosheng commented on #858
ok, the issue can be closed, I will close it today.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dapr/cli"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月20日(星期一) 中午1:30
***@***.***&gt;;
***@***

[2021-12-21 07:57] mukundansundar commented on #858
closing the issue

[2021-12-21 07:57] #858 closed

[2021-12-22 23:08] #779 closed

[2021-12-22 23:09] yaron2 commented on #779
This is now closed via https://github.com/dapr/cli/pull/834, but we'd be very happy to have you work on other things! :)

[2021-12-26 15:17] imneov opened #863 "The port number of the dashboard supports automatic selection."
## Describe the proposal

The port of the dashboard should support automatic selection. When the `--port` flag is set to `0`, a free port will be randomly found to start the dashboard to ensure that there will be no port conflicts.

## Release Note

RELEASE NOTE:

- [x]  the `--port` flag could be set to `0`,  In this case, dashboard will server on a random port which is free.

[2021-12-27 07:03] imneov commented on #863
We can update  `portforward.LocalPort` use `fw.GetPorts()` when `portforward` is `Ready`.

[code]

[2021-12-28 04:12] Gsonovb commented on #454
I have a connection problem. Is there a way to manually specify an agent? thank you

[code]

[2021-12-28 04:16] Gsonovb commented on #640
Add custom proxy server function first ,

I tried to update and found that I couldn't access (TLS handshake timeout)

[2022-01-04 02:50] anhldbk commented on #813
@yaron2 @mukundansundar WDYT?

[2022-01-04 03:11] mukundansundar commented on #842
@guyzyl Are you still working in this issue?

[2022-01-04 03:18] mukundansundar commented on #726
Based on the previous comments this is more of a documentation issue now.

[2022-01-04 03:22] mukundansundar commented on #695
@pkedy is there any progress on this ?

[2022-01-04 03:23] mukundansundar commented on #598
@tanvigour is there any progress in this?

[2022-01-04 09:39] tomkerkhove commented on #610
Bumping

[2022-01-04 18:02] #832 closed

[2022-01-04 18:02] #773 closed

[2022-01-05 05:29] mukundansundar commented on #802
@yaron2 Can you take a look at this?

[2022-01-06 08:39] guyzyl commented on #842
@mukundansundar not atm, I unassigned myself from this issue.

[2022-01-10 09:45] uptutu opened #868 "why dapr invoke no --headers flag"
## Ask your question here
I am try to invoke a my service by dapr and my service need an "Authorization" header.

I wondered why dapr didn't offer this flag. Not even in Go SDK. (But i saw set header function in C# SDK)

Is this an official intention or a lack of functionality?

[2022-01-10 14:24] zgfh opened #869 "proposal: "dapr init" add "--image-repository""
## Describe the proposal
dapr init should have param of "--image-repository" to set image repository
He is very helpful to many people who cannot access the direct external network

## Release Note

RELEASE NOTE: "dapr init" ADD  "--image-repository"

[2022-01-11 01:38] #1 closed

[2022-01-11 01:38] #130 closed

[2022-01-11 01:38] #522 closed

[2022-01-11 01:38] #523 closed

[2022-01-11 01:38] #524 closed

[2022-01-11 01:38] #533 closed

[2022-01-11 01:38] #600 closed

[2022-01-11 01:38] #619 closed

[2022-01-11 01:38] #620 closed

[2022-01-11 01:38] #621 closed

[2022-01-11 01:38] #650 closed

[2022-01-11 01:38] #693 closed

[2022-01-11 01:38] #707 closed

[2022-01-11 01:38] #734 closed

[2022-01-11 01:38] #776 closed

[2022-01-11 01:38] #790 closed

[2022-01-11 01:39] #821 closed

[2022-01-12 22:13] jjcollinge opened #870 "dapr annotate command"
## Describe the proposal
Caveat that this is very much inspired by `linkerd inject` but I think it'd be useful to also have a `dapr inject` command that injects the annotations on to a Kubernetes deployment manifest for you. The manifest can be read from stdin (so it can be piped `kubectl get deploy -o yaml | dapr inject | kubectl apply -f -`, read from disk `dapr inject <dir> | kubectl apply -f -

[2022-01-13 03:07] 84819760 opened #871 "dapr init daprd_linux_amd64.tar.gz : unexpected EOF"
dapr init
⌛  Making the jump to hyperspace...
ℹ️  Installing runtime version 1.5.1
❌  Downloading binaries and setting up components...
❌  error downloading daprd binary: Get "https://github.com/dapr/dapr/releases/download/v1.5.1/daprd_linux_amd64.tar.gz": unexpected EOF

After trying several times, the same error occurs. Is there any other way?

[2022-01-16 09:57] 84819760 opened #877 "Unable to initialize"
dapr init
⌛ Making the jump to hyperspace...
ℹ️ Installing runtime version 1.5.1
❌ Downloading binaries and setting up components...
❌ error downloading daprd binary: Get "https://github.com/dapr/dapr/releases/download/v1.5.1/daprd_linux_amd64.tar.gz": unexpected EOF

Tried for 7 days and failed to initialize. Is there any other way?

[2022-01-17 16:47] yaron2 commented on #813
-app-port is the port the app is listening on, in which case if the user's app tries to listen on this port, it should fail. I recommend we keep it like that and let whatever server the user is handling to report the error.

[2022-01-18 03:05] anhldbk commented on #813
Thanks @yaron2. Close this issue now.

[2022-01-18 03:05] #813 closed

[2022-01-18 09:28] fanfanbj commented on #737
/assign

[2022-01-18 16:08] yaron2 commented on #877
Issue moved.

[2022-01-19 03:41] fanfanbj commented on #737
Now, --version as flag in dapr command.
I think we can change it to sub command.
For example:
dapr version --output json.

@yaron2 Do you think we need to implement like that?

[2022-01-19 06:54] beiwei30 commented on #737
@fanfanbj you should follow [anhldbk](https://github.com/dapr/cli/issues/737#issuecomment-887586384)'s idea to implement.

[2022-01-19 09:46] akolliy1 commented on #198
I am having a similar problem running dapr with Docker

## Steps to reproduce
an express-generator would give the exact source code. Then add the script below to a Docker file in the root directory of the project created with express-generator

## Actual Behavior
Running the command on the terminal works. Here is the CMD `dapr run --app-id nodeapp --app-port 4500 node ./src/bin/www`

But with the

[2022-01-19 09:48] beiwei30 commented on #737
my fault, I've noticed that you've already followed yaron2's suggestion.

[2022-01-19 14:55] alexlai97 opened #879 "Add fish shell completion"
## Describe the proposal
adding fish shell completion feature would be nice for fish shell users.

## Release Note

RELEASE NOTE:

[2022-01-20 17:35] Eriice commented on #815
This is not caused by dapr.cli. Add the following code in Program.cs.
[code]

[2022-01-20 17:45] Eriice opened #880 "config file or components-path does not support utf8 character"
## Expected Behavior

config file or components-path support utf-8 character.

## Actual Behavior

[code]

[2022-01-21 01:59] saber-wang commented on #815
@Eriice thanks

[2022-01-21 01:59] #815 closed

[2022-01-26 01:29] qayshp opened #884 "support multiple kubeconfig files"
## Expected Behavior

<details>
<summary>
When using the Dapr cli, I expect it to use the kubeconfigs I already use for everything else.
</summary>
<p>
The `kubectl` documentation suggests using [multiple files to keep your config clean](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/). This means that for each use of the dapr cli, not just `dapr init --kubern

[2022-01-26 07:39] mukundansundar commented on #884
@qayshp Which version of the CLI are you using?

[2022-01-27 06:10] shaibarlev commented on #640
Please consider supporting this feature, since the are many scenarios where there is no external network support or blocking tcp communication.

[2022-01-27 11:07] mukundansundar commented on #870
@yaron2 Please add your thoughts on this ...

[2022-01-27 12:23] newbe36524 commented on #640
I'm very happy to see this issue added to the 1.7 projects.

I'm sorry that I don't have time to work on it personally at the moment.
If @pkedy or someone else can continue this work. That would be great.

[2022-01-27 19:36] artursouza commented on #640
I propose the scope this issue for the following work:

- [ ] Change CLI to be configurable to use a different registry and not only Docker Hub.
- [ ] Change GH Workflow to publish to GitHub Registry *in addition* to Docker Hub.
- [ ] Create a new workflow to clone (daily) 3rd party images from Docker Hub to GitHub Registry too: Zipkin, Redis, etc.
- [ ] Support Dapr init to work for standalone mo

[2022-01-27 19:40] paulyuk commented on #640
I believe the standalone mode provides options for a wide range of private registries, which users and companies may need as a part of their policies, e.g. to have a certified secure supply chain.

[2022-01-27 22:58] msfussell commented on #640
The proposal above makes sense. Comments
"Change CLI to be configurable to use a different registry and not only Docker Hub."
Please have a proposal on how this CLI will change. Presumably this is just for "dapr init" command

Although this is separate issue, it would be good to consider this making it easier to run the Sentry service locally at least doing this issue https://github.com/dapr/cli/i

[2022-01-28 00:11] yaron2 commented on #870
I approve this, triaging to 1.7. Left a question on the PR itself.

[2022-01-28 01:42] yaron2 commented on #640
LGTM.

Until this is done, I suggest we put docs in place to explain how to install Dapr in air gapped environments today (ie. downloading the binary and putting it in your path as opposed to using `dapr init`, using in-memory state store/pubsub and/or the need to set up Redis and Zipkin from a local registry).

[2022-01-28 03:12] mukundansundar commented on #869
related to #640

[2022-01-28 07:29] mukundansundar commented on #640
LGTM.

[2022-01-28 08:42] mukundansundar commented on #884
@qayshp Any updates on this?

[2022-01-31 07:17] pravinpushkar commented on #869
/assign

[2022-01-31 10:04] pravinpushkar opened #887 "How to support download dapr binaries from github in private network"
As per my understanding right now binaries like daprd, dashboard are downloaded directly from github during dapr init. It might create issue in the environments where access to github is restricted.

Do we need to handle the this scenario separately from #869?
related to #640

[2022-02-01 04:35] pravinpushkar commented on #887
@mukundansundar @artursouza

[2022-02-02 18:57] artursouza commented on #887
This scenario should be handled as part of #640 where I mention the need to have the "airgap" installer for standalone mode. For K8s mode, dapr CLI should receive the helm chart repo param in addition to the Docker registry param to offer an installation detached from GitHub.

[2022-02-03 04:33] #454 closed

[2022-02-04 06:22] sridharan-stitch opened #889 "daprd doest not works with non-root access"
## Ask your question here
dapr Works only with sudo in linux.
sudo ./daprd -version
1.6.0

if we use the same command without sudo.
./daprd -veriosn hang infinitely in linux.

due to this dapr cli hangs too

[2022-02-06 02:54] mukundansundar commented on #889
moving to the right repo.

[2022-02-08 21:44] mhoad commented on #257
Should we still consider this?

[2022-02-09 08:33] #869 closed

[2022-02-09 15:00] rabollin commented on #807
@pravinpushkar - As discussed please assign this task to yourself.

@msfussell , @artursouza - Incase of self signed certificates is still the recommendation to go with 1 yrs validity as the recent guidance was to have shorter validity timelines for the security purposes.

[2022-02-10 01:35] #145 closed

[2022-02-10 01:35] #190 closed

[2022-02-10 01:35] #252 closed

[2022-02-10 01:36] #256 closed

[2022-02-10 01:36] #351 closed

[2022-02-10 01:36] #457 closed

[2022-02-10 01:36] #485 closed

[2022-02-10 01:36] #495 closed

[2022-02-10 01:36] #496 closed

[2022-02-10 01:36] #565 closed

[2022-02-10 01:36] #635 closed

[2022-02-10 01:36] #636 closed

[2022-02-10 01:36] #649 closed

[2022-02-10 01:36] #727 closed

[2022-02-10 01:36] #743 closed

[2022-02-10 02:06] mukundansundar commented on #841
@guyzyl Are you interested in contributing a PR towards this?

[2022-02-10 02:07] mukundansundar commented on #800
@yaron2 Any thoughts on this?

[2022-02-10 02:08] mukundansundar commented on #741
pinned by dependent work in components-contrib

[2022-02-10 02:10] mukundansundar commented on #727
bug still present

[2022-02-10 02:12] mukundansundar commented on #252
@philliphoff Is this issue still relevant?

[2022-02-10 02:15] mukundansundar commented on #331
@JMayrbaeurl I feel that being able to specify a particular JRE location is outside the scope of `dapr` CLI. In addition it can be done by setting/modifying an env var just before executing the `dapr` cli command.

@yaron2 thoughts?

[2022-02-10 03:22] #742 closed

[2022-02-10 05:04] mukundansundar commented on #879
@alexlai97 Will you be interested in contributing a PR for this?

[2022-02-10 09:47] guyzyl commented on #841
@mukundansundar I would've loved to, but unfortunately don't have the capacity for it ATM.

[2022-02-11 20:45] berndverst commented on #837
This is almost certainly caused by ControlCenter AirPlay receiver. Apple decided to assign the commonly used port 5000 to one of their system services :(

You can deactivate it in System Preferences › Sharing, and unchecking AirPlay Receiver to release port 5000

[2022-02-11 20:55] berndverst commented on #807
In the case where Dapr CLI (or Sentry) generates the certificates we must find a way to also allow exporting of the private key used for generating the certificates.

This is because it is not possible to replace certificates without downtime when mTLS is used (and specifically in the case of service invocation) unless the new certificates are signed with the same private key.

Therefore we need t

[2022-02-11 21:00] berndverst opened #891 "Allow exporting of private key / root password for auto-generated TLS certificate bundle"
## Describe the proposal

In order to avoid downtime per #807 we need to be able to export the private key / root password for the auto-generated TLS certificate bundle. In the future this password needs to be specified or used when generated new certificates. Only certificates signed with the same private key can be used in a zero downtime upgrade.

[2022-02-11 21:07] berndverst opened #892 "Renew or Replace auto-generated TLS certificates using the CLI"
This is a request for a CLI command to easily renew / replace auto-generated Dapr TLS certificates.

`dapr upgrade --renew-certificates`
`dapr upgrade -k --renew-certificates`

This would generate new certificates and:
1. Update the Dapr Trust Bundle Secret
2. Restart the Dapr Sentry Service
3. Restart the rest of the Dapr Control Plane

Additionally, there needs to be an option to specify a priva

[2022-02-11 21:15] berndverst opened #893 "Dapr CLI should warn about upcoming TLS certificate expiration"
Add warning to CLI for upcoming TLS certificate expiration

This is similar to https://github.com/dapr/dapr/issues/3940 which is for the sidecar / runtime only.

I propose that every `dapr` command targeting Kubernetes, e.g. `dapr upgrade -k`, or `dapr status -k` internally perform the `dapr mtls expiry` command and print a warning message if the TLS expiration is coming up in a set period of days

[2022-02-11 21:17] berndverst commented on #807
Here are the items we need:

### Warn users of mTLS certificate expiration:
#### Sidecar / Runtime / Daprd:
  - [ ] https://github.com/dapr/dapr/issues/3940
    - [ ] https://github.com/dapr/dapr/pull/4064

#### CLI
  - [ ] https://github.com/dapr/cli/issues/893

### Improved certificate creation and update
- [ ] https://github.com/dapr/cli/issues/891
- [ ] https://github.com/dapr/cli/issues/892

[2022-02-11 21:22] berndverst commented on #807
@msfussell FYI I find it counter intuitive for the command to be `dapr mtls upgrade` because the certificates need to be upgraded even when mtls is set to false! This is beacuse the Dapr control plane always uses the certificates.

I'm not sure whether this is the right approach, but I would suggest `dapr upgrade --renew-certificates` or something like that. See the separate issues I opened for th

[2022-02-12 06:42] pravinpushkar commented on #807
/assign

[2022-02-12 06:42] pravinpushkar commented on #807
I am assigning this to myself. Please feel free to reassign if anybody has already started working.

[2022-02-13 09:38] Gehhilfe commented on #853
Somebody working on this?

[2022-02-14 16:23] pravinpushkar commented on #893
/assign

[2022-02-16 09:25] shubham1172 commented on #802
/assign

[2022-02-17 04:46] s-aliasgar opened #897 "--log-as-json through cli is not working"
When adding --log-as-json to the dapr run command, only a few log statements are generated in json format
[services-dapr.log](https://github.com/dapr/cli/files/8085584/services-dapr.log)

[2022-02-17 06:40] #802 closed

[2022-02-18 01:34] mukundansundar commented on #800
@fbridger Would you be interested in contributing a PR for this?

[2022-02-18 01:35] mukundansundar commented on #804
@chetan2309 Does that answer your question? And if so can this issue be closed?

[2022-02-18 01:37] mukundansundar commented on #837
@kamasylvia Does the above solution work for you?

[2022-02-18 01:45] mukundansundar commented on #897
@s-aliasgar It seems that when the log-as-json flag is enabled, it is not passed to the `daprd` command that is run.
Would you be interested in contributing a fix for this?

[2022-02-18 01:47] mukundansundar commented on #809
@msfussell Can this issue be closed ?

[2022-02-18 01:59] mukundansundar commented on #257
@mhoad This is an issue to consider.

@yaron2 Thoughts on this?

[2022-02-18 02:01] mukundansundar commented on #188
@yaron2 @youngbupark Is this issue still valid and requires attention?

[2022-02-18 02:04] mukundansundar commented on #731
related to #640

[2022-02-18 02:06] mukundansundar commented on #598
@tanvigour Are you working on this?

[2022-02-18 02:06] kamasylvia commented on #837
I'm not sure, because I cannot reproduce the issue now. Dapr-cli works well today on my MacBook, whether the AirPlay is activated or not.

[2022-02-18 09:00] beiwei30 commented on #731
@shivamkm07 You may consider to help enhancing #898, thanks :)

[2022-02-18 10:12] pravinpushkar commented on #893
Certificate expiry check can be added for the following commands -
[code]

[2022-02-18 10:21] mukundansundar commented on #893
LGTM

[2022-02-18 12:53] #837 closed

[2022-02-19 13:23] mukundansundar commented on #610
@tomkerkhove are you interested in sending a PR for this?

[2022-02-21 16:02] fbridger commented on #800
Hi @mukundansundar, how would I be able to contribute?

[2022-02-21 16:23] shivamkm07 commented on #731
Thank you [@beiwei30](https://github.com/beiwei30) for your contributions. We can handle the scenario in different ways. Below are the possible designs for the installer(Changes in https://github.com/dapr/cli/pull/898 are presented as 3rd design):

# DAPR standalone installer for airgap environments

Purpose: To support DAPR installed and running in the isolated environments where there is no inte

[2022-02-22 07:32] mukundansundar commented on #877
related to #640. closing this issue in-lieu of that.

[2022-02-22 07:32] #877 closed

[2022-02-22 07:35] mukundansundar commented on #868
@uptutu For the Go SDK please do create a feature request for that.
For the CLI, it is intended as a way to interface with Dapr and improve dev experience. If this is a feature that is required, please do create a feature request and we will take a look into it.

@yaron2 any thoughts on this issue?

[2022-02-22 09:06] s-aliasgar commented on #897
@mukundansundar I am a java developer and do not have much hands-on experience with go, hence won't be able to contribute in fixing this.

[2022-02-23 09:05] tomkerkhove commented on #610
I don't have Go experience but if you have some guidance/docs then I'm happy to give it a try

[2022-02-24 06:08] zxyao145 opened #900 "Can --app-protocol support both HTTP and grpc?"
## Ask your question here
Can --app-protocol support both HTTP and grpc?  I want to be able to call one service through HTTP and grpc. Is this possible?

[2022-02-24 10:24] mukundansundar commented on #900
@zxyao145 As of right now `daprd` to which `dapr` CLI passes the `app-protocol` argument, only supports gRPC or HTTP and not both at the same time. See https://github.com/dapr/dapr/blob/master/pkg/runtime/cli.go#L51
@artursouza @yaron2  Please correct me if I am wrong.

[2022-02-25 08:13] #893 closed

[2022-02-25 08:51] pravinpushkar commented on #891
/assign

[2022-02-25 13:39] shubham1172 commented on #684
@mukundansundar, JS-SDK is facing issues while testing due to this behavior. While we have a workaround at the moment, it will be nice to have an elegant fix. Can I take this issue up?

One thing that we were suspecting offline was that it can break existing consumers of the CLI. @XavierGeerinck suggested that this behavior can be kept behind a flag, for example `--error-out-on-fail`, and then ann

[2022-02-25 19:37] artursouza commented on #684
In this case, this is a bug, so there is no need for a flag. Clients that depend on a bug will naturally break, which is OK here.

[2022-02-25 19:47] yaron2 commented on #684
Agree

[2022-02-27 07:53] jjcollinge commented on #870
/no-stale

[2022-02-28 08:10] pravinpushkar commented on #892
/assign

[2022-03-02 06:54] mukundansundar opened #904 "[Proposal] Update E2E tests to build and use dapr/dapr from source code"
## Describe the proposal
The Dapr CLI E2E tests are intended to tests the execution of dapr CLI commands and their effects.
For example `dapr init` installs a particular version of `dapr` and that is what the E2E tests verify.

An interesting scenario that is also there is when a new flag is added to `daprd`, that needs to be added to the CLI `dapr run` also.

In this case the E2E tests for `dapr

[2022-03-02 07:40] pravinpushkar commented on #904
Have two separate flows for testing with stable version as well as with built from master. Thoughts?

[2022-03-02 14:20] pravinpushkar commented on #892
For kubrenetes, we will have below 3 options -

[code]
@berndverst @mukundansundar

[2022-03-02 19:52] dmitsh opened #906 "Enable Redis Query to work in self-hosted developer deployments with Dapr init"
## Describe the proposal

Per https://github.com/dapr/components-contrib/issues/1211 and https://github.com/dapr/dapr/issues/4249, I suggest starting Redis docker container with JSON modules in Dapr self hosted mode, using Dapr init CLI command

## Release Note

RELEASE NOTE:

[2022-03-02 21:12] msfussell commented on #906
Fully agree with this. Do you not also have to have to have the Redisearch module installed?

[2022-03-02 22:11] dmitsh commented on #906
/assign

[2022-03-03 11:33] pravinpushkar commented on #892
I think it would be better to use subcommand for renew certificate. It will be easier to organize code this way.

[code]

[2022-03-03 11:50] mukundansundar commented on #904
That can be tested for certain commands like `dapr run`, `dapr publish`, `dapr invoke` etc. But certain commands like `dapr init`, `dapr upgrade` only need to be tested with the latest stable release/ RC releases during release endgame.

[2022-03-03 12:02] mukundansundar commented on #892
@pravinpushkar I agree, a subcommand is better to a flag in this scenario.
I can see both pros and cons with this subcommand being under the `upgrade` command. We already have a `mtls` why not use that?
I can see the point that with it being in the `upgrade` command it provides a consistent user experience during upgrade process. At the same time the command being part of `dapr mtls` will provide

[2022-03-03 17:59] mukundansundar commented on #836
@geekgao could you provide more details on your use case that is causing this issue?

[2022-03-03 18:00] mukundansundar commented on #871
@84819760 Do you have network restrictions that might cause this?

[2022-03-04 06:16] shubham1172 opened #909 "Invoke invalid method does not fail"
## Expected Behavior

When I invoke a non-existent method, it should throw an error (Similar to when I invoke a non-existent app).

## Actual Behavior

It does not throw an error. Instead, app invocation is successful despite the 404. Below shows a screenshot with case (1) app ID and method name are correct, case (2) app ID is incorrect, case (3) method name is incorrect.

![image](https://user-im

[2022-03-04 07:13] shubham1172 commented on #202
/assign

[2022-03-04 14:10] pravinpushkar commented on #892
@mukundansundar
My thoughts on few of the items above  -

Agree. `renew-certificate` is going to be independent of version upgrade. We will maintain same configurations (mtls, ha, version etc) and only certificates will updated.

I think there are 3 things to do here -
1. Update the certificate in kubernetes secret
2.  Restart the dapr system services
3. Display an information to user to restart t

[2022-03-07 06:45] 107295472 opened #913 "Do you want to upload the source code to the service product online?self-hosted"
## Do you want to upload the source code to the service product online?
Release version doesn't work
dapr run --app-id=accountservice --app-port=8050 --dapr-http-port=3500  --placement-host-address="localhost:50005" -- dotnet host.dll

[2022-03-07 07:48] #670 closed

[2022-03-07 08:32] mukundansundar opened #914 "Change E2E KinD k8s versions to mirror dapr/dapr KinD-e2e"
## Describe the proposal
See the following file for the versions used and change the kind e2e files in CLI repo to use the same k8s versions and SHA.
https://github.com/dapr/dapr/blob/master/.github/workflows/kind-e2e.yaml#L65-L84

## Release Note

RELEASE NOTE:

[2022-03-07 08:48] 107295472 commented on #913
@mukundansundar  ver 1.6 ,http://localhost:3500/v1.0/invoke/accountservice/method/accountusecase/AccountLogin
can't request ，dapr run --app-id=accountservice --app-port=8050 --dapr-http-port=3500 --placement-host-address="localhost:50005" -- dotnet run    ok

[2022-03-07 08:49] 107295472 commented on #913
I want to use self hosted  ,But you must use dotnet run. This is the source code. It can't be done online. It needs to be compiled.

[2022-03-07 09:41] sourikghosh commented on #914
can I work on this ?

[2022-03-07 09:49] mukundansundar commented on #914
sure @sourikghosh Please feel free to comment `/assign` to assign the work to yourself.

[2022-03-07 09:56] sourikghosh commented on #914
/assign

[2022-03-07 10:53] #202 closed

[2022-03-07 12:15] mukundansundar commented on #913
@107295472 Please see examples on how to use `.NET` along with `dapr` and the `dapr cli`. Please let me know if that answers your question ... or please clarify a bit more on the error that you are seeing as well as your question.

[2022-03-07 12:39] shubham1172 opened #916 "Make tests more robust with environment variable checks"
## Background

Environment variables `DAPR_RUNTIME_VERSION` and `DAPR_DASHBOARD_VERSION` are used by e2e tests.

https://github.com/dapr/cli/blob/68c2ab84d48892a0deb42e8cb4c3b1fbc356927c/tests/e2e/kubernetes/kubernetes_test.go#L26-L29

https://github.com/dapr/cli/blob/050eb553f2304aca08cdcbae86f44a97552fa121/tests/e2e/standalone/standalone_test.go#L43-L47

Locally, when someone runs `make test-e2e

[2022-03-08 02:05] 107295472 commented on #913
Do you also use dotnet rum online?

[2022-03-08 06:00] #913 closed

[2022-03-09 10:42] shubham1172 commented on #909
As a short-term fix, we will update the dapr CLI to simply exit with error code whilst displaying the http response status code, and stop displaying the entire HTML body. Once the referred issue in runtime is fixed, we will add graceful handling here.

[2022-03-09 12:09] itaranto opened #917 "Add support for the XDG Base Directory Specification"
Please support the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) on Linux/*nix systems.

Right now `dapr` dumps its files in `~/.dapr` which is not nice for several reasons.

If you think that splitting this data between _cache_, _config_ and _user data_ is not feasible to do right now, at the bare minimum put everything under `$XD

[2022-03-09 13:07] #897 closed

[2022-03-09 13:59] #684 closed

[2022-03-11 20:12] #909 closed

[2022-03-12 02:08] #174 closed

[2022-03-12 02:08] #486 closed

[2022-03-12 02:09] #591 closed

[2022-03-12 02:09] #783 closed

[2022-03-14 05:44] artursouza opened #919 "Create apt-get installer for Linux"
This proposal is to simply allow users to install Dapr CLI via: `sudo apt-get install dapr-cli`

[2022-03-14 07:12] mukundansundar commented on #919
related to #173

[2022-03-14 07:51] pravinpushkar commented on #794
/assign

[2022-03-14 17:44] pravinpushkar commented on #892
### Proposed command  - `renew-certificate`
### Flags:
[code]
### Subcommand to ? `dapr mtls` or `dapr upgrade` or standalone

### The below discussion assumes it to be a subcommand to `mtls`

### To provide support for these commands we can take one of the below approches -

### Approach 1 - Using Helm ( Current PR uses this approach):

1. `dapr mtls renew-cert -k`:
    a) This command will gener

[2022-03-16 17:37] #794 closed

[2022-03-17 05:11] paulyuk commented on #726
Let's fix this for real.  The images we need are now in GHCR per https://github.com/dapr/dapr/pull/4365

I'll PR the fix.

[2022-03-17 07:18] pravinpushkar opened #921 "dapr init --image-repository being able to pull images from different registries"
## Describe the issue
`dapr init --image-repository <url>`  being able to pull images from private ghcr, dockerhub or any other private registry. Currently it pulls images only if the images are published under similar path structure like on Dapr Github container registry.

Goal -  Provide more generic approach to use any private registry.

Current behavior example -
private registry can be - `doc

[2022-03-17 07:20] pravinpushkar commented on #921
cc @mukundansundar

[2022-03-17 08:20] mukundansundar commented on #921
@pravinpushkar From the PR https://github.com/dapr/cli/pull/888,

The image will be pulled as `<repository>/<image-name>`. If that is the case why do you need to override prefix path ... Why can't the `--image-repository` flag be specified for both repo and the other path?

[2022-03-17 09:41] surenderssm opened #922 "Broken link of MinGW in docs\devlopment\devlopment.md"
## Expected Behavior

Link to MinGW should take to the correct page - https://www.mingw-w64.org/.

## Actual Behavior

Currently MinGW is linked to - http://www.mingw.org/, which is not valid anymore.

## Steps to Reproduce the Problem

- Go to `docs\devlopment\devlopment.md`
- Look for word `MinGW` and click on the hyperlink

## Release Note

RELEASE NOTE:

[2022-03-17 10:43] #922 closed

[2022-03-17 12:16] surenderssm opened #925 "Specific workflows can be skipped during PR check for changes in non impacting assets"
Currently every PR raised triggers all the gated workflows.
For examples change in `.md` file should not require us to run e2e workflows.

## Steps to Reproduce the Problem

- Raise a PR with change in `.md` file
- Sample PR : https://github.com/dapr/cli/pull/924

## Proposal

- [Leverage Excluding path](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-

[2022-03-17 12:26] #914 closed

[2022-03-17 12:40] surenderssm commented on #925
/assign

[2022-03-17 16:38] paulyuk commented on #726
I spoke to @mukundansundar and @pravinpushkar and recognize now there is a lot more too it and they are already working on it.  The work likely spans to dapr v1.8.  I will contribute to them versus PR myself.

[2022-03-17 16:38] paulyuk commented on #726
I do suggest P1 because the rate limiting problem is becoming a real problem for our tests and github actions.

[2022-03-17 17:40] artursouza commented on #869
Does this issue allow download of 3rd party images too? Like redis and zipkin. Do we still have those hardcoded?

[2022-03-18 03:56] pravinpushkar commented on #869
@artursouza  Yes, the images are still hardcoded. If the private/custom registry mirrors the dockerhub exactly then this command would be able to download the 3rd party images too along with placement. The current solution has this limitation for now.

The fact that cli needs different images which can be under different org/path in private registries, the complete url to pull from could be differ

[2022-03-20 06:46] jjcollinge commented on #870
`dapr inject` moved to `dapr annotate` as it's a more accurate term for what this command is doing. In the future we may consider adding a `dapr inject` that builds on this command to perform a full sidecar injection.

[2022-03-21 06:00] pravinpushkar commented on #921
Updated Subject and description.

[2022-03-22 00:49] #640 closed

[2022-03-22 01:50] shivamkm07 commented on #731
FYI, following PRs resolve the issue:
Release workflow: https://github.com/dapr/installer-bundle/pull/1
Enhancing Dapr CLI: https://github.com/dapr/cli/pull/898

@artursouza this can be closed now.

[2022-03-22 02:08] mukundansundar commented on #731
closing.

[2022-03-22 02:08] #731 closed

[2022-03-22 02:54] #853 closed

[2022-03-22 03:44] #786 closed

[2022-03-22 03:47] mukundansundar commented on #807
moving the epic to next milestone ...

[2022-03-22 07:01] mukundansundar commented on #884
@qayshp Any updates on this? What version of CLI and Dapr are you using?

[2022-03-23 05:03] #892 closed

[2022-03-23 13:03] mukundansundar opened #928 "Add e2e tests for air gap installer feature"
## Describe the proposal

Add e2e tests for air gap installer feature

Get any one of the released installer-bundles, use that to test the air gap installer feature in dapr cli e2e.

## Release Note

RELEASE NOTE:

[2022-03-24 05:34] #726 closed

[2022-03-24 07:45] mukundansundar commented on #641
@kinosang Is there any update on the above comment?

[2022-03-24 23:29] msfussell commented on #731
@shivamkm07 - Please complete the documentation for the feature. This issue https://github.com/dapr/docs/issues/2299

[2022-03-24 23:46] msfussell commented on #893
This issue needs a  mention in the documentation. Also 7 days is too short, this should be 30 days or less IMO. Usually this takes time to plan for production workloads. If this is 7 days this needs changing.

[2022-03-27 02:04] #331 closed

[2022-03-27 04:49] mukundansundar commented on #809
@msfussell Can this issue be closed?

[2022-03-27 04:56] mukundansundar commented on #690
Planning to be released as a preview feature in 1.7 release.
closing this as #640 is closed.

[2022-03-27 04:56] #690 closed

[2022-03-28 03:29] shubham1172 commented on #879
[Writing your own completions - fish-shell 3.4.1 documentation](https://fishshell.com/docs/current/completions.html)

[2022-03-28 05:18] pravinpushkar commented on #893
@msfussell  It is 30 days in current code implementation. So, I think no change needed on this front.
I will mention this in documentation also.

[2022-03-28 09:44] shubham1172 opened #932 "Automate e2e CLI validation for Windows"
## Describe the proposal

Currently, the e2e pipeline is not run for Windows. It needs manual validation before each release.

https://github.com/dapr/cli/blob/a1348603081a2ace4d6355ebf19471e60eb8c319/.github/workflows/self_hosted_e2e.yaml#L42-L51

With this issue, add a Windows entry as well.

RELEASE NOTE: Automate CLI validation in Windows via `--slim` installation

[2022-03-28 10:48] mukundansundar commented on #932
Keep in mind that we have to come up with a solution where in windows runners can use linux containers. See https://github.com/dapr/docs/issues/162

[2022-03-28 10:53] shubham1172 commented on #932
For reference, GH actions do not support container ops on Windows runner yet https://github.com/actions/runner/issues/904

[2022-03-28 14:17] mukundansundar commented on #327
not stale

[2022-03-28 18:15] mukundansundar commented on #906
Reopening this as this was reverted in #933 . rejson does not have an arm image ... which prevents dapr init from working well in arm arch.

[2022-03-29 08:18] esride-jts commented on #257
Any progress on this request? We would love to use dapr with our current podman development and staging infrastructure. Unluckily, I can only offer some ready to use integration tests for geospatial intelligence workflows like [analysing wildfires using Sentinel-2 image services](https://developers.arcgis.com/python/sample-notebooks/wildfire-analysis-using-sentinel-2-imagery/).

[2022-03-30 12:04] shubham1172 opened #937 "New CLI version is very slow on Windows"
Dapr CLI v1.7.0-rc.2 is considerably slower than v1.6.0 on Windows.

Script used: https://gist.github.com/shubham1172/80846320d8a33bd4a39f65edd9177133
[code]

## Release Note

RELEASE NOTE: **FIX** Performance on Windows

[2022-03-30 12:04] shubham1172 commented on #937
/assign

[2022-03-30 15:08] shivamkm07 opened #938 "dapr init in airgap fails when default image registry is set to ghcr"
## Expected Behavior

dapr init --from-dir <path-to-bundle-location> should load the binaries as well as images in bundle correctly always.

## Actual Behavior

In default case (when DAPR_DEFAULT_IMAGE_REGISTRY is set to "dockerhub"), it works fine. But if the user sets it to "ghcr" it fails.

## Steps to Reproduce the Problem

$ export DAPR_DEFAULT_IMAGE_REGISTRY="ghcr"
$ cd daprbundle
$ ./dapr i

[2022-03-30 15:15] shivamkm07 opened #939 "dapr init pulling from dockerhub even if private registry is supplied"
## Expected Behavior

dapr init --image-registry <private-registry> pulls from private-registry always, irrespective of environment variables.

## Actual Behavior

If default image registry is set to ghcr, and the corresponding image is not there in  ghcr, it would pull from dockerhub even if --image-registry flag is supplied.

## Steps to Reproduce the Problem

export DAPR_DEFAULT_IMAGE_REGISTRY=

[2022-03-30 15:22] shubham1172 commented on #937
Some more findings:
1. Dapr CLI v1.7.0-rc.2 is **not** slow if Dapr runtime is uninstalled
2. Dapr CLI v1.7.0-rc.2 is slow even if it points to an older Dapr runtime version (v1.6.0 instead of v1.7.0-rc.1)
3. On timing the individual cli/pkg functions, they perform almost the same for v1.6.0 and v1.7.0-rc.2.

A major change from v1.6.0 to v1.7.0-rc.2 was Go upgrade from 1.16 to 1.17.

[2022-03-30 15:32] mukundansundar commented on #938
This is the format I think the image should be saved as ...
https://github.com/dapr/cli#install-by-providing-a-docker-container-registry-url
[code]

So for the GitHub org owner as dapr since we are publishing the dapr system image, it will be `dapr-dapr-1.7.0-rc.2.tar.gz` as filename in the installer bundle.
If we decided to later on include 3rdparty images also,
it will follow as `dapr-3rdparty-r

[2022-03-30 18:08] pravinpushkar commented on #939
/assign

[2022-03-30 19:56] artursouza commented on #938
I am fine if we remove owner from filenames in installer bundle since those are useful to segregate ownership in registries and does not apply to our own mirror images. It also means that we could change the image for redis, for example, without a single line change in code since it would still be called "redis".

[2022-03-31 06:52] shubham1172 commented on #937
The problem is with the go compiler version. I tried using different compiler versions with different CLI versions and here are the results (100 runs per command)
[code]

Now, CLI v1.7.0 cannot be downgraded to use go 1.16 because of a pkg dependency introduced by https://github.com/dapr/cli/pull/894. See https://github.com/kubernetes-sigs/controller-tools/issues/643.

[2022-03-31 07:44] #799 closed

[2022-03-31 13:11] mukundansundar commented on #939
closed by #940

[2022-03-31 13:11] #939 closed

[2022-03-31 13:29] pravinpushkar opened #941 "Cert renewal flags can create unwanted behavior if executed in wrong way"
## Expected Behavior

a. `dapr mtls renew-certificate -k --ca-root-certificate <ca.crt> --issuer-private-key <issuer.key> --issuer-public-certificate <issuer.crt>`

b. `dapr mtls renew-certificate -k --private-key myprivatekey.key`

1) The flags of the two commands should not be allowed to mix.
2) ~restarting the control plane services in command `b` should not be allowed.~
## Actual Behavior

1)

[2022-03-31 17:07] shubham1172 commented on #937
Phew, test results from a brand-new Windows VM:

[code]

The problem was likely with my computer, which had tons of software running. Closing this issue!

[2022-03-31 17:07] #937 closed

[2022-04-01 03:39] msfussell commented on #809
Yes, this can be closed.

[2022-04-01 03:39] #809 closed

[2022-04-01 03:53] msfussell opened #943 "Add mtls workloadCertTTL and mtls allowedClockSkew CLI commands"
## Describe the proposal

Currently there are several mTLS commands including enabling mtls and seeing the expiry dates of the root certs.
However the mtls CLI does not enable you to view or update the `workloadCertTTL` and the `allowedClockSkew` values for the certs issued to the application. Currently the only way to see and set these value on K8s, is to do this view kubectl command like this

[2022-04-01 04:09] msfussell opened #944 "The mtls expiry and mtls export commands should have the -k option."
## Expected Behavior
These commands should be independent of the platform that the run on, whilst currently they only work on Kubernetes.
It should be;

mtls expiry -k
mtls export -k

When the renew-certificate option was added, this included -k to be explicit. See https://github.com/dapr/docs/pull/2293/files

## Actual Behavior
mtls expiry and mtls export work with the -k option

## Release Note

[2022-04-01 09:07] #610 closed

[2022-04-01 10:18] surenderssm opened #946 "Increase resiliency of init flow by ignoring failures due to removal of archive"
## Expected Behavior

As part of `installBinary` flow we should continue incase of any failures while removing downloaded archive from the default dapr bin path.

We can report the error as an warning and even think of moving removal section to background fire and forget task for perf gains.

## Actual Behavior

Init workflow will stop incase there are any errors while removing the downloaded arch

[2022-04-01 12:32] iamhardikat11 commented on #944
I am a Novice Open Source Contributor, I wish to to contribute to the Dapr Repo, Please Guide me more on how to solve this Issue?

[2022-04-01 16:10] mukundansundar commented on #941
closed by #947

[2022-04-01 16:10] #941 closed

[2022-04-05 01:53] shivamkm07 commented on #938
@mukundansundar This can be closed now.

[2022-04-05 04:33] mukundansundar commented on #938
closed by #945

[2022-04-05 04:33] #938 closed

[2022-04-05 18:05] yaron2 commented on #257
@esride-jts there's a great PR from @martin-bucinskas for this.

[2022-04-05 22:19] auvansang commented on #257
I would love to see this pr is merged, I use podman too!!

[2022-04-06 03:26] msfussell opened #950 "Add resiliency and subscription CLI commands"
## Describe the proposal
Each type of specification should be able to be at least listed via the Dapr CLI. Currently there are CLI commands for Configurations and Components. The two other spec types are subscriptions and the newly (v1.7) introduced resiliency policies, the latter of which are global like configurations and can be applied to any applications.

Resiliency should be the same CLI as

[2022-04-06 07:50] mukundansundar commented on #950
Also in addition the E2E tests need to validate these configurations are there ...

[2022-04-06 12:52] pravinpushkar commented on #892
### Manual verification steps taken for above implementation (Both on windows and linux)-

#### Without apps running -
1. Run `dapr init -k` -> initialize dapr with default certificates
2. Run `dapr status -k` ->  Check for no certificate expiring warning
3. Run `dapr mtls renew-certificate -k --valid-until 15 --restart`
4. Repeat step 2. Notice there will be certificate expiry warning printed.
5.

[2022-04-06 14:01] mukundansundar opened #952 "Behavior of `dapr uninstall -k` and `dapr uninstall` is different when `dapr` not installed"
## Expected Behavior
Both should exhibit same behavior. Either return error or not.

## Actual Behavior
For self hosted
[code]

For k8s
[code]

## Steps to Reproduce the Problem

have no dapr installed and try out the above commands ...

## Release Note

RELEASE NOTE:

[2022-04-06 20:33] msfussell opened #953 "Rename the run `--components-path` flag to a name for suitable for loading many resource types"
## Describe the proposal
When the CLI came out there were only components, now we have 2 more, subscriptions and reliability spec so we need to change the naming accordingly to reflect that this path is used to load multiple types of resources. We can still keep --components-path and slowly deprecate this.

I suggest `--resources-path` or `--spec-resources-path` given that we refer to these as spe

[2022-04-06 21:58] halspang opened #954 "Dapr CLI Cannot Upgrade Dapr Cluster on Edge Version"
## Expected Behavior
When a k8s cluster is running an edge version of Dapr, it should be able to be upgraded to a released version.

## Actual Behavior
Instead of upgrading, it panics on a nil pointer when trying to determine if it's an upgrade or downgrade.

## Steps to Reproduce the Problem
1. Deploy Dapr with a locally built (edge) version.
2. Use the Dapr CLI to upgrade to a different version

[2022-04-08 03:18] mukundansundar commented on #953
I agree that once resiliency files are added as part of CLI init, this would make sense to rename the flag.
Also following the deprecation policy in dapr, the `--components-path` will need to be deprecated first aliased as some other appropriate flag name and later removed 2 releases later.

[2022-04-08 03:28] mukundansundar commented on #943
@msfussell Do we need a CLI command for this? Each configuration file applied to an application is different and it is a simple YAML file. So It can be edited manually. I do not think we need a command for this.

[2022-04-08 03:30] mukundansundar commented on #944
I agree that consistency is needed for certain commands ...
This will be a breaking change though.
cc @yaron2 thoughts on this ?

[2022-04-08 03:33] mukundansundar commented on #921
@pravinpushkar I think this issue has been resolved correct?

[2022-04-08 03:34] mukundansundar commented on #904
@artursouza @yaron2 thoughts on this?

[2022-04-08 03:44] martin-bucinskas commented on #257
/assign

[2022-04-08 04:54] pravinpushkar commented on #921
@mukundansundar We can close this issue as we have standardized the image paths needed for private registries.

On whether we need fully customizable paths or not, I think we can observe the community feedback on `--image-registry` usage and then take a call.

[2022-04-08 04:56] #921 closed

[2022-04-09 20:54] #871 closed

[2022-04-11 04:28] shubham1172 commented on #220
/assign

[2022-04-11 06:33] shubham1172 opened #960 "Golangci-lint: replace deprecated dependency on `golint`"
## Describe the proposal

Golangci-lint complains about the following deprecation:

This work item is to replace `golint` with `revive`.

## Release Note

RELEASE NOTE: **UPDATE** `golangci` configuration to use `revive` instead of `golint`

[2022-04-11 12:10] shubham1172 commented on #960
/assign

[2022-04-11 19:04] #960 closed

[2022-04-12 02:35] ItalyPaleAle opened #962 "Add timeout to HTTP call in `downloadFile` method"
May fix an issue an user reported.

In this line in the `downloadFile` method (part of the `dapr init` command):

https://github.com/dapr/cli/blob/4765d02e5ab4675985aa59cbc6d5ecd91ff14b68/pkg/standalone/standalone.go#L1050

The binary is downloaded by using the default HTTP client with no timeout configured. In case of a network issue, that may cause the application to hang forever.

See how we im

[2022-04-12 03:14] AvtsVivek opened #963 "dapr init --slim gives me - error moving dashboard.exe binary to path: rename"
As per the suggestion [here](https://github.com/dapr/samples/issues/97#issuecomment-1094259195), I am raising a new issue
I am trying to do [this dapr slim sample](https://github.com/dapr/samples/tree/master/hello-dapr-slim).

I ensure a clean slate by running dapr uninstall --all.

Then I start with [the first step of Slim Init](https://github.com/dapr/samples/tree/master/hello-dapr-slim#step-1--

[2022-04-12 17:16] berndverst commented on #891
I think the idea is that the CLI generates the private root key locally already. So what this is asking is to make that available to you for reuse later - and if you do have it already you should be able to specify it to sign new certificates in the future. Does that make sense?

I'm not sure whether in the kubernetes case the certificates are generated on the server / within the sentry service in

[2022-04-12 18:07] pravinpushkar commented on #891
Summary based on the discussion -
1. It would make more sense to provide a way to save the private key while doing `dapr init` itself.
a.  Need to explore the feasibility with current `dapr init` behavior.
2. In case of external certificates, it is up to operator/user to save the private key. We can document about this.

[2022-04-13 04:37] shivamkm07 commented on #963
As per the discussion [here](https://github.com/dapr/samples/issues/97), the issue is happening because there was dashboard running in the background, and so windows couldn't remove the dashboard binary while uninstalling (There is a warning message stating the same during uninstall). And so, when `dapr init` is tried, it throws error.

Note that the behavior is specific to windows, as in Linux, u

[2022-04-13 12:26] pravinpushkar commented on #891
After exploring current `dapr init` implementation, following is my observation -
1. `dapr init` completely depends on sentry service for generating private key and certificates. So, the private key is not available locally for it be saved for later use(exported).
2. Helm parameter options does not support `private key`(see [supported options](https://github.com/dapr/dapr/tree/master/charts/dapr#d

[2022-04-18 06:04] pravinpushkar opened #964 "Update development guide for using devcontainer as alternate dev environment"
## Describe the proposal

We can update the current development guide [development.md](https://github.com/dapr/cli/tree/master/docs/development) with usage of dev container as an alternate dev environment.

## Release Note

RELEASE NOTE:

[2022-04-18 06:11] shubham1172 commented on #964
For reference: https://code.visualstudio.com/docs/remote/devcontainer-cli

[2022-04-18 07:45] shubham1172 commented on #863
@mukundansundar can you please open this issue again? There is an associated PR to close it.

[2022-04-19 03:24] msfussell commented on #953
I do not think the name should contain resiliency, since there are also subscription resource types and I expect there will be more resource types in the future. Part of this is that we need to agree on a good name for these resources (staying away from CRDs which is a K8s term).

[2022-04-19 05:05] mukundansundar opened #965 "E2E - Self hosted workflow broken in MacOS/Darwin runner"
Fix broken E2E self hosted action with MacOS/Darwin.

See https://github.com/dapr/cli/actions/runs/2186053453.

The dependent action in the E2E workflow does not seem to be working correctly which in turn fails this workflow.

This has been broken for the past 7 days.

## Release Note

RELEASE NOTE: NOT APPLICABLE

[2022-04-19 05:12] pravinpushkar commented on #965
This might be useful - https://github.com/dapr/quickstarts/pull/649/files

[2022-04-19 05:12] shubham1172 commented on #965
Same issue https://github.com/docker-practice/actions-setup-docker/issues/16

[2022-04-19 08:42] shubham1172 commented on #965
With v1.0.9 https://github.com/dapr/cli/runs/6072922915?check_suite_focus=true
With v1.0.8 https://github.com/dapr/cli/runs/6073371177?check_suite_focus=true

In the one run, 1.0.8 seems to be working fine. Should we rerun it to be sure that it does not cause intermittent failures?

[2022-04-20 04:31] #965 closed

[2022-04-21 05:58] thanhhh commented on #257
I solved this issue by using the following script for Dapr `init` and `uninstall`:

* Dapr Init

[code]
* Dapr  uninstall

[code]

[2022-04-22 06:11] pravinpushkar opened #968 "Supporting Dapr ghcr/private registry for dapr init in kubernetes mode"
## Describe the proposal

Currently Helm chart is configured to pull the required images from Docker Hub, see [Dapr helm chart](https://github.com/dapr/dapr/blob/cc4df6b440b41f3b51e8253cc08dffb286ac1082/charts/dapr/values.yaml#L2).

Provide a way to re-configure this helm chart parameters.
We might need to check this for -
1) dapr init -k
2) dapr upgrade -k

#### Supporting Dapr github container r

[2022-04-25 23:46] berndverst opened #969 "New env variable `DAPR_UDS_GRPC_PATH` when using `--unix-domain-socket`"
## Describe the proposal

Today the CLI can start Dapr using the unix domain socket mechanism. The flag `--unix-domain-socket` provides a path prefix $UDSPREFIX with the remainder of the full path being `/dapr-$APPID-grpc.socket` for grpc and similar for http.

When using the Python SDK it is impossible to programmatically determine what the full UDS path is. With the help of the proposed `DAPR_UD

[2022-04-26 01:41] daixiang0 commented on #969
Why can python SDK not programmatically determine it? Is there something limited?

[2022-04-26 04:35] shivamkm07 opened #970 "dapr run fails after airgap dapr init"
## Expected Behavior

After airgap dapr init, `dapr run` should work fine

## Actual Behavior

Airgap dapr init creates components files `pubsub.yaml` and `statestore.yaml` in the default components folder and also adds `tracing` spec in default config file which uses zipkin. But redis and zipkin ain't packaged in bundle and so `dapr run` fails after airgap init

## Steps to Reproduce the Problem

[2022-04-26 04:44] mukundansundar commented on #970
@shivamkm07 AirGap init should have the same set of files that are init for slim init and not the ones that are done for normal init ...

[2022-04-26 05:10] mukundansundar commented on #970
A mitigation step for now is to remove the tracing related fields in the config file but keep that file and remove the pubsub and state-store yaml files.
Another mitigation can be to start Redis and Zipkin in Docker and leave the configuration files as such.

[code]

[2022-04-26 05:10] mukundansundar commented on #970
@artursouza @yaron2 Since air gap init is in preview, I would like to mark this as P1 and not a P0 for hot fix. Any issues with that?

[2022-04-26 08:56] mukundansundar commented on #969
@berndverst This cannot be in CLI alone, it needs to be set for any daprd enabled application. UDS support was added for k8s as well (https://github.com/dapr/dapr/pull/4348) so it needs to be set as an environment variable when k8s annotation is also set. CLI can pass for the self-hosted mode.

[2022-04-27 08:23] springeye opened #971 ".dapr/bin/daprd: no such file or directory"
macos 12.3.1
m1 max.
install dapr cli by homebrew
[code]

[code]

[code]

[2022-04-27 08:40] springeye commented on #971
i sure!

[2022-04-27 08:40] #971 closed

[2022-04-27 13:43] #323 closed

[2022-04-30 20:19] yaron2 commented on #641
Ping @kinosang

[2022-05-01 06:34] kinosang commented on #641
@yaron2 sorry for the long delay, I'm no longer trying the dapr framework. Thx for your follow-up.

But I'll have a test asap.

[2022-05-03 05:00] #804 closed

[2022-05-04 10:58] cveld commented on #424
Does winget provide some PowerShell install/uninstall scripting extension points? I believe Chocolately does.

[2022-05-04 13:16] cveld opened #972 "Quote in username errors dapr init"
## In what area(s)?

Dapr cli; in particular dapr init

## What version of Dapr?

dapr --version
CLI version: 1.7.0
Runtime version: 1.7.2

## Expected Behavior

Dapr init runs smoothly.

## Actual Behavior

Dapr init errors out because it doesn't use proper escaping of the userprofile env var path.

[code]

## Steps to Reproduce the Problem

I believe just set the userprofile env var to something

[2022-05-04 18:56] yaron2 commented on #972
Moved.

[2022-05-05 10:41] tikluganguly opened #973 "dapr init fails in windows 11"
Hi All,

          I am getting the following error when I am trying to do dapr init

C:\Users\TikluGanguly>dapr init
Making the jump to hyperspace...
Container images will be pulled from Docker Hub
Installing runtime version 1.7.2
Downloading binaries and setting up components...
docker: Error response from daemon: container b77da94892ebb77bcf6ce868e0b21e8a1025a2826e8d8f93acc0bef806cd69dd encount

[2022-05-05 10:43] tikluganguly commented on #973
Here is the output of my docker version

Client:
 Cloud integration: v1.0.23
 Version:           20.10.14
 API version:       1.41
 Go version:        go1.16.15
 Git commit:        a224086
 Built:             Thu Mar 24 01:53:11 2022
 OS/Arch:           windows/amd64
 Context:           default
 Experimental:      true

Server: Docker Desktop 4.7.1 (77678)
 Engine:
  Version:          20.10.14
  A

[2022-05-05 11:35] tikluganguly commented on #973
Ok, I was finally able to solve this issue. I was getting this issue as my container was using windows. so switched it to Linux first.
![image](https://user-images.githubusercontent.com/222026/166914716-6974a9ce-9ef8-4e49-b4eb-63c0e658151d.png)

next I uninstalled dapr by typing
dapr uninstall

there were still some residue container images and volume was present. I deleted them from docker deskto

[2022-05-05 11:35] #973 closed

[2022-05-05 15:51] sharadregoti opened #974 "❌ fork/exec /root/.dapr/bin/daprd: no such file or directory"
## Expected Behavior
Launch a Dapr sidecar that will listen on port 3500 for a blank application named myapp:

## Actual Behavior
As per the getting started docs, After running `dapr init`. I had to run this command `dapr run --app-id myapp --dapr-http-port 3500`

But the above step failed.
There are multiple behaviours that i want to highlight
1) After running dapr init command, I am not able to

[2022-05-05 23:00] yaron2 opened #975 "CLI does not install Resiliency CRD"
When upgrading from Dapr 1.X to 1.7.X or when installing a new 1.7.x Dapr installation on Kubernetes, the resiliency CRD isn't applied to the cluster.

This causes the resiliency feature to be unusable as users can't deploy the CRs to the cluster.

[2022-05-06 11:35] geekgao commented on #836
My fault.

[2022-05-06 11:35] #836 closed

[2022-05-06 15:47] yaron2 commented on #975
Closed via #977.

[2022-05-06 15:47] #975 closed

[2022-05-09 14:53] cveld opened #978 "Dapr run does not pass through keyboard input to client process"
## Expected Behavior

I am running a Blazor Server app with the following command-line for enabling hot reload from within a vscode integrated PowerShell terminal:

[code]

In `appsettings.json` I have specified `"Urls": "http://localhost:5000"`. Although `dotnet watch run` is accepting `--url <url>`, this is not accepted by `dotnet watch`.

To enforce a restart one would like to press CTRL-R. And

[2022-05-10 19:22] spottedmahn opened #979 ".dapr folder not installed"
I'm on step 5 of the guide: [Step 5: Verify components directory has been initialized](https://docs.dapr.io/getting-started/install-dapr-selfhost/#step-5-verify-components-directory-has-been-initialized) & I'm not seeing that folder:

ls: cannot access '/home/mdepouw/.dapr': No such file or directory

---

I've tried this guide previously so I old bits installed so I ran an `uninstall` first:

ℹ️

[2022-05-10 19:30] spottedmahn commented on #979
I just tried this & it failed:

WARNING: no application command found.
❌  stat /home/mdepouw/.dapr/components: no such file or directory

So I re-ran w/ `sudo` and it succeeded.  The `.dapr` folder must somewhere then, right?

WARNING: no application command found.
ℹ️  Starting Dapr with id myapp. HTTP Port: 3500. gRPC Port: 34727

[2022-05-11 16:35] pravinpushkar opened #980 "Update go version to 1.18"
As dapr runtime has moved to go version 1.18, does it make sense to upgrade go version for CLI also?

[2022-05-12 12:01] pravinpushkar commented on #979
@spottedmahn Can you please check inside the root directory for .dapr folder.
Also did you try `dapr init` without sudo and check for above directory.

[2022-05-12 12:12] pravinpushkar commented on #974
@sharadregoti
I followed the exact same steps as you mentioned in the steps to reproduce, I could not reproduce this.
Can you please try to execute the steps without sudo. Ideally after doing `dapr init` running this command  `dapr --version` should produce correct cli and runtime versions.

[2022-05-13 06:08] shubham1172 commented on #979
Since you are using `sudo` while `init`, it installs `.dapr` in `/root/`.

[code]

[2022-05-16 17:22] masters3d commented on #172
+1 pls

[2022-05-17 14:33] spottedmahn commented on #979
I did (& I should have mentioned that).  I'm running w/ `sudo` b/c WSL can't communicate w/ my Windows Docker unless I do 🤷‍♂️.

This problem is probably fall-out from that problem ❄⚾(snowball).  I'll have to tackle that issue apparently, thanks for your help!

[2022-05-17 14:33] #979 closed

[2022-05-18 09:05] hrvatskibogmars commented on #884
latest.

Facing the same issue you cannot have multiple kubeconfigs in ENV var. It's really useful when you have to manage multiple clusters via kubectx.

[2022-05-20 05:52] pravinpushkar opened #981 "Workflow for E2E - self hosted is not stable on MacOS - darwin"
## Expected Behavior

Workflow should run successfully on MacOS

## Actual Behavior

This workflow is broken since several run now. Same issue is happening with QuickStart's Repo as well.
It is happening with all below versions of the action being used -
docker-practice/actions-setup-docker@1.0.8
docker-practice/actions-setup-docker@1.0.10
docker-practice/actions-setup-docker@v1

Even the CI's for

[2022-05-20 10:16] pravinpushkar commented on #954
/assign

[2022-05-20 10:22] pravinpushkar commented on #954
I think, it is not always possible to determine upgrade or downgrade case from an edge version. So, it is better to handle the error when it is unable to parse the current version of `dapr` and fail the upgrade here -
https://github.com/dapr/cli/blob/0c514816cdc5de73bc0106a922103293bf810926/pkg/kubernetes/upgrade.go#L172
as this -
[code]
@mukundansundar

[2022-05-20 16:47] pravinpushkar commented on #980
/assign

[2022-05-21 21:32] mhoad commented on #257
This is still being worked on I believe?

[2022-05-23 14:29] pravinpushkar commented on #968
/assign

[2022-05-23 14:42] pravinpushkar opened #987 "Refactor generateNewCertificate() method in renew_certificate.go"
## Describe the issue

It is related to recent refactoring PR in dapr/dapr- https://github.com/dapr/dapr/pull/4582
We must refactor the method here https://github.com/dapr/cli/blob/0c514816cdc5de73bc0106a922103293bf810926/pkg/kubernetes/renew_certificate.go#L151

to make use of newly exported method from sentry here
https://github.com/dapr/dapr/blob/a1f71d1a47cd613b62662ac558e3f4314d1ea26e/pkg/sen

[2022-05-24 00:27] martin-bucinskas commented on #257
Yes, will push out the changes the upcoming weekend.

[2022-05-24 04:44] pravinpushkar commented on #981
/assign

[2022-05-24 11:44] pravinpushkar commented on #987
/assign

[2022-05-31 06:28] #981 closed

[2022-06-01 16:11] #737 closed

[2022-06-01 17:14] artursouza opened #990 "Migrate installer bundle spec to CNAB"
## Describe the proposal

We have our own custom schema for the installer bundle artifact (offline installer). Instead, we should use CNAB and take advantage of digital signatures:

https://github.com/cnabio/cnab-spec/tree/cnab-core-1.2.0

## Release Note

RELEASE NOTE: **ADD** support to CNAB spec in installer bundle.

[2022-06-01 20:45] ItalyPaleAle opened #991 "--dapr-http-read-buffer-size in the docs but not implemented"
## Expected Behavior

According to [the docs](https://docs.dapr.io/reference/arguments-annotations-overview/), it should be possible to set the read buffer size with the flag `--dapr-http-read-buffer-size`.

## Actual Behavior

The flag doesn't seem to exist: https://github.com/dapr/cli/blob/master/cmd/run.go#L351-L368

## Steps to Reproduce the Problem

Using the flag `--dapr-http-read-buffer-siz

[2022-06-02 06:20] jjcollinge opened #992 "Proposal: CRD generation + discovery"
## Describe the proposal

#### CRD Generation

Currently in order to create a Dapr component, subscription, configuration, middleware or resiliency policy you have to write a YAML manifest by looking at the docs or an example. I think we can make this easier for developers by providing a generator in the CLI.

You could create a Dapr CRD using a prompt based approach.

[code]

Or you can provide f

[2022-06-02 09:06] #969 closed

[2022-06-02 15:00] #870 closed

[2022-06-03 04:58] #980 closed

[2022-06-03 05:37] mukundansundar commented on #992
This proposal looks good ... Though I have concerns with hardcoding CRD schema or having it in a separate repo.
I feel that if hardcode schema/CRD lists/components in CLI or a separate repo, there are lots of chances of errors and omissions happening.

If we can standardise metadata processing across components, should we able to autogenerate a schema file for each component in components-contrib

[2022-06-03 06:20] jjcollinge commented on #992
@mukundansundar yh I agree that hard coding is error prone and if we can have a reliable autogen for schema that would be best.
I will have to play with a few things to see what is doable but we might be able to use struct tags on metadata to define the schema rules i.e. required, min, max, etc. Then we add a new program to component-contrib which enumerates the components and generates their sche

[2022-06-03 06:24] pravinpushkar commented on #992
I think `CRD Discovery` and using the desired one, could really be useful given that we decide on how and where to store the CRD's.  I would support for having the CRD templates in component's-contrib itself as they are really related to each components.

For `CRD Generation` I think creating the YML file by following some doc or template might be easier, as while using these commands it may be re

[2022-06-03 06:59] jjcollinge commented on #992
@pravinpushkar +1 schemas going in `components-contrib`.
I think giving examples via the CLI might also be really neat to avoid developers having to context switch to a browser. The sort of workflow I am proposing is:
[code]
This might seem a bit verbose but I personally find having to navigate either the docs, quickstarts, tutorials, samples to find a particular component example/structure wastef

[2022-06-03 08:23] jjcollinge commented on #992
I just threw together a quick example of how we might consider generating schemas for components [here](https://github.com/jjcollinge/components-contrib/tree/jjcollinge/component-metadata/schemas). We would have to change all components over to using explicit structs rather than just getting keys from metadata maps. We could also use the schema to perform validation on the input data rather than h

[2022-06-04 02:50] yaolc opened #996 "windows 10 install dapr 1.7.3 failed"
C:\WINDOWS\system32>dapr init --from-dir D:\daprbundle
Making the jump to hyperspace...
Local bundle installation using --from-dir flag is currently a preview feature and is subject to change. It is only available from CLI version 1.7 onwards.
Installing runtime version 1.7.3
Extracting binaries and setting up components...
error moving dashboard binary to path: ʹ�á�3�����������á�SetEnvironmentVar

[2022-06-06 09:13] shivamkm07 commented on #996
@yaolc I tested with installer-bundle 1.7.3 on my windows machine and it worked well for me:

[code]

The error log reports issue in moving dashboard binary, which possibly might be because you could have dapr dashboard running in background and so windows would report error if you try to overwrite the dashboard binary. Can you please check if it's the case?

[2022-06-06 11:33] yaolc commented on #996
@[shivamkm07](https://github.com/shivamkm07)

this is the first time I installed dapr ,i try a lot of times,but failed.I was followed the step of daprbundle ,but the error still existed.
So I ask if any setting in my system didnot set.

PS C:\daprbundle> .\dapr.exe init --from-dir .
Making the jump to hyperspace...
Local bundle installation using --from-dir flag is currently a preview feature and

[2022-06-07 00:53] hueifeng commented on #962
/assign

[2022-06-07 00:53] hueifeng commented on #991
/assign

[2022-06-07 01:50] yaolc commented on #996
I was fixed this problem by uninstall Antivirus software .Thanks

[2022-06-07 01:50] #996 closed

[2022-06-08 01:17] hueifeng commented on #925
Can we consider adding the following?

[code]

I found this a few e2e yaml files [kind_e2e.yaml](https://github.com/dapr/cli/blob/master/.github/workflows/kind_e2e.yaml)、[self_hosted_e2e.yaml](https://github.com/dapr/cli/blob/master/.github/workflows/self_hosted_e2e.yaml)、[upgrade_e2e.yaml](https://github.com/dapr/cli/blob/master/.github/workflows/upgrade_e2e.yaml), are there any other files need

[2022-06-09 04:59] #991 closed

[2022-06-09 07:49] mukundansundar commented on #925
@hueifeng The list looks good.

Please feel free to assign this issue to yourself ....

[2022-06-09 07:57] hueifeng commented on #925
/assign

[2022-06-09 08:04] mukundansundar commented on #963
@AvtsVivek Was this issue resolved ?

[2022-06-09 08:44] mukundansundar commented on #891
@pravinpushkar Is the conclusion that this feature is not feasible with the current implementation? Or is it that it is not feasible at all?

[2022-06-09 15:54] hueifeng commented on #952
/assign

[2022-06-09 16:16] hueifeng commented on #916
@mukundansundar Can this issue be closed? see: https://github.com/dapr/cli/pull/945

[2022-06-09 18:37] #925 closed

[2022-06-09 18:38] mukundansundar commented on #916
closing as part of previous milestone work.

[2022-06-09 18:38] #916 closed

[2022-06-10 09:18] #963 closed

[2022-06-11 05:43] hueifeng commented on #953
We use ` --spec-resources-path` is more appropriate? I will assign this issue.

[2022-06-11 05:44] hueifeng commented on #953
/assign

[2022-06-11 09:03] hueifeng commented on #978
I adjusted the problem.

## introduce
1. `dotnet watch` does not support the parameters of `--urls`, because the dotnet CLI does not support it (this is not a problem with dapr).
2. `dotnet run` command supports the use of `--urls` parameters.
[code]
3.`dotnet watch` Hot reload Also seems to be normal.

[code]

[2022-06-14 14:33] pravpuru opened #1001 "error downloading daprd binary"
In Windows 10, trying to perform 'dapr init' in Powershell in administrator mode. Everytime i try dapr init it fails.

PS C:\Users\xxxxx> dapr init
Making the jump to hyperspace...
Container images will be pulled from Docker Hub
Installing runtime version 1.7.4
Downloading binaries and setting up components...
error downloading daprd binary: open C:\Users\xxxxx\.dapr\bin/daprd_windows_amd64.zip: A

[2022-06-14 14:37] hueifeng commented on #1001
@pravpuru Can you create files manually in `C:\Users` successfully

[2022-06-14 14:40] pravpuru commented on #1001
@hueifeng Yes, i'm able to create files. To be specific, in C:\Users\MyUserId\

[2022-06-14 14:48] hueifeng commented on #1001
Based on the description for this is the insufficient permissions, you can delete files in this directory?

[2022-06-14 15:01] pravpuru commented on #1001
I'm able to delete any file in the directory. So I'm wondering if the error message is misleading.

I don't see daprd_windows_amd64.zip in the path  C:\Users\xxxxx.dapr\bin after i get this error.

[2022-06-15 05:56] pravinpushkar commented on #1001
@pravpuru Are you getting this only in 'administrator' mode ? I just tried on my local, seems to be working fine. Can you try `dapr uninstall --all` then do `dapr init`.

[2022-06-15 11:38] pravinpushkar commented on #891
@mukundansundar
With the current design it is not feasible to store the private key  -
1. In dapr init, private key is generated in sentry service, so we need a way to store the private key- May be recent Volume mount feature could be useful here (?)
2.  If we want to create private key in cli and then pass it along to helm install, then we need to make change in cli and helm charts. IMO it will m

[2022-06-15 13:12] callebjo opened #1002 "Enable Resiliency preview feature on Kubernetes"
## Ask your question here

Hi,

I have followed the dapr documentation to implement the resiliency feature in the DTA environment, but getting the below error after applying the component yaml.
error: unable to recognize "resiliency.yml": no matches for kind "Resiliency" in version "[dapr.io/v1alpha1](http://dapr.io/v1alpha1)"

Following are steps followed and the corresponding yaml files,
1. Enab

[2022-06-15 14:18] middt commented on #454
I have the same problem

[2022-06-15 14:47] yaron2 commented on #1002
Are you running Dapr 1.7.x?

[2022-06-15 23:35] pravpuru commented on #1001
@pravinpushkar  I've tried that. Still no luck. Doing this worked for me.
Downloaded the daprd_windows_amd64.zip manually and placed the extracted exe in the bin.

[2022-06-16 14:13] callebjo commented on #1002
Hi,

We are on dapr 1.7.0

Regards

[2022-06-16 16:45] hueifeng opened #1003 "`FOSSA` Abnormal state"
## Expected Behavior

Make the state normal, solve the problem of `FOSSA`

[![FOSSA Status](https://app.fossa.com/api/projects/custom%2B162%2Fgithub.com%2Fdapr%2Fcli.svg?type=shield)](https://app.fossa.com/projects/custom%2B162%2Fgithub.com%2Fdapr%2Fcli?ref=badge_shield)
## Steps to Reproduce the Problem

I have no permission operation. At present, our `FOSSA` is in an abnormal state and needs to

[2022-06-18 03:17] hueifeng commented on #884
@qqbuby  please comment here with `/assign` to be assigned to this issue :)

Thanks!

[2022-06-18 08:44] qqbuby commented on #884
/assign

[2022-06-18 14:01] shubham1172 commented on #1003
Issue due to the two false-positives
-  github.com/apache/thrift
- github.com/couchbaselabs/gojcbmock

Resolved.

[2022-06-18 14:02] shubham1172 commented on #1003
Please reopen this ticket if issue persists.

[2022-06-18 14:05] hueifeng commented on #1003
close this issue.

[2022-06-18 14:05] #1003 closed

[2022-06-21 05:40] #987 closed

[2022-06-21 05:44] mukundansundar commented on #1002
@callebjo Can you use 1.7.1 version of CLI? A fix was released for the resiliency CRD installation .... https://github.com/dapr/cli/releases/tag/v1.7.1

[2022-06-21 17:33] ItalyPaleAle opened #1004 "Add support for using Mariner-based images"
## Describe the proposal

Starting with Dapr 1.8, we will have Mariner-based Docker images for Linux, whose tag ends in `-mariner` (e.g. `dapr-mariner`). Although optional, we should have a way to allow the CLI to use those images.

## Release Note

**ADD** Support for using Mariner-based Docker images

[2022-06-22 03:41] #968 closed

[2022-06-22 04:35] #962 closed

[2022-06-22 05:52] GFlisch opened #1009 "Add capability to specify a custom folder when using dapr init --slim command"
## Describe the proposal

It is possible to install the CLI on a specific folder but not the dapr.exe.

The code uses always the DefaultConfigFilePath() which is using the  homeDir, _ := os.UserHomeDir().

I would like to have a capability to specify another "home" directory. The company where I am working we have not the right to install non signed exe anywhere and we are not admin of our pc. But

[2022-06-28 06:07] mukundansundar opened #1013 "A `%` sign is added at the end of `dapr version` command output"
## Expected Behavior

No `%` sign is added.

## Actual Behavior

A `%` sign is added at the end of `dapr version` command output

[code]
[code]

## Steps to Reproduce the Problem

Build latest version of code from release-1.8 branch and run the `dapr version` command.

## Release Note

RELEASE NOTE:

[2022-06-28 06:20] shivamkm07 commented on #1013
Checked with rc1 release as well as release 1.8 build on linux: works fine, no % sign added in version

[2022-06-28 06:21] pravinpushkar commented on #1013
Works fine on windows too.

[2022-06-28 06:49] mukundansundar commented on #1013
In Mac in ZSH, ZSH automatically added a new line at the end of output and added a highlighted `%` sign at the previous line to potentially indicate the missing newline char. In bash, it works as expected without any issue.

[2022-06-29 04:45] mukundansundar commented on #1013
closed by #1014

[2022-06-29 04:45] #1013 closed

[2022-06-30 08:14] MichaelHindley opened #1015 "Commands print non-json warning when output set to json"
When using the list command(and others it seems) always print the warning.

This makes it very hard to programatically do things based on for instance json output, since the json output is not valid json due to the warning that is always printed, introducing parsing logic for  the warning before working with the json output.

[code]

`SyntaxError: Unexpected token ⚠ in JSON at position 0`

Suggest

[2022-07-03 09:33] jjcollinge commented on #992
/no-stale

[2022-07-04 08:45] pravinpushkar commented on #1015
I think, `--no-warning` can be a good addition here. @mukundansundar @yaron2

[2022-07-04 09:10] pravinpushkar commented on #990
Ping. Not stale

[2022-07-05 04:26] shubham1172 opened #1018 "Add missing annotations to the annotate cmd"
## Describe the proposal

Some annotations are missing in the annotate command. See https://v1-8.docs.dapr.io/reference/arguments-annotations-overview/

They need to be added to the annotate command.
|annotation|
|--|
|"dapr.io/http-read-buffer-size"
|"dapr.io/enable-api-logging"
|"dapr.io/unix-domain-socket-path"
|"dapr.io/volume-mounts"
|"dapr.io/volume-mounts-rw"
|"dapr.io/disable-builtin-k8s-s

[2022-07-05 04:35] mukundansundar commented on #1015
@MichaelHindley  I think warnings should be printed in STDERR ... Thereby if only STDOUT is read, only the output will be there ....
Also for flag, this is too specific to this warning ... I am thinking it should probably be some form of a well known flag name like `--quiet` or `--silent` and that it should apply to all commands globally in dapr CLI ...
@yaron2 Thoughts?

[2022-07-05 07:48] shubham1172 commented on #1018
/assign

[2022-07-05 07:57] mukundansundar commented on #990
@artursouza There is at least one limitation that I saw in the CNAB spec,
[code]
https://github.com/cnabio/cnab-spec/blob/cnab-core-1.2.0/100-CNAB.md

This means that we would potentially need a way to install in env which have container runtimes to use the invocation image, whereas the slim install using the installer bundle will then be through the dapr CLI.
I think we can still explore on stand

[2022-07-05 11:06] shubham1172 opened #1021 "[Draft][Proposal] Option to use custom container registries for initializing Dapr"
## Describe the proposal

The CLI supports the `--image-registry` flag during init to pull container images from - [docs](https://v1-8.docs.dapr.io/reference/cli/dapr-init/), but is limited to two specific image registries (GHCR and DockerHub), with hard coded repositories.

https://github.com/dapr/cli/blob/b12645011f6f4f9b2d67beab14ca0f8e0035ad77/pkg/standalone/standalone.go#L56-L67

This proposa

[2022-07-05 11:37] shubham1172 commented on #1021
On discussing further, this needs some more thought. The idea is to make it both configurable and consistent across standalone and k8s modes.

[2022-07-05 11:37] #1021 closed

[2022-07-06 08:41] mukundansundar commented on #1018
closed with #1020

[2022-07-06 08:41] #1018 closed

[2022-07-08 18:34] #868 closed

[2022-07-08 21:59] cgillum opened #1023 "Default Dapr gRPC port is inconsistent with documentation"
According to [the `dapr run` documentation](https://docs.dapr.io/reference/cli/dapr-run/), the default value for `--dapr-grpc-port` is `50001`.

![image](https://user-images.githubusercontent.com/2704139/178075521-6925b662-36af-4f91-b84e-31b960e47a44.png)

## Expected Behavior

When invoking `dapr run` without specifying `--dapr-grpc-port` would cause it to listen on port 50001 for gRPC.

If using

[2022-07-12 02:31] artursouza opened #1025 "CLI to detect used ports"
## Describe the proposal

When using `dapr run`, the CLI should proactively detect the currently used ports and error out with a clear message. This should be true for every port the CLI will use: Dapr HTTP port, Dapr gRPC port, App port and metrics. This can reduce a lot of friction when getting started on Dapr or simply day to day troubleshooting. The App port should be checked **ONLY** if there

[2022-07-12 03:41] shivamkm07 commented on #1004
\assign

[2022-07-12 03:43] shivamkm07 commented on #1004
Since default dapr images ain't mariner, this should require adding a flag in dapr init. Something like `dapr init --mariner`. Would that be okay?
cc @mukundansundar